[2017-05-11 19:26] #323 closed

[2017-05-12 15:05] aantron opened #351 "Release 3.1.0 around 19 July 2017"
See the [associated 3.1.0 milestone](https://github.com/ocsigen/lwt/milestone/8) for a subset of the issues to be addressed.

(19 July is three months after release 3.0.0 became installable).

(Breaking changes in the 3.1.0 milestone will actually be made in 4.0.0 or later, but we have to take steps to prepare as part of release 3.1.0).

[2017-05-13 14:31] mfp commented on #329
What would be needed for the 3.1.0 milestone wrt. this?

Making the branch with the new semantics available? Not sure how it ties to 3.1.0 effectively; it could be made available at any time (with enough advance) before (hypothetically) 4.0.  Or to put it in another way, it doesn't seem to me 3.1.0 would block on this.

What we can and probably should do already in 3.1.0 is try to encourage the tr

[2017-05-13 15:09] mfp opened #352 "Point to discuss.ocaml.org from docs"
[discuss.ocaml.org](https://discuss.ocaml.org) was just launched as an experimental service.

There's a bit of a (IMHO misguided) rush to create new categories (see e.g. the one for Core/Async), and I'm not going to suggest one be created for Lwt at this point in time. If discuss.ocaml.org goes somewhere it might happen at some point though -- after all Lwt is the most installed library as per OPA

[2017-05-13 15:46] aantron commented on #329
I agree that 3.1.0 doesn't block on this. To answer a hypothetical broader query, any issue can be dropped from a milestone if we don't have enough time, etc. – I just assigned this issue to 3.1.0 as a reminder to give the issue a hard look, in case we want to do 4.0.0 three months after 3.1.0, without an intervening minor release, and want to commit this change in 4.0.0. That might not be realist

[2017-05-13 16:31] copy commented on #315
I'm also running into this (or a very similar issue) and I hope I can provide some useful infos:

- Besides the segfaults, I also get a failing assertion in some cases:

[code]

- This is on Lwt 3.0.0, OCaml 4.04.0
- I'm not using many libraries with stubs, here are my deps:

[code]

[code]

[2017-05-13 16:34] aantron commented on #315
Oof. Looking for it...

[2017-05-13 16:37] aantron commented on #315
@copy, in your case, can you reproduce this reliably or somewhat reliably? It would help me to be able to investigate it locally.

[2017-05-13 16:46] mfp commented on #329
I seemed to remember you'd rejected the idea of deprecating it before, but it was actually the renaming of `wakeup_later` to `resolve` you deemed unnecessary. (The reason I put that possibility forward is that a rename would raise attention towards the new semantics and its rationale, the name would be shorter and consistent with the new terminology, but it's not clear whether it is worth the effo

[2017-05-13 16:54] aantron commented on #329
Well, I think it's unnecessary as part of this specific issue, but I would like `resolve` at some point, in general :) I'm just worried about the terminology. In the `lwt.ml` refactoring, I ended up using "resolve" to correspond to `Result.Ok`, "fail" to correspond to `Result.Error`, and "*complete*" to correspond to either one of these two actions. I don't like "complete," and it seems like "reso

[2017-05-13 17:04] aantron commented on #315
Yes, both of these are due to a promise actually being resolved, when `lwt.ml` expects it to still be pending. If that's a fault in `lwt.ml` (and not some kind of preemptive threading race condition), it represents a pretty serious logical error, and I'd love to fix it/for us to fix it.

And 🤣

[2017-05-13 17:07] copy commented on #315
Somewhat, it happens when stress-testing my program, so it does indeed seem to be similar to #349. My program doesn't do a lot of different lwt-related operations, mostly logging and receiving/sending a lot of websocket frames.

[2017-05-13 17:23] mfp commented on #315
Since we're a bit shooting in the dark, might as well try this: could you disassemble the region around the segfault, so that we can pinpoint the exact instruction?

I'd add that even though the stacktrace is very short and directly negates it, the way the segfaults happen is reminiscent of those you sometimes get when the stack overflows (and indeed, it was said in #349 that switching to tail-rec

[2017-05-13 17:30] copy commented on #315
[code]

`rax` is 0x2001 at this point.

[2017-05-13 17:38] copy commented on #315
Could it be a bug in my program then? I do call `Websocket_lwt.Connected_client.recv` recursively like this:

[code]

[2017-05-13 17:47] mfp commented on #315
[code]

so we can forget about the stack, it really is bombing when reading `t.state` to pattern match in

[code]

[2017-05-13 18:07] mfp commented on #315
Are you using flambda? Maybe (wild guess) the internal use of `%identity` violates one of its assumptions wrt. mutable values and so on (`RAX` = `t` is the OCaml integer `0x1000` and not a pointer to the OCaml heap).

[2017-05-13 19:00] copy commented on #315
No, this is without flambda.

[2017-05-13 23:31] aantron commented on #352
We should probably join and help the experiment. Thanks for the heads up :)

[2017-05-13 23:35] aantron commented on #352
Oh, and they turned on TLS, so the URL is now https://discuss.ocaml.org/. It doesn't seem to recognize at least a GitHub login if accessed through a non-https URL.

[2017-05-14 18:09] copy commented on #315
Reran with #354.

[code]

[code]

[2017-05-14 18:11] aantron commented on #315
Whoa, thanks!

[2017-05-17 01:19] #350 closed

[2017-05-17 03:14] aantron commented on #341
@mryau I'm closing this as "hopefully fixed by newer Lwt," but please do reopen if you have more information, etc.

[2017-05-17 03:14] #341 closed

[2017-05-17 03:55] #345 closed

[2017-05-17 03:55] aantron commented on #345
Thanks for reporting!

[2017-05-17 13:42] dsheets opened #356 "Lwt_unix.of_unix_file_descr should not eagerly call Unix.clear_nonblock"
If `~blocking` is supplied to `Lwt_unix.of_unix_file_descr`, `Unix.clear_nonblock` will be called outside of the lazy value of the `Lwt_unix.file_descr` `blocking` field. If `blocking` is never forced (e.g. because the fd is only used for metadata operations), the resulting `fcntl` syscall is unnecessary. Additionally, on some operating systems like macOS, calling `fcntl` `F_SETFL` on certain fd t

[2017-05-17 13:50] dsheets commented on #356
[fcntl_ln.tar.gz](https://github.com/ocsigen/lwt/files/1007938/fcntl_ln.tar.gz) is a reproduction of the surprising and relevant macOS behavior.

[2017-05-17 15:14] aantron commented on #356
+1, thanks for finding this. A PR would be appreciated.

[2017-05-17 15:25] aantron opened #357 "Warn about cost of Lwt_unix.of_unix_file_descr"
`Lwt_unix.of_unix_file_descr` has type signature

    ?blocking:bool -> ?set_flags:bool -> Unix.file_descr -> Lwt_unix.file_descr

The fact that the result is an ordinary `Lwt_unix.file_descr`, and not a promise `Lwt_unix.file_descr Lwt.t`, makes this look like a simple cast from one fd type to another.

However, calling it without supplying `~blocking` [schedules](https://github.com/ocsigen/lwt/b

[2017-05-18 02:05] aantron opened #359 "Discussion: deprecate Lwt.ignore_result"
@Drup in https://github.com/ocsigen/lwt/issues/332#issuecomment-292602093:

What is the reason for that? Should it be deprecated in favor of, say, `Lwt.async`?

[2017-05-18 02:08] aantron commented on #332
@jrochel you may be interested to know about [this PR](https://github.com/ocsigen/lwt/pull/354), which you may have seen already. It is aimed at taking Lwt out of its stasis.

[2017-05-18 02:26] aantron opened #360 "Factor out (the deprecated) Lwt_pqueue"
[`Lwt_pqueue`](https://ocsigen.org/lwt/3.0.0/api/Lwt_pqueue) ([.mli](https://github.com/ocsigen/lwt/blob/6d1a16c4672c71abd7fc3d3f11e0739f2079e9cb/src/core/lwt_pqueue.mli), [.ml](https://github.com/ocsigen/lwt/blob/6d1a16c4672c71abd7fc3d3f11e0739f2079e9cb/src/core/lwt_pqueue.ml)) is a pretty ordinary priority queue, implemented as min-heap, that Lwt uses internally.

Since Lwt is not a basic data s

[2017-05-18 08:14] c-cube commented on #360
The module is pretty simple, though. How much of a technical debt is it? Lobbying for heaps in the stdlib would take a while anyway, and only work on the next version of OCaml…

[2017-05-18 08:52] aantron commented on #360
It's not a big technical debt. Still, I think it's a good idea to permanently note that priority queues belong elsewhere (ideally in stdlib), and Lwt was apparently forced to implement its own version of them.

Other projects that currently refer to `Lwt_pqueue` also would have benefitted from a priority queue in the stdib. These projects might have an easier time deciding to use an extra data str

[2017-05-18 08:54] aantron commented on #360
Also, #135 ("Lwt_pqueue not documented") is the previous issue on `Lwt_pqueue`.

[2017-05-18 09:04] c-cube commented on #360
I agree on adding more of these useful structures to the stdlib, but I'm tired of trying and a bit pessimistic. Nice to hear that you want to continue supporting 4.02  :-)

[2017-05-18 09:47] Drup commented on #359
At the very least, I think it should be made very clear in the documentation that this function gives no guarantee whatsoever about when the ignored bit will be executed.

[2017-05-18 09:54] aantron commented on #359
Right, I've likewise seen usage where the user clearly meant `>>= fun _ ->` or `>|= ignore >>= fun () ->` instead.

[2017-05-18 10:22] aantron opened #361 "Factor out Lwt_sequence (doubly-linked list)"
[`Lwt_sequence`](https://ocsigen.org/lwt/3.0.0/api/Lwt_sequence) ([.mli](https://github.com/ocsigen/lwt/blob/6d1a16c4672c71abd7fc3d3f11e0739f2079e9cb/src/core/lwt_sequence.mli), [.ml](https://github.com/ocsigen/lwt/blob/6d1a16c4672c71abd7fc3d3f11e0739f2079e9cb/src/core/lwt_sequence.ml)) is pretty much an ordinary mutable doubly-linked list. As in the `Lwt_pqueue` issue (#360), it belongs in the st

[2017-05-19 19:08] aantron opened #363 "Avoid grep in development build process"
From https://github.com/ocsigen/lwt/pull/354#issuecomment-302641989:

I believe this only occurs if you are building a development version of Lwt (not an OPAM release). I believe the offending line is https://github.com/ocsigen/lwt/blob/cf5580b6362a05087227f6b889a3a6e6094baee8/Makefile#L20

This may be a vanishing problem, if grep 2.24 is "old enough," but maybe it's best to just avoid or work aro

[2017-05-19 19:12] Drup commented on #363
I'm not even sure what this is for. It seems to be a handrolled version of the statically compiled oasis setup, which we should probably get rid of anyway. We could simply remove all that and use the oasis-generated makefile (with additional rules outside of the oasis section).

[2017-05-19 19:17] aantron opened #364 "The paths of Lwt's installed cmi files"
@diml in https://github.com/ocaml/opam-repository/pull/9228#issuecomment-302756447:

~~This seems like a problem with jbuilder being incompatible with non-jbuilder installs; on the other hand, maybe we can just~~ move these `.cmi` files in the next release, ~~and avoid friction~~.

cc @djs55 @rgrinberg

EDIT: instructions for testing are [below](https://github.com/ocsigen/lwt/issues/364#issuecomme

[2017-05-19 19:19] Drup commented on #364
The recent oasis feature called "FindlibDirectory" should allow to do that quite easily.

[2017-05-20 18:14] aantron opened #365 "Port the build system to jbuilder + Configurator (?)"
cc @rginberg

@diml: We have a question: would current jbuilder be able to build Lwt?

[2017-05-20 18:16] c-cube commented on #365
If you find a good solution for cppo and the docs, I'm interested too.

[2017-05-20 18:17] rgrinberg commented on #365
Yes, cppo is easy to handle. Especially since we only have a couple of files being preprocessed.

For docs, we need only wait for https://github.com/janestreet/jbuilder/pull/74 to be finished. Which is should be done before 1.0 is released.

[2017-05-20 18:19] aantron commented on #364
So I guess this is a matter of

1. Adding `FindlibDirectory` to each Findlib library package in `_oasis` that has a `FindlibParent` ([example](https://github.com/ocsigen/lwt/blob/cf5580b6362a05087227f6b889a3a6e6094baee8/_oasis#L132-L136)).
2. Finding out what version of [OASIS](https://github.com/ocaml/oasis) implements `FindlibParent`, either by reading its [changelog](https://github.com/ocaml/oa

[2017-05-20 20:05] aantron opened #366 "Create a list of Lwt-related libraries, and link them from README"
An example of this is [lwt-parallel](https://github.com/ivg/parallel). Also, many libraries have `_lwt` packages. Let's collect the most relevant ones, and link to them from the README, so users can see "if I want to use Lwt and an have an HTTP server, I install..." Otherwise, we can try to get an "Lwt" section in [awesome-ocaml](https://github.com/rizo/awesome-ocaml), and link to that, or maybe s

[2017-05-20 20:07] c-cube commented on #366
I think awesome-ocaml has plenty of space for a lwt-related section. I'll add my own libs if this happens.

[2017-05-20 20:24] aantron commented on #366
By the way, you can list all transitive dependencies of Lwt in OPAM by:

[code]

This will pull in some things that don't actually care about Lwt, like `cohttp` depends on Lwt optionally (for now), and anything that depends on `cohttp` at all will be listed, even if it doesn't use `cohttp` Lwt support.

[2017-05-20 20:28] aantron commented on #352
I think we should link to it, so I changed the issue title.

[2017-05-20 21:39] aantron opened #367 "Update comments at the top of all code files"
The first three lines of `.mli` and `.ml` files in Lwt currently look like this ([example](https://github.com/ocsigen/lwt/blob/cf5580b6362a05087227f6b889a3a6e6094baee8/src/core/lwt.ml)):

[code]

we want them to look like this ([example](https://github.com/ocsigen/lwt/blob/fdff5c09d47d2b020d4998ebed922acf383a2e9d/src/core/lwt.ml)):

[code]

- "Lightweight thread" terminology is deprecated. We espe

[2017-05-22 08:09] diml commented on #365
Yh, there are [two methods](http://jbuilder.readthedocs.io/en/latest/quick-start.html#using-cppo) shown in the manual for cppo.

Otherwise yh jbuilder should be able to build Lwt without problems.

[2017-05-22 08:13] diml commented on #364
FTR, jbuilder is compatible with non-jbuilder installs. It simply reads META files like ocamlfind. The issue I was talking about in the PR is the following:

1. create a file referencing Lwt_unix
2. compile it with `ocamlfind ocamlc -package lwt -c ...`
3. link an exectuable with `ocamlfind ocamlc -package lwt -o ...`

Only step (3) will fail. Which is unfortunate because if the user forgets to st

[2017-05-22 14:30] aantron commented on #364
Thanks for clarifying, @diml.

So, I guess to work on this, one would:

1. Pin Lwt `master` with `opam source --dev-repo --pin lwt`.
2. Follow the instructions from @diml's [post above](https://github.com/ocsigen/lwt/issues/364#issuecomment-303030400) to reproduce the issue.
3. Make a git branch and make the change to `_oasis` [described above](https://github.com/ocsigen/lwt/issues/364#issuecommen

[2017-05-22 17:48] aantron opened #369 "Accurate messages in exceptions raised by Lwt"
For example, trying this in the REPL

[code]

i.e. calling `Lwt.wakeup r ()` when `r` is already resolved, raises `Invalid_argument "Lwt.wakeup_result"`. This is misleading, because `Lwt.wakeup_result` is a different function in Lwt. `Lwt.wakeup` just happens to be implemented in terms of it. This message can send a reader to the wrong part of their code. The message is generated [here](https://gi

[2017-05-22 17:57] aantron opened #370 "Move Camlp4 syntax to a separate package"
To eliminate a depopt from `opam`, and as part of deprecating Camlp4. Related #338.

[2017-05-22 18:38] aantron opened #371 "Delete simple-top"
`simple-top` was deprecated in favor of [utop](https://github.com/diml/utop) in or before bb73e9834ceacb8e6c2aed7c8f19fdd81bc404af (summer 2011). There are no users in OPAM. A GitHub search for it returns only @bobzhang's [ocaml-book](https://github.com/bobzhang/ocaml-book) and @kkirstein's [proglang-playground](https://github.com/kkirstein/proglang-playground).

I think we can announce the remova

[2017-05-22 19:21] aantron opened #372 "Create stress tests for Lwt"
We want to be able to subject various parts of Lwt to heavy load during testing. Ideally, we should be able to catch problems like https://github.com/ocsigen/lwt/issues/315, https://github.com/ocsigen/lwt/issues/315#issuecomment-301259032, https://github.com/ocsigen/lwt/issues/349, ~~assuming those are actually caused by Lwt~~ *these were caused by the [Skylake bug](https://lists.debian.org/debian

[2017-05-22 20:03] aantron opened #373 "Are Lwt.return_unit, etc., still necessary?"
`Lwt.return_unit`, `Lwt.return_false`, etc., are no-allocation versions of `Lwt.return ()`, `Lwt.return false`, etc. – but they require the user to perform the optimization manually. We would rather have the compiler perform the optimization automatically, or the optimization not be needed at all.

Current OCaml provides up to two ways to justify ~~eliminating~~ deprecating these functions:

- htt

[2017-05-22 20:13] Drup commented on #373
Why not keep them ? It's not exactly high maintenance and avoid breaking compat.

[2017-05-22 20:16] aantron commented on #373
I'm not proposing to remove them. If (once) they become unnecessary, I'd like to deprecate them, remove them from all examples, move them to the bottom of the `.mli` file, and otherwise discourage using them.

[2017-05-22 20:17] aantron commented on #373
Sorry, I used the word eliminating :)

[2017-05-22 21:03] hcarty commented on #373
@aantron I use `return_some`/`return_ok`/`return_error` to avoid parens/`@@`:
[code]
vs
[code]
I'm not sure if that's actually _better_.  But I do use them that way sometimes.

[2017-05-22 23:52] jsthomas commented on #367
I'll work on this issue.

[2017-05-23 01:24] andrewray commented on #365
[code]

or clone and

[code]

I've done a good chunk of the grunt work, leaving just the difficult bits!

* No enabling/disabling of the sub-libraries (though the discover tools do run).  Everything is assumed on.
 Exactly how this can/should be expressed through jbuilder needs some discussion.

* I've reorganised the discovery build process a bit, however, it is still basically the same code.  On

[2017-05-23 03:01] aantron commented on #365
😆

Exactly how this can/should be expressed through jbuilder needs some discussion.

Some info:

`Lwt_ssl`, `Lwt_glib`, and `Lwt_react` should always be off in the main build, I just didn't bother editing it to remove them. They were factored out in #335. These (obviously) correspond to `--disable-ssl`, `--disable-glib`, and `--disable-libev`.

We want to do the same thing to the PPX (#338) and Ca

[2017-05-23 05:12] rgrinberg commented on #365
Awesome! put up a PR and we'll try and help you with those.

:+1:

Yes, I think this is essential.

[2017-05-23 12:26] andrewray commented on #365
The pull request factors everything into separate packages, then ties them back together and provides a compatibility package.  This is quite similar to what js_of_ocaml is doing for jbuilder.  It also seems to match best jbuilders workflow - I haven't yet figured out how to otherwise disable individual packages, though perhaps @diml would like to comment.

It is, and it's already used to get the

[2017-05-23 12:58] aantron opened #375 "Re-release lwt_glib"
The build of [package `lwt_glib`](https://github.com/ocaml/opam-repository/tree/master/packages/lwt_glib) was broken by an upstream change in Homebrew about a week ago, and fixed in this repo by 0e63890511bea3f0b4f145e2332a714fda4894d1 (see commit message for details). We should probably re-release `lwt_glib` to OPAM with the fix included, or submit a patch. Release 1.0.1 is definitely affected. I

[2017-05-23 18:45] #352 closed

[2017-05-23 20:04] diml commented on #365
Multiple packages is best to avoid recompilation when the user installs of one the optional dependency. Otherwise simply mark libraries as optional:

[code]

Then `lwt.ssl` will only be built and installed if `ssl` is available. This won't work for glib though, since there is no additional dependency on an OCaml library.

[2017-05-24 01:15] aantron commented on #367
Done in #376. Thanks @jsthomas!

[2017-05-24 01:15] #367 closed

[2017-05-24 01:34] aantron opened #377 "Fix CI builds for Lwt contributors"
Some contributors have set up CI testing in their own GH forks of the repo, e.g. in #367 and #347. It seems that their builds don't work until they add `sudo: required` to their `.travis.yml`, e.g. https://github.com/ocsigen/lwt/pull/376/commits/d198a2b04230a3b68722ec7b929fdc8eeddb69ea.

I am not sure why the main repo's builds are working without that line. Perhaps they are getting grandfathered

[2017-05-24 01:35] persianturtle commented on #377
I'll take care of this one.

[2017-05-24 03:18] #377 closed

[2017-05-24 05:54] kkirstein commented on #371
That's fine with me, just kick it out as planned...

[2017-05-24 13:56] #356 closed

[2017-05-26 02:08] rdavison opened #380 "Difficulty of building lwt on a fresh system"
I tried running make without having `libev` installed.  Steps which caused the errors and what I did to resolve them documented below.

Note: `errno` reports that error code 100 -- on my system -- should stand for `ENETDOWN 100 Network is down`

[code]

[2017-05-26 02:18] rdavison commented on #380
Perhaps `make clean` should remove those untracked build artifacts

[2017-05-26 12:22] aantron commented on #380
Can you check with `make distclean`? I actually typically have only one `make clean` and no `make distclean` in my projects, but we inherited `distclean` from the past, and it's there for now :/

I'll add a note about that to the future `CONTRIBUTING.md` (#379). Perhaps the jbuilder port (#374) will make this a non-issue.

We should probably also add a note to the error message printed for missing

[2017-05-27 02:45] aantron commented on #380
Ok, confirmed.

- The `Exception Not_found` really is not helpful at all and should be fixed. It's not obvious that you have to run `make clean`/`make distclean` after you get that, nor should `discover.ml` fail like that in the first place.
- `make distclean` is a GNUism that we really have no reason to support IMO. Few people seem to expect `distclean` to be the "real" `clean`. I certainly wasn'

[2017-05-27 10:16] raphael-proust commented on #369
I'll give this a shot this WE.

[2017-05-27 14:15] raphael-proust commented on #369
Notes and questions:

- In `unix/lwt_throttle.ml`, there is call to `invalid_arg` inside a functor. The message raised is `Lwt_throttle.S.create`. I don't think there's an easy fix for that.
- In `unix/lwt_log.ml`,  there is a call to `invalid_arg` inside the function `render`. This function is called by other functions of the module. How far do you want to take the accurate message thing? Should

[2017-05-27 17:15] aantron commented on #369
Agreed. That one should probably be left alone.

I think it's fine to fix this one as you already have. It looks like `render` is not called by `syslog`, `channel` directly, but by callbacks that they register anyway. I agree that just using `render` makes the most sense here.

I don't see that. Perhaps you mean another file? In any case, leaving it alone is fine, as is changing it to `ksprintf`.

[2017-05-27 17:19] aantron commented on #369
(well, of course there is the stuff in `lwt.ml`...)

Also, we mainly want to avoid reporting

- names of functions that don't exist in Lwt
- names of other functions that exist in Lwt (like happens now with `Lwt.wakeup`).

It's okay to sometimes report an internal or slightly inaccurate name, as long as we are not misleading users, and users have a pretty decent chance of accurately figuring out w

[2017-05-28 09:55] raphael-proust opened #381 "In-comment TODO: eliminate type constraint"
In `core/lwt_stream.ml` in the function `get_exn_rec`, there is a comment including a `TODO`:

[code]

[2017-05-28 10:12] raphael-proust commented on #369
Pushed a few more changes.

I scanned `lwt.ml` and other files; I didn't find any issues with error reporting. Specifically,

1. I grepped for `invalid_arg`, `failwith` and the likes.
2. I grepped for `".*\..*"` to find strings that include a dot (as in, error messages that include a module name followed by a function name).

I might have missed some because of all the false positives.

[2017-05-28 11:41] aantron commented on #369
Thanks for this.

The issue in `lwt.ml` is in the [top comment](https://github.com/ocsigen/lwt/issues/369#issue-230470270). I think for that, you'd have to make the current `wakeup_result` and `wakeup_later_result` functions into helpers, and pass the name of the calling function to them.

[2017-05-28 12:30] #381 closed

[2017-05-28 12:31] aantron commented on #381
Thanks for catching and reporting that. That TODO became out of date. The `Lwt_stream.result` type will stay for now, so I rewrote the comment.

[2017-05-28 13:40] raphael-proust commented on #369
I tested the double-wakeup errors by temporarily modifying the tests to match not only the exception but also the string that it carries. E.g.,

[code]

This causes warnings in the test suite, and so it is not committed. It could be tested without warnings. Not sure if it's necessary though.

[2017-05-28 14:01] aantron commented on #369
+1 for choosing testing in the test suite :)

I think (and I guess you do as well :)) those warnings are not relevant to us, as we are testing Lwt's own code in its own test suite, indeed we *want* to know what the string arguments are.

I was actually planning to open a follow-on easy issue about testing the messages (only for `lwt.ml`, the other files need better test suites first). So, if you a

[2017-05-28 15:18] raphael-proust commented on #369
I separated the double wakeup tests from the task/wait tests. The names are somewhat consistent.

I went for suppressing the warning on the whole, existing begin/end block. Which is marginally shorter.

Technically, we should also test that when woken up twice but with different functions, it's always the second function's name that is reported. That's 30 combinations which is a bit much I think.

[2017-05-28 16:05] aantron commented on #369
I agree that all combinations is too much. Also, it doesn't really matter what the initial wakeup function is – we just need to get each promise into a completed state at the beginning of the test. In fact, it might make the most sense to just create a trivial promise (`Lwt.return` or `Lwt.fail`), to be as clear as possible – but don't spend any more time on this aspect of the testing than you alr

[2017-05-28 17:09] #369 closed

[2017-05-28 17:14] aantron commented on #363
This may get pre-empted by #374.

[2017-05-28 17:27] aantron commented on #344
Might be preempted by #374.

[2017-05-29 16:37] andrewray opened #383 "Test suite hang : "Unix test 29, establish_server_1: shutdown: client closes first""
Running with the libev backend on Ubuntu 12.04 or 14.04 (in VirtualBox) leads to the test suite hanging on this test.

Switching the libev back to use select makes the test work ie

[code]

So it seems to be something to do with whatever default backend is chosen on Linux.  Neither LIBEV_FLAGS=2 (poll) of LIBEV_FLAGS=4 (epoll; default?) work.

I added some printfs to trace the tests.  It should lo

[2017-05-30 05:10] hcarty opened #384 "Add while-like and if-like convenience functions"
For when a user doesn't want to use ppx, something along the lines of the following could be useful to remove boilerplate.  If there's interest I can submit a PR.

[code]

[2017-05-30 12:41] aantron commented on #384
@hcarty I tried to guess the intended usage – please show your usage if it's different.

[code]

For `if`, the plain versions look cleaner to me (but again, maybe I am misunderstanding something).

[code]

`while_lwt` does look like more of a win. This may be a (near-)duplicate of #311.

[2017-05-30 12:53] aantron commented on #205
I likewise had problems with the dependencies of OASIS while setting up CI on MSVC; see branches [`ci-msvc`](https://github.com/ocsigen/lwt/commits/ci-msvc) and [`oasis-free-build`](https://github.com/ocsigen/lwt/commits/oasis-free-build). This may be resolved by the jbuilder port in #374. I'll try to set up CI on MSVC again some time after that is merged.

[2017-05-30 15:56] aantron commented on #340
Probably best fixed after #354 is in.

[2017-05-30 18:53] hcarty commented on #384
Thank you for reviewing this!  I apologize - I should have included intended example uses in my original post.  Your examples are the kind of structure I had in mind.

I agree - your vanilla `if` handling seems like the better approach.  I'm happy to drop that from the proposal.

For `while`, this and #311 are very similar.  I'm not sure it would make sense to have both.  `while_lwt` keeps a very

[2017-05-30 18:56] hcarty commented on #311
@rgrinberg What do you think of `while_lwt` in #384 vs `repeat_until_finished`?

[2017-05-30 19:02] hcarty commented on #384
A concrete example using `while_lwt`, printing a message every five seconds, forever
[code]

Run until some external signal says to stop
[code]

[2017-05-30 19:06] rgrinberg commented on #311
Imo it's not as useful because async's primitive let's you change the state

On Tue, May 30, 2017, 2:56 PM Hezekiah M. Carty <notifications@github.com>
wrote:

[2017-05-30 19:21] hcarty commented on #311
They both do with different approaches, right?  `while_lwt` implies some level of imperative state change.  `repeat_until_finished` implies recursion for changing state.

[2017-05-30 19:43] aantron commented on #311
I tend to favor this one, at this point. `while_lwt` seems like more or less an instance of `repeat_until_finished`, but with `'state` replaced by `unit`. `repeat_until_finished` does have a weird interface though, if you are thinking of an actual while loop.

@hcarty would you use `repeat_until_finished` if it was available, where you now have `while_lwt`?

Off topic, I know many people don't use

[2017-05-30 20:14] hcarty commented on #311
@aantron I think so.  Doing some coding out loud to think about this.  All written directly into the text box here so errors are likely.

The `repeat_until_finished` examples are more verbose.  They are also more flexible and less likely to rely on spooky action at a distance.

Thank you @rgrinberg and @aantron for the prodding.  It may be worth adding some form of the convenience functions I wrot

[2017-05-30 20:18] hcarty commented on #311
@aantron Regarding the PPX - I do use it, and I like it!  But it is difficult to explain to people who are new to both OCaml and Lwt.  And in this specific case I was working on porting a codebase using lots of Lwt PPX to jbuilder.  I think #374 should take care of the current jbuilder/lwt.ppx incompatibilities.  But until that lands I wanted to see what it would take to move away from the PPX sug

[2017-05-30 20:27] aantron commented on #311
Thanks!

I suggest closing the other issue, as it's ended up as kind-of duplicate of this one, and we are having the in-depth discussion here. I appreciate you opening it though, it's good to know what people want added, and it prods us to hurry up when multiple people request the same thing :)

Regarding jbuilder, ideally that will be released in the next release (so July, 3.1.0), but hopefully i

[2017-05-30 20:28] aantron commented on #311
...and you already did it while I was writing that :) Thanks.

[2017-05-30 22:31] raphael-proust commented on #342
I'll get a shot at this next week.

[2017-05-31 09:32] andrewray commented on #383
Further update; it also fails on ubuntu 16.04 when run in Virtualbox, while working fine on my native 16.04 laptop.

So this problem is something to do with running lwt under Virtualbox.

[2017-05-31 11:09] aantron commented on #178
This issue is about basically throwing away the current `NumberIO` code and replacing it with an implementation based on the above-mentioned primitives.

Lwt now requires 4.02.0 (soon 4.02.3), so we don't have to worry about adding compatibility fallbacks.

For each reading function, we want to wait until the channel buffer has enough bytes for the kind of number we are trying to read. We then wan

[2017-05-31 11:14] aantron commented on #178
This is a pretty self-contained and relatively straightforward issue, but I marked it medium because it involves dealing with:

- [endianness](https://en.wikipedia.org/wiki/Endianness#Illustration),
- the internals of `Lwt_io` channels,
- binding compiler primitives.

Ideally, one would also write a performance comparison (using [`Unix.times`](https://caml.inria.fr/pub/docs/manual-ocaml/libref/Uni

[2017-05-31 15:18] aantron opened #385 "[easy] Tests for the simpler modules of Lwt (multiple PRs)"
This issue is about writing new test cases for some of the simpler helper modules of the Lwt [core library](#about-core-library):

- [x] ~~[`Lwt_result`](https://ocsigen.org/lwt/dev/api/Lwt_result) ([`src/core/lwt_result.ml`](https://github.com/ocsigen/lwt/blob/428592a1c73ef33a34c5756cc7ed0ea64dbdad52/src/core/lwt_result.ml#L25))~~ – ~~not tested~~ 100% coverage by @jsthomas.
- [x] ~~[`Lwt_conditi

[2017-05-31 17:00] aantron opened #386 "[easy] Reading, clarification, minor refactoring, nits, and typos (ongoing)"
If you find yourself reading the Lwt documentation or code, and you want to

- clarify a sentence,
- add a comment,
- change the name of a variable to something more descriptive,
- make a local refactoring,
- improve the formatting or whitespace,
- or do anything else to improve readability and clarity,

please go ahead and do so :) You can either open a PR, and we will merge it, or open an issue

[2017-06-01 13:49] aantron opened #387 "Deprecate >> in the PPX"
See [discussion](https://discuss.ocaml.org/t/operator-in-lwt/296/11).

We should probably have the PPX emit a warning each time `>>` is used.

cc @Richard-Degenne @dkim @Drup

[2017-06-01 14:22] aantron commented on #304
I'm closing this in favor of the [New docs](https://github.com/ocsigen/lwt/projects/2) project, because it will take more than one issue – looks like it might take about 16. GitHub is a bit unfriendly by not showing the project description on the project page, but you can find it [here](https://github.com/ocsigen/lwt/projects).

[2017-06-01 14:22] #304 closed

[2017-06-02 02:03] aantron opened #388 "Improve documentation of Lwt_preemptive.init functions"
Problems:

- [`Lwt_preemptive.simple_init`](https://ocsigen.org/lwt/dev/api/Lwt_preemptive#VALsimple_init) starts the library with at [most four threads](https://github.com/ocsigen/lwt/blob/ba56700d821853d068eece36a78ddd77aff1b36a/src/preemptive/lwt_preemptive.ml#L176-L180). This default limit is not documented anywhere AFAICT.
- Calling [`Lwt_preemptive.detach`](https://ocsigen.org/lwt/dev/api/Lw

[2017-06-06 03:39] aantron commented on #372
See also the [Stability project](https://github.com/ocsigen/lwt/projects/1).

[2017-06-07 10:47] AlexOnWork opened #390 "assertion failed on Windows"
Sometimes our Windows app (using lwt 2.7.1) crashes with following message:

I'm enabled stacktraces and rebuilt app with lwt 3.0.0 and now waiting for a problem to happen again; what also can I do to find a reason of this error?

[2017-06-07 15:31] aantron commented on #390
Thanks for reporting this. It looks like a potential duplicate of https://github.com/ocsigen/lwt/issues/349#issue-227673438, but we can't be sure because we haven't debugged either one yet (:/).

Enabling stack traces is the right thing to do first. See if you get a similar one to the linked issue. I would also suggest noting whatever steps are needed to reproduce this (commit of your code, enviro

[2017-06-07 16:39] aantron commented on #380
Should also probably update the installation instructions in the `README`...

[2017-06-08 12:38] AlexOnWork commented on #390
Hi @aantron, thanks for your reply.
After updating to 3.0.0 we have got this trace:

Raised at file "src/core/lwt.ml", line 511, characters 8-20
Called from file "src/core/lwt.ml", line 202, characters 8-15
Called from file "src/core/lwt.ml", line 202, characters 8-15
Called from file "src/core/lwt.ml", line 202, characters 8-15
(last line repeated lots of time)

Also sometimes it segfaults with b

[2017-06-08 15:01] aantron commented on #390
I guess one way we could start looking for this is by:

- Pinning all your OPAM dependencies to fixed versions, the current ones being installed when you build.
- As a control, pinning Lwt to 3.0.0 and confirming the crash is there. I guess this step can be skipped, but it's useful for sanity :)
- Pinning Lwt to 2.7.1, which should be largely identical to 3.0.0. The two versions were tagged days a

[2017-06-08 17:10] AlexOnWork commented on #390
Possibly related to https://github.com/ocsigen/lwt/issues/315 , I'm getting the same stacktrace.
I tried Lwt 3.0.0, 2.7.1 and 2.5.2 - all of them have this problem.
I can't use earlier versions as it requires older OCaml compiler while we are using some of 4.03 features.
Also I can't reproduce this problem at Linux and OS X - though the code is a little different on this platforms.

[2017-06-08 18:13] aantron commented on #390
Argh, well there goes my whole strategy :) thanks for testing that.

I'm thinking about what to do next. In the meantime, I have never tried this, but there is the possibility that the Lwt tracing branch by @talex5 might help to see what's happening: https://github.com/mirage/lwt/tree/tracing

Here's an introduction to it: http://roscidus.com/blog/blog/2014/10/27/visualising-an-asynchronous-monad/

[2017-06-08 21:52] #365 closed

[2017-06-09 04:30] aantron commented on #380
Ok, the jbuilder port #374 was merged earlier today. The new build system seems to have resolved the weird behavior here.

- Re-running `make` after a missing `libev-dev` tells that it's missing again, instead of raising `Not_found`.
- Installing `libev-dev` makes the build succeed on the next call to `make`.
- There is no more `make distclean`. `make clean` cleans everything.
- I added a step to

[2017-06-09 05:04] aantron commented on #363
This was resolved by the jbuilder port #374, which was merged earlier today. AFAIK, we don't use grep anymore in the Lwt build process.

[2017-06-09 05:04] #363 closed

[2017-06-09 05:12] aantron commented on #364
This was resolved by #374.

[2017-06-09 05:12] #364 closed

[2017-06-09 05:18] aantron commented on #344
Apparently resolved by #374. OPAM files are now at the root, and `--dev-repo` pins seem to be working fine.

[2017-06-09 05:18] #344 closed

[2017-06-09 13:43] rdavison commented on #380
Just tested it, and besides a very minor issue with jbuilder's hinting ( https://github.com/janestreet/jbuilder/issues/137 ) it worked wonderfully.  Thanks!

[2017-06-09 13:51] aantron commented on #380
Great. I'm closing this issue if you don't mind. Feel free to reopen if necessary, or open new ones for other matters :)

[2017-06-09 13:51] #380 closed

[2017-06-11 11:50] raphael-proust commented on #342
So my C is way more rusty than I originally thought. I managed to put some C code together and to create tests that actually call the C code. But I always get `ERANGE`: “the length of the absolute pathname of the current working directory, including the terminating null byte, exceeds `size` bytes.”

Currently, size is basically hardcoded to 1024 and the path is definitely shorter than that. I thin

[2017-06-11 12:52] aantron commented on #342
I don't get the same problem with a pared-down version of this code (on macOS):

[code]

Does this work on your system? Can you confirm that `getcwd` is actually failing inside the worker thread (in `worker_getcwd`)? That would rule out problems with the Lwt machinery getting `errno` back to the main thread correctly.

[2017-06-11 15:49] aantron opened #393 "[easy] Fix whitespace, formatting, prettify the code"
When code doesn't look good, it is difficult to read and understand. We want Lwt to be easy to work on.

Basically, if you run into any strange indentation, please go ahead and fix it :) Here are some ~~immediate~~ examples from the recent past: [[~~1~~](https://github.com/ocsigen/lwt/blob/1eb217a6ac9bf86d522e5e31c1d1a10f53e59df3/src/unix/lwt_io.ml#L1044-L1050)] [[~~2~~](https://github.com/ocsigen

[2017-06-11 20:00] raphael-proust commented on #342
That minimal code works on my system.

---------------------------------

In trying to fix things and understand what is broken, I now get a different error: `ENOENT` (the current working directory has been unlinked).

I am certain the current directory is not unlinked on my side. Is the lwt test suite executed in a temporary directory that gets unlinked before it finishes? AFAICT from `setup.ml`

[2017-06-11 20:41] aantron commented on #342
I think the problem is on this line:

[code]

the test should be `job->result == NULL`. IIRC if a system call succeeds, it does not clear `errno` back to zero, so this code (and the rest of the C code in Lwt that reads `errno`) is always picking up the `errno` of whatever system call was last to fail. So `errno` can't be used as a test for failure.

This stuff is really not clear, and it's the fau

[2017-06-11 21:00] raphael-proust commented on #342
Oh… So I thought of that at some point but I had forgotten to change the comparison operator (so I ended up testing `job->result != NULL` which…)

It works now. I'll make the diff prettier and do a commit, then there are a few improvements to make (like better tests and use of `MAX_PATH` or something like that instead of hard-coded buf size).

Also, I noticed some errors in the `make test` system:

[2017-06-11 21:04] raphael-proust opened #394 "`make test` doesn't redo all it should"
When working on #342 I noticed that running `make test` would not always reflect the most recent source changes. I had to do `make clean`, `make` and `make test` instead.

I'll try to reproduce on the new `jbuilder` build system.

[2017-06-11 21:07] aantron opened #395 "[easy] Involved tests for Lwt_list"
For each (pair of) function(s) in [`Lwt_list`](https://ocsigen.org/lwt/dev/api/Lwt_list), (say `Lwt_list.map_s` and `Lwt_list.map_p`) we should probably test:

- [x] ~~How they respond to exceptions raised by `f`, i.e. `Lwt_list.map_s (fun _ -> raise Exit) ...`~~ (@jsthomas in #512). The `_p` functions might be particularly interesting here. We should find out what they actually do, and document i

[2017-06-11 21:08] raphael-proust opened #396 "Use cstruct?"
Currently, providing new system calls involve several files with many macros.

Is this the kind of thing that cstruct could make simpler? And if so
How many dependencies cstruct has? Which ones?
Is it worth rewriting the unix bindings with a cstruct version?

I'll investigate some of that. If someone already have answers to those questions, please comment below.

[2017-06-11 21:28] aantron commented on #396
The status of this is:

- We'd like to make the C code more maintainable. It's really rough right now. Using `Lwt_preemptive` (perhaps improved) with cstruct is definitely a good way to do that.
- I believe this is more or less how Async does most (or all?) of its blocking system calls, e.g. [this link](https://github.com/janestreet/async_unix/blob/master/src/unix_syscalls.ml#L338) is from the `ge

[2017-06-11 21:39] aantron commented on #396
The other effect of using libuv is that Windows will get first-class support.

[2017-06-11 21:57] aantron commented on #342
FYI, concerning C skills, I also didn't notice the incorrect condition either time, even though you showed the code. So, yes, this stuff is not programmer-friendly (and hence the #396 to avoid dealing with it again – thanks).

[2017-06-11 22:26] aantron opened #397 "[trivial] Fix the name of a test suite"
[It should be `lwt_list`, not `lwt_util`](https://github.com/ocsigen/lwt/blob/3679d135c080551e936d21c2056829018fc429f0/tests/core/test_lwt_list.ml#L155). See [`CONTRIBUTING.md](https://github.com/ocsigen/lwt/blob/master/doc/CONTRIBUTING.md) for the development workflow.

[2017-06-12 10:02] Richard-Degenne commented on #397
On it!

This is probably one the easiest things to get started with.

[2017-06-12 15:47] #397 closed

[2017-06-12 17:14] copy commented on #315
Good news! I've been able to reproduce this issue with a [minimal test case](https://github.com/copy/ocaml-websocket/blob/bench/test/bench_server.ml). This is based on an echo server for ocaml-websocket and a stress test written in c++ from uWebSockets.

For the server:

1. Clone https://github.com/copy/ocaml-websocket/tree/bench and checkout the bench branch locally
2. Pin both `websocket` and `w

[2017-06-12 17:19] aantron commented on #315
Great! I still didn't get a chance to look at the latest VM, due primarily to other work in my queue – so this is very nice to have. I'll follow these instructions later today to see if I can reproduce the problem locally.

cc @AlexOnWork

[2017-06-12 17:51] avsm commented on #396
I agree with @aantron that the port to libuv would be more fruitful than using Cstruct, in the short term.  We've had good results with using libuwt in [vpnkit](https://github.com/moby/vpnkit/blob/master/src/hostnet/host_uwt.ml)

[2017-06-12 19:52] aantron commented on #325
Probably best re-considered and done after #354 (new `lwt.ml`) is in.

[2017-06-12 19:54] aantron commented on #311
Added "on hold" because I think it's best to revisit this after #354 (new `lwt.ml`) is in.

[2017-06-12 19:56] aantron commented on #205
Now that Lwt is ported to jbuilder, I think we need to try building on MSVC, and try to set up CI for it. @shayne-fletcher, could you try pinning Lwt to `master` and seeing if the development build works now?

[2017-06-13 12:29] Richard-Degenne commented on #393
One way to enforce sensible indentation throughout the whole codebase would be to add a `.ocp-indent` file to the project. That also means that if a developer has ocp-indent installed in their editor, it will automatically follow the same indentation rules when editing / writing code.

I'll try to format some files with the default settings, just to see how it looks.

[2017-06-13 12:41] vasilisp commented on #393
We have the following `.ocp-indent` in most Ocsigen repos:

[code]

I am surprised that there isn't one in Lwt already. I don't know how much our configuration differs from the default, but its results are in line with the established OCaml style.

[2017-06-13 12:49] Richard-Degenne commented on #393
Yes, these are also my default settings (used when I don't have a `.ocp-indent` inside the project).

If this is standard inside Ocsigen projects, I can go ahead and add it, then start "normalizing" existing files to match these settings.

[2017-06-13 14:57] aantron commented on #393
That sounds reasonable. How about converting one file first, say something large like `lwt_unix.ml`? That should give a good idea of what the settings will do. I'm scared of applying it to the whole codebase right away :)

Also, is it still easy to separate history into whitespace-only and logic-changing commits when using ocp-indent in a text editor? Or does it encourage conflating the two by mak

[2017-06-13 15:01] aantron commented on #393
Scratch that, `lwt_stream.ml` instead of `lwt_unix.ml`. I think that is the least likely to cause conflicts with anyone's work.

[2017-06-13 15:21] Richard-Degenne commented on #393
Well, this is entirely up to you, and the way you use your editor; ocp-indent is only here to help the editor auto-indenting the code.

In Vim, for example, you can
- Have a new line correctly indented after you hit Return;
- Type `==` to auto-indent the current line;
- Auto-indent any block of lines you want with the Visual mode;
- Auto-indent the whole file with `gg=G`.

I don't know much about

[2017-06-13 15:28] aantron commented on #393
Ok, that sounds good :)

[2017-06-13 15:55] Richard-Degenne commented on #393
I've pushed [a first commit](https://github.com/Richard-Degenne/lwt/commit/5c1e501245f7e2bc324fe319032997e7647cde60) where I've indented `lwt_stream.ml` and its `mli` using the settings given by @vasilisp. It looks ok. There is one thing bothering me, though: the lack of indentation after a match clause makes it difficult to discern the block and the following match clause ([example](https://githu

[2017-06-13 16:15] aantron commented on #393
It looks pretty good, actually. The only thing I'd say ocp-indent got wrong is the deprecation annotations (`[@@ocaml.deprecated]`), but maybe we can survive that. If it's not configurable, maybe we can PR to ocp-indent in the future. Or maybe I'm wrong, and ocp-indent is right :)

For the match cases, I eventually agreed with indenting like ocp-indent does. I've taken to inserting blank lines whe

[2017-06-13 16:59] bluddy opened #401 "Jbuilder + lwt_ppx"
Is there a way to use lwt.ppx with jbuilder? If not, what's required?

[2017-06-13 18:28] aantron commented on #401
Yes, but for now you have to pin `master`. IIRC:

[code]

Here is an example `jbuild` for using the PPX:

[code]

We plan to publish the jbuilder-based Lwt in OPAM in the next release, [3.1.0, ETA mid-late July](https://github.com/ocsigen/lwt/milestone/8).

Let me know if you have any trouble.

[2017-06-13 20:10] raphael-proust opened #402 "build error"
With the HEAD at `ba4deb79166235cfe32d5515dd99adc56793274d` I get the following error when trying to build.

[code]

After that, all the build end with the same error and the same backtrace.

I'll also get in touch with the jbuilder team, it says to do so.

[2017-06-13 20:20] raphael-proust commented on #402
This happens if lwt is pinned to my local development repository (`$HOME/code/lwt`).

The problem changes if I pin it to `--dev-repo` and then try to build locally. I instead get

[code]

It seems like jbuilder doesn't know where to find/build `Lwt_config`. (It can't find it if pinned locally, and it finds a mismatching one if pinned to `--dev-repo`.)

[2017-06-13 22:46] aantron commented on #402
Interesting, thanks for report. I upgraded to `1.0+beta10`, but can't reproduce here. cc @andrewray just in case, and subscribed to the jbuilder issue.

[2017-06-13 22:55] aantron commented on #393
Thanks for the change. If willing to do more, I think basically the only files currently being worked on are `src/core/lwt.ml` and `src/unix/lwt_unix.cppo,ml[i]`. Everything else is fair game for ocp-indent. Might be too tedious, though :)

[2017-06-13 22:58] aantron commented on #402
What happens when you run `make`, or `make default-config` before `jbuilder build`?

Also, the paths might look a little suspicious. Can you check out the previous OASIS build system, and run `make clean distclean`, then switch back to a branch with jbuilder and try again?

[2017-06-13 22:59] aantron commented on #402
(`git clean -ffd` after switching back to jbuilder too)

[2017-06-13 23:07] bluddy commented on #401
Looks like the master-based version is incompatible with Lambda-Soup, so I'll have to make do without ppx for now :(

[2017-06-13 23:52] aantron commented on #401
Heya, I believe I already know what the error is (found by @andrewray). I've opened the [above linked issue](https://github.com/aantron/markup.ml/issues/18) in Markup.ml (dependency of Lambda Soup) for dealing with it. I'll try to get a release of Markup out today. It should become installable tomorrow, depending on what it is merged into OPAM.

[2017-06-14 00:08] aantron commented on #401
:scream: I'm sorry to suggest pinning yet another package, but Markup.ml `master` should now fix compatibility of Lambda Soup with Lwt (see above commit). However, I'm also preparing a release right now, so maybe you won't have to :)

[2017-06-14 00:24] bluddy commented on #401
Thanks very much!

[2017-06-14 00:53] aantron commented on #401
Ok, https://github.com/ocaml/opam-repository/pull/9499. Thanks for giving me a kick to finally release it.

[2017-06-14 07:03] raphael-proust commented on #402
[code]

-------------------------------------------

After `make default-config` (which doesn't report any errors)

[code]

------------------------------------------------

Going back in time, using `make distclean` then moving forward in time and `git clean -ffd` fixed the issue.

Thanks!

[2017-06-14 07:03] #402 closed

[2017-06-14 08:16] andrewray commented on #402
If I understand correctly, you updated a previous, already configured, clone of lwt and this left some files behind which confused the new jbuild process.

A quick sanity check for some blacklisted files in the configure.ml script would seem in order.

[2017-06-14 08:19] andrewray opened #404 "Create a custom .install script for next version of lwt"
Similarly to the custom META file this could be used to install things like lwt_unix in the currently expected directories, giving folk a release cycle to fix packages.

[2017-06-14 13:20] stijn-devriendt opened #405 "[trivial] Lwt_sequence.fold_r may visit items twice or more during concurrent removal"
Looking at https://github.com/ocsigen/lwt/blob/master/src/core/lwt_sequence.ml#L206
the fold_r skips to the next node instead of the previous one when node_active is false.

This might cause a node to be visited twice or more.

[2017-06-14 15:18] aantron commented on #402
@andrewray I believe that's right. I guess this is vanishing problem, and maybe nothing ought to be done. If anyone else runs into it, we can link to this issue.

[2017-06-14 15:20] aantron commented on #402
OTOH if, even after the switchover, we find developers are frequently (enough) switching between OASIS and jbuilder build systems (highly unlikely), we can address this with a sanity check or warning of some sort.

[2017-06-14 15:29] aantron commented on #404
Agreed. When notifying downstream maintainers, we will give them instructions to pin Lwt to a commit before this custom `.install` file, so they can reproduce the dependency problem.

[2017-06-14 15:30] aantron commented on #402
Ultimately, it's up to you. I guess the sanity check could be as simple as testing for the existence of `setup-dev.exe`, or whatever those files are called. I guess that's not so much work.

[2017-06-14 16:11] aantron opened #406 "[easy-ish] Tests for Lwt_sequence"
[`Lwt_sequence`](https://github.com/ocsigen/lwt/blob/6649ef6f74fdff417e705e131e5ec31487ea9032/src/core/lwt_sequence.mli#L22) doesn't have a test suite at all, but it is [not immune to potential serious bugs](https://github.com/ocsigen/lwt/issues/405). We should create a test suite for it. See "Workflow" in #385 for how to create a test suite, and how to run coverage analysis. It's fine to add a fe

[2017-06-14 16:33] aantron commented on #405
Fixing this particular issue in isolation should be as easy as changing the [line](https://github.com/ocsigen/lwt/blob/6649ef6f74fdff417e705e131e5ec31487ea9032/src/core/lwt_sequence.ml#L206) to say `node_prev` instead of `node_next`.

I've created a separate issue (#406) for writing an actual test suite for `Lwt_sequence`.

Actually triggering this bug is a bit involved. I believe you have to firs

[2017-06-14 16:53] aantron commented on #401
Alright, Markup.ml is in and downloadable. I'm closing this issue, but feel free to comment and/or reopen if there are any further problems on the Lwt side.

[2017-06-14 16:53] #401 closed

[2017-06-14 17:38] aantron opened #407 "[easy-ish] Reorganize the C files"
Lwt's C files are currently quite messy. For example, [`lwt_unix_unix.h`](https://github.com/ocsigen/lwt/blob/6649ef6f74fdff417e705e131e5ec31487ea9032/src/unix/lwt_unix_unix.h) is currently about 3300 lines of stress-inducing C code, which is enough to give anyone a headache. Also, it shouldn't be a header file – everything in it is an implementation. However, it is [currently included from `lwt_u

[2017-06-14 17:44] aantron opened #408 "Pick a C function as a model, and document it really well"
Adding a C call is currently an involved process, rife with potential snags, even for what should be simple work. We should pick a (relatively!) easy function, such as `getcwd`, and really document it right inside the code. A subset of things that should be covered:

- https://github.com/ocsigen/lwt/issues/342#issuecomment-307655393 (errno and the opaque Lwt macros).
- https://github.com/ocsigen/l

[2017-06-14 22:14] raphael-proust commented on #394
I cannot observe any of the symptoms with jbuilder. Closing.

[2017-06-14 22:14] #394 closed

[2017-06-14 22:26] aantron commented on #394
Thanks for reporting and checking it!

[2017-06-14 23:14] #342 closed

[2017-06-14 23:18] aantron commented on #343
Other references:

- [glibc](https://sourceware.org/git/?p=glibc.git;a=tree) – Linux.
- [macOS Libc](https://opensource.apple.com/source/Libc/).

[2017-06-15 15:56] aantron opened #411 "Is it possible to remove the .cppo extensions?"
We currently have two files named `src/unix/lwt_unix.cppo.ml` and `src/unix/lwt_unix.cppo.mli`, because adding the `.cppo` extension was the traditional way to identify files that need preprocessing to the cppo OCamlbuild plugin. However, [this bit in the jbuilder docs](http://jbuilder.readthedocs.io/en/latest/quick-start.html#using-cppo) suggests that it is not necessary anymore.

I think it woul

[2017-06-16 18:23] raphael-proust commented on #283
I'm investigating this. I'm not sure I'll fix it, but I'll share notes and findings.

Also, I'll actually investigate on the human friendly rewrite because it's human-friendly.

[2017-06-16 21:51] aantron commented on #283
Great. I actually *recommend* not fixing this for now, but investigation definitely welcome :)

- The old `lwt.ml` obviously is not friendly..
- The new one might suffer a rebase or other revisions.

I'm actually itching to merge the new one in, to get rid of the uncertainty, but [there's the plan](https://github.com/ocsigen/lwt/pull/354#issuecomment-306649576).

[2017-06-17 15:46] andrewray commented on #407
I am sure this is possible, however, a word of caution -- I changed the lwt_XXX_stubs.c file to a .h file to ensure jbuilder copied it when building (in fact it actually installs them as well).

I believe the more flexible way to deal with C code is to define it in a separate library.

[2017-06-17 15:48] andrewray commented on #404
Ok.  So I guess this should be the very last task done just before the next release.  Ping me when you are ready.

[2017-06-17 15:54] andrewray commented on #402
It seems super easy to add, and while not fixing the given problem, would at least point it out.  It would be great if we could include an instruction to remove the specific offending file, which I assume is in lwt/unix somewhere.

[2017-06-17 16:01] aantron commented on #404
I think it's fine to do it at any time – perhaps I am missing some consideration? All we should need to do immediately before release is check out the parent commit of whenever this is fixed, and use it to find wrong dependencies.

[2017-06-17 16:05] aantron commented on #402
Yep. If you can reproduce the problem, and that's enough to fix it, then those can be the instructions.

We could also have the instructions tell people to check out the predecessor commit of the jbuilder port, run `make distclean`, and then return to their branch. It would require installing OASIS, though. That commit is 30c3fd86f9ddebc98e54276100a59c79436b174f.

[2017-06-17 16:05] aantron commented on #402
(Presumably, a contributor that generated the old build files in the first place already has OASIS installed, though)

[2017-06-17 16:11] andrewray commented on #402
I'll have a dig around and see if I can reproduce the issue and produce a simpler way to fix it.  Even if not, a configure warning at least suggests we care!

[2017-06-17 16:14] aantron commented on #402
+1 about caring.

[2017-06-17 16:15] andrewray commented on #404
I was just thinking the commit that is the "one true way" should be the one directly before we add a compatibility layer, but perhaps I am over thinking it.

[2017-06-17 16:18] andrewray commented on #411
I think my reading of the docs is the same as yours, however, the `pps` stanza would presumably apply to the whole (unix) library, whereas currently, it is specifically applied to only the required files (probably a very tiny, and likely unnoticeable, build performance issue).

[2017-06-17 16:22] aantron commented on #404
I think as long as we have one commit at which we can reproduce the failure expected with new packaging, it should be fine at any time. I generally like to avoid pushing too many things to Lwt release time, because that is always a stressful process involving giant TODO lists, thinking over and over about every detail, manual testing, downloading tons of reverse dependencies, and all sorts of othe

[2017-06-17 16:23] andrewray commented on #404
Fair comment.  I will have a bash at this in the next week or so then.

[2017-06-17 16:28] aantron commented on #411
Ok, if that's the case, maybe it's better to leave it alone for now.

On a bit of a tangent, I had some difficulty combining both a PPX and cppo with a `pps` stanza (or stanzas) in a toy example. I didn't really exhaust all possible ways to combine them. Do you have any experience with this?

We may need this to port coverage to the new Jbuilder (which I am working on now by finishing off the port

[2017-06-17 16:36] andrewray commented on #411
I suspect the pps stanza is just about flexible enough to support a simple project with cppo, but is really all about efficiently applying a dozen ppx's at a time.

I would keep up with the push to get Bisect as a first class citizen in the jbuilder world.  Having used Bisect (both old and new) a few times, I find it really useful.

[2017-06-19 10:37] toolslive opened #414 "Lwt_array with map(i)_p, map(i)_s, iter(i)_p, iter(i)_s"
Currently, if you need to map_p over an array, you need to convert it to a list, and remap afterwards, which is inefficient.
If there's interest, I'm willing to do the grunt work.

[2017-06-19 18:49] aantron commented on #414
It sounds useful. Maybe we should discuss this for a few days: should there be a separate data structures library over Lwt, or we just extend Lwt with any needed modules?

[2017-06-20 15:00] toolslive commented on #414
Now, `iter(i)_s` and `map(i)_s` are very simple. `map(i)_p` can be built on the outside, using something like a [count down latch](https://github.com/openvstorage/alba/blob/75344425658e33e3fb7a6b4874e8f7d1e66320b7/ocaml/src/tools/lwt_extra2.ml#L43). There might be simpler approaches too.

But, I was wondering if it's worth it to change `Lwt.join` and make it a bit more generic so it is possible to

[2017-06-20 15:06] aantron commented on #414
If you can design such a `join` (I guess it would take some higher-order `iter` function?), it might be nice to have in a gist or comment. It might take some discussion to decide on what to do with it, but sounds interesting. We would probably be adding a new `join` rather than modifying the existing one.

Also, note there is #325 about binary `join` (and `choose`) that preserves the results of bo

[2017-06-20 15:09] aantron commented on #414
I think I, and several other people, would welcome generalizing traversal over data structures, but I don't have time to do a good job on designing this in the immediate term :(

[2017-06-22 19:54] raphael-proust commented on #283
Investigation notes:

The bug reproduces on both the pre-rewrite and post-rewrite versions.

The bug is in the cancel logic – see below. In particular, the `Lwt_unix` module is correct: it uses `task` which is cancellable.

-------------------------------------------

From a high-level, the problems boils down to the fact that

1. the `slow_thread` is bound early, when `sleeper` is pending, and
2.

[2017-06-22 20:08] aantron commented on #283
Here is a small contribution to the conversation: a brief [description of how cancelation currently works](https://github.com/ocsigen/lwt/blob/fdff5c09d47d2b020d4998ebed922acf383a2e9d/src/core/lwt.ml#L213-L228). Readers may want to scroll up a bit for context. Among other things, we need to put some such description into the `.mli` file, and have it be part of the published docs. The test suite al

[2017-06-22 20:14] aantron commented on #283
There is also this: http://camlspotter.blogspot.ca/2017/03/a-glitch-of-lwt.html ("A Glitch of Lwt.cancel"). I think part of the overall problem is using thread language instead of promise language. It gives users the wrong idea about Lwt is actually implementing, what it is tracking, and therefore what can be done to it.

[2017-06-22 20:22] aantron opened #415 "A glitch of Lwt.cancel"
Described by @camlspotter at https://bitbucket.org/camlspotter/lwt_cancel_glitch:

I'm not sure if this qualifies as a bug or a misunderstanding (due to unclear terminology and cancel semantics in Lwt).

[2017-06-23 08:55] raphael-proust commented on #415
AFAICT, this is the same problem as with #283 : by the time `cancel` is called, the “deepest” promise (the first `pause`) is resolved, and so the cancellation has no effect.

This case is harder though, because the deepest non-resolved promise is the one that is calling for the cancellation and thus the one that is “currently executing”. The difficult part being that we (at least I) would expect t

[2017-06-23 11:20] Richard-Degenne commented on #393
About the C files, there is `clang-format`, which natively support Google-style formatting.

I'll give it a shot later today.

[2017-06-23 16:32] aantron opened #417 "Check Lwt PPX packaging and fix it (-ppxopt)"
See https://github.com/janestreet/jbuilder/issues/163.

Basically, we now have Findlib packages:

1. [`lwt.ppx`](https://github.com/ocsigen/lwt/blob/74cc2de2dcd4ba4d0042b459e196ef95e3f086df/META.lwt.template#L26), which is for PPX drivers.
2. [`lwt.ppx.deprecated-ppx-method`](https://github.com/ocsigen/lwt/blob/74cc2de2dcd4ba4d0042b459e196ef95e3f086df/META.lwt.template#L45), which is the tradition

[2017-06-23 16:36] aantron commented on #417
I should also add that we might want to wait and see if this is fixed and released in Jbuilder soon (cc @diml). However, this needs to be fixed in *some* way at or below the Lwt level before the next Lwt release.

[2017-06-23 16:48] aantron opened #418 "[trivial] Test on the new OCaml 4.04.2"
This involves changing the `.1` [on this line](https://github.com/ocsigen/lwt/blob/74cc2de2dcd4ba4d0042b459e196ef95e3f086df/src/util/travis.sh#L88) to say `.2`. See [`CONTRIBUTING.md`](https://github.com/ocsigen/lwt/blob/master/doc/CONTRIBUTING.md#readme) for the git/OPAM workflow.

[4.04.2 release announcement](https://sympa.inria.fr/sympa/arc/caml-list/2017-06/msg00094.html).

The security issue

[2017-06-24 09:55] raphael-proust commented on #283
In Fut (http://erratique.ch/software/fut/doc/Fut.html), the function is called `abort`, not `cancel` and its semantics is to set the aborted future to a special state (`Never`) and to do the same on all the futures that it depends on.

The state `Never` propagates through `bind`. The programmer can use the function `recover` to transform `'a fut`, a future of type α, into `'a set fut`, where `'a s

[2017-06-25 16:46] aantron commented on #417
It's confirmed a bug (part 1).

[2017-06-25 17:53] aantron commented on #404
I believe the code part of this is resolved by #420. I'll know to notify the maintainers, and refer to this issue, when I'm looking through the changes in preparation for 3.1.0 release. Thanks!

[2017-06-25 17:53] #404 closed

[2017-06-25 21:56] copy commented on #315
Another update: Reading about [1] this morning, I immediately thought about this issue, as my CPU was also affected. I reproduced the fault after 5 minutes of running the stress test, then applied the microcode upgrade. I haven't been able to reproduce the issue after several hours of stress testing now.

If you're affected by this fault, try the mitigations described in [1]. You can check if your

[2017-06-25 23:01] aantron commented on #315
cc @AlexOnWork, @domsj, @smondet about the hyperthreading bug:

any chance you have one of the processors listed in the link from @copy above?

I just started setting up to reproduce this on Linux in DO a few hours ago, using the latest instructions (after failing to reproduce on my MacBook). I'm going to pause that. The perl script says the DO droplet is likely not affected.

Please let me know i

[2017-06-25 23:23] smondet commented on #315
@aantron sorry I don't know the architecture this happened in a docker image on a cloud node (hence the `/home/opam/` paths ;) ).

[2017-06-26 07:33] domsj commented on #315
Hi, my processor is indeed affected.
So combined with the fact that my colleagues did not have this problem, I think we can conclude that this probably causes/caused the problems I was seeing.
I'll wait a bit more for ubuntu to include the updated microcodes package and then I'll test again

[2017-06-26 20:31] tte commented on #320
@aantron Hello! So what is a replacement for `Lwt_result`? I was really excited to using this module instead of spaghetti-code checks w/ Lwt.Infix and Result monads. But I can't compile, run CI w/ `-warn-error` flag now. Why this (experimental) module is deprecated and what is a replacement for?

[2017-06-26 20:37] aantron commented on #320
@tte this module is *not* deprecated or experimental since Lwt 2.7.1 (April). It is a supported part of Lwt.

[2017-06-26 20:39] domsj commented on #315
Updated my laptop with the instructions from https://launchpad.net/~nschloe/+archive/ubuntu/intel-microcode-backports

Started the stress test that could previously reproduce my issue & left it running for a few hours and it ran without problems (usually it takes less than 30 minutes), so quite confident my issue was caused by the cpu bug

[2017-06-26 22:58] aantron opened #422 "Running tests should not require package react"
Currently, if one does `make test` with package `react` not installed, the result is

[code]

I guess this is because we have tests for `lwt_react`, and the tests expect it to be present unconditionally.

What's the right way to make this conditional? `(optional)` in `test/react/jbuild` didn't work (nor did I expect it to), neither in the alias nor in the executable. The other alternative I can qu

[2017-06-26 23:05] andrewray commented on #422
It should work with

[code]

[2017-06-26 23:20] aantron commented on #422
Thanks, that works. However, it still isn't quite right – the way the build system and testing are set up now, we *do* want to run `lwt_react` tests if `lwt_react` is being built. It's relatively easy using an `ocamlfind query` command in the `Makefile`, but I wonder if there is a better way using Jbuilder itself.

[2017-06-26 23:23] aantron commented on #422
I suppose we could use the restricted command in `make test`, to match `make build`, and add another `make test-all` to match `make all`.

[2017-06-26 23:25] andrewray commented on #422
I think you will have to do something conditional in the Makefile to test for lwt_react since it is a separate library.

Or use separate commands as above :)

PS I was never really happy with the `all` target.  If you add `test-all`, I think it should be renamed `build-all`

[2017-06-27 00:02] aantron commented on #411
Ok, it is possible to both apply a PPX and preprocess with cppo, but it requires the cppo `rule` stanza, and so presumably a source file with a name like `foo.cppo.ml`. It would be nice if one could both apply cppo and PPXs to source named `foo.ml`. Maybe it's already possible using multiple `rule` stanzas, or a single complex one, but I doubt it, and it doesn't seem possible using the `preprocess

[2017-06-27 00:06] aantron opened #423 "Reconsider the source-controlled jbuild-workspace.dev"
We currently have [`jbuild-workspace.dev`](https://github.com/ocsigen/lwt/blob/2799cc1efad8c5edfce4b94c7f4a22b073ed4c8a/jbuild-workspace.dev) in the root of the repo, but aren't sure what the best practice for this is. Should there be one checked in, or is this up to individual developers?

cc @andrewray

[2017-06-27 00:38] aantron commented on #349
This issue was most likely caused by a [processor bug](https://lists.debian.org/debian-devel/2017/06/msg00308.html). Discussion continued from https://github.com/ocsigen/lwt/issues/315#issuecomment-310931104.

[2017-06-27 00:41] aantron commented on #315
Ok, I think we can close this issue as resolved. Thanks to all involved for debugging, running stress tests, and paying attention to mailing lists. I guess this also includes the compiler team for their work towards finding the bug :)

[2017-06-27 00:41] #315 closed

[2017-06-27 00:44] #422 closed

[2017-06-27 00:47] aantron commented on #422
I went with the two targets, and renamed `all` to `build-all` as you suggested.

My overall impression of this is of some kind of tension between configuration/detection steps, multiple packages in one repo with different dependencies, depopts, and so on. Not sure we have the ultimate solution to this problem yet. However, most Lwt development is focused on package `lwt`, so it's good enough for n

[2017-06-27 09:32] diml commented on #411
It's not hard to support as jbuilder already uses intermediate files to handle preprocessing. We just need to support chains of preprocessors. Can you open a ticket on jbuilder so that we keep track of this?

[2017-06-27 09:36] diml commented on #422
I suppose that tests could be conditional indeed. @hhugo wants this as well for jsoo

[2017-06-27 14:08] #418 closed

[2017-06-27 18:26] aantron opened #426 "[easy] Fix macro redefined warnings in C code"
After applying clang-format to the C code (#416, part of #393), we get these warnings:

[code]

This is probably just because of [the space deleted by that PR](https://github.com/ocsigen/lwt/pull/416/files#diff-e7b477b8db74e783e0d540162677ec4fR839).

However, instead of reintroducing the space, I think we can delete these macro definitions. They were [added to Lwt](https://github.com/ocsigen/lwt/c

[2017-06-28 10:48] andrewray commented on #411
@antron @diml I have been testing this by trying to add bisect_ppx to lwt_unix.  Did you actually manage to get cppo and a ppx to work here?  It seems the cppo rule is not triggered before the ppx is applied, and thus the build fails.

[2017-06-28 12:07] #408 closed

[2017-06-28 12:56] aantron commented on #411
@andrewray Indeed, I remember seeing what you are reporting as well, i.e. PPX triggered before the cppo rule, and the build completely failing. That's why I applied Bisect to only the core in my [crappy WIP PR](https://github.com/ocsigen/lwt/pull/419) :p

However, I tried this more recently:

`foo.cppo.ml`:

[code]

`jbuild`:

[code]

Build:

[code]

Since it seemed to work, I assumed that I had m

[2017-06-28 15:49] stijn-devriendt opened #427 "Lwt_unix.timeout may return early"
We are observing that Lwt_unix.timeout can sometimes return early.

The case that we were able to debug a bit more closer was doing a very lengthy writeout to the console (multiple megabytes), from an Lwt task. The next operation with an Lwt_unix.timeout raised Lwt_unix.Timeout early. Suppressing the writeout gave normal behavior.

Digging a bit deeper, I believe the following behavior in libev is

[2017-06-28 18:51] aantron commented on #427
Thanks for adding the reproducer and potential fix (and the report, of course). I'll take a harder look (at some point, hopefully relatively soon) at the performance implications of this. My guess is that the rate of calling `ev_now_update` will be proportional to the degree that the program is I/O-bound, and so it probably won't be an issue.

[2017-06-28 19:27] raphael-proust commented on #283
For Javascript promises, there are currently no cancellation mechanisms. Someone proposes a hand-coded mechanism by which an additional promise is passed to a waiting function. This additional promise has a single purpose: raise a `Cancel` exception.

https://esdiscuss.org/topic/cancel-promise-pattern-no-cancellable-promises

The equivalent in Lwt would be something like the following:

[code]

So

[2017-06-28 19:58] aantron commented on #283
This will also be useful if/when porting `lwt.ml` to JS. I was considering disabling cancelation completely in that variant.

[2017-06-28 20:08] aantron commented on #315
We also have this blog/report. Found the link on Reddit:

[Skylake bug: a detective story](https://medium.com/ahrefs/skylake-bug-a-detective-story-ab1ad2beddcd)

[2017-06-29 09:33] stijn-devriendt commented on #427
As far as I know, the on_timer is only called for Lwt.sleep (and Lwt_unix.timeout) so the performance impact should be limited.
Given that the issue is with "uncooperative" tasks, I also considered whether Lwt.yield would be a good candidate, but I'm not sure it is. Uncooperativeness could be a bug (e.g. a larger than expected debug trace) or people could be happy with performance even if large un

[2017-06-29 10:01] diml commented on #411
It might have been with an older version of jbuilder. Initially it was taking all files ending with `.ml` as modules. This was changed to not consider files with several dots, so that `foo.cppo.ml` is ignored.

[2017-06-29 10:38] andrewray commented on #411
The problem exists with the dev version of jbuilder.

I've tried creating a simple example library with cppo/ppx but it works OK.  Something subtle seems to be going on with lwt.unix.

[2017-06-29 11:11] andrewray commented on #411
I've found the problem - `cppo` is adding a `#line` directive pointing to `lwt_unix.cppo.ml`.  Due to the various changes of directory during the build, when the ppx runs it can't find `lwt_unix.cppo.ml` and errors out.  Adding `chdir ${ROOT}` around the cppo call fixes the issue.

I'll prepare a pull request later.

[2017-06-29 12:37] aantron commented on #411
Without looking deeply, this sounds like a Bisect problem. If so, I want to note that we are trying to move away from reading concrete syntax or dealing with `#line` (something we inherited from Camlp4 days, and haven't fully removed). I'm not sure what the target of the PR is/was going to be, but see also https://github.com/aantron/bisect_ppx/issues/83#issuecomment-311536276.

[2017-06-29 13:13] andrewray commented on #411
That would also fix it.  This is what's needed in the mean time:

[code]

[2017-06-29 13:17] aantron commented on #411
That doesn't look bad. We'll probably have to use it, because addressing it in Bisect_ppx could take a release or two.

[2017-06-29 20:59] aantron opened #428 "Consider switching to a testing framework from OPAM"
Lwt has a custom testing framework in [`test/test.mli`/`test/test.ml`](https://github.com/ocsigen/lwt/blob/bb223e3f836d5827b2815b9df282ffd42e0ae417/test/test.mli). It has what you would expect: test cases, test suites, skipping tests, creating temporary files, etc. The only thing special about it, AFAIK, is that each test case, except those registered with `test_direct`, waits on an `Lwt.t`. Howev

[2017-06-30 23:36] aantron commented on #390
Just want to follow up in this issue also, so it doesn't look like we abandoned it – see @copy's [link](https://github.com/ocsigen/lwt/issues/315#issuecomment-310931104) about the Skylake CPU bug. This CPU bug explained all similar issues reported on Lwt. Let us know if you are observing this on a non-Skylake non-Kaby-Lake CPU, or microcode updates don't resolve the issue.

[2017-06-30 23:36] aantron commented on #390
(I have no idea how GitHub mangled the comment above).

[2017-07-01 16:27] raphael-proust commented on #426
Other warnings:

[code]

[code]

[2017-07-01 16:56] #426 closed

[2017-07-01 17:03] aantron commented on #426
Thanks for taking care of this. I appreciate the thoroughness.

Some notes about warnings:
- There are also some warnings on Windows, e.g. https://ci.appveyor.com/project/aantron/lwt/build/531/job/d2jfk3t5uk6nqj3d#L822. I'm not exactly suggesting you fix those too, but if you want to give it a shot, glance in the AppVeyor logs to see the current state.
- We can't squash warning 58 except by disabl

[2017-07-02 17:59] aantron opened #431 "Restore warnings as errors in CI"
Until the Jbuilder port (#374), we ran the OCaml compiler with all warnings as errors in CI. This was done by setting `LWT_WARNINGS_AS_ERRORS=yes` in [`.travis.yml`](https://github.com/ocsigen/lwt/blob/ccbb5020115e201f2bd8ddb568b2ba95c4acbb74/.travis.yml#L29) and [`appveyor.yml`](https://github.com/ocsigen/lwt/blob/ccbb5020115e201f2bd8ddb568b2ba95c4acbb74/appveyor.yml#L13), and using `myocamlbuild

[2017-07-02 18:02] AlexOnWork commented on #390
@aantron At some point I'm just replaced Lwt with our own (very basic) replacement which solved the problem.
I can't confirm that our customer experiencing this bug was using Kaby Lake/Skylake CPU - but I never seen this bug on oldest CPUs which we use in our lab.
Anyway, thank you for your work on Lwt!

[2017-07-02 18:06] aantron commented on #390
Thanks for the response. I will close this issue; but please comment and/or reopen if you get more information, it comes up again, etc. :)

You "may" still want to bug your customer more about the CPU, because this crash occurs in OCaml code that is not using Lwt, as well (but you know best!).

[2017-07-02 18:06] #390 closed

[2017-07-03 14:07] aantron commented on #315
...also [How I found a bug in Intel Skylake processors](http://gallium.inria.fr/blog/intel-skylake-bug/) from Xavier Leroy.

[2017-07-03 21:04] aantron commented on #427
I've been reading the source of libev and about the underlying functions involved. Here are some notes. I'm focusing on Linux, macOS, and Windows for now.

### Linux

- I haven't fully verified, but it looks like only Linux would have `EV_USE_MONOTONIC`, because that [guards](https://github.com/enki/libev/blob/93823e6ca699df195a6c7b8bfa6006ec40ee0003/ev.c#L1874-L1881) passing `CLOCK_MONOTONIC` to

[2017-07-03 23:36] jorisgio opened #432 "Repititve bind to the same thread might cause memory leak or stack overflow."
We've been struggling with a nasty Stackoverflow triggered by cleanup function recursively walking a crazy large list of waiters. In theory this should not happen, thanks to the "silent remove" limit, and the removed waiter tree to be cleanup should not be deeper than 42.

It turns out the issue is caused by `bind`. `bind` creates immutable waiters and they can accumulate until a stackoverlow is t

[2017-07-04 07:22] stijn-devriendt commented on #427
As per your concern of performance, we ultimately decided to take the safer route and apply the fix as suggested in the man page, by adjusting the timeout value. This only takes a single ev_time() call, which at least on Linux, is fast.

Mind that the code in the man page is wrong... I've requested some time to upstream our patch and hope to be able to do so this week.

[2017-07-04 17:01] aantron commented on #405
Was fixed by the linked commit, in PR #434.

[2017-07-04 17:01] #405 closed

[2017-07-04 17:32] aantron commented on #427
It looks like performance of `ev_time` won't be a problem, including on Windows: https://stackoverflow.com/a/19052481. Thanks for the fix!

[2017-07-04 17:33] #427 closed

[2017-07-04 19:22] aantron opened #435 "Fix flaky AppVeyor builds"
Both the Cygwin and MinGW rows in AppVeyor routinely get stuck when running tests. Here is an [example](https://ci.appveyor.com/project/aantron/lwt/build/549/job/blmcdwum10550jo3#L553). The build workers are terminated after one hour, and the build is reported as failed. I get an email and manually restart these builds.

I don't think this is caused by Jbuilder, as this was happening sporadically

[2017-07-05 22:50] aantron opened #436 "Be more thorough about testing on Flambda"
The old `lwt.ml` used `Obj.magic`, and the new `lwt.ml` (#354) uses it even more.

In the meantime, I realized that we might not actually be passing an optimization flag to the compiler in the Flambda build row in Travis. We should make sure to do that. I've done it manually a few times on one compiler, but that's obviously not suitable going forward.

We should also start testing on compilers bef

[2017-07-05 23:13] aantron commented on #436
We probably shouldn't release Lwt before doing this.

[2017-07-07 16:54] aantron commented on #423
So Jbuilder itself has [such a file](https://github.com/janestreet/jbuilder/blob/7be14ac30bd714a310f3fb4328379622f4948e4b/jbuild-workspace.dev), however it has a comment:

[code]

we don't have such a target, though I guess one could trigger this directly through `jbuilder`.

At the same time, this file contains switch names. I, for example, have separate, custom-named switches (`--alias-of`) for

[2017-07-07 17:10] Drup commented on #423
The file also indicates what is the "root" of the repository. I believe jbuilder tries fancy heuristics otherwise, but it seems useful just for that.

[2017-07-07 17:10] rgrinberg commented on #423
Jbuilder itself checks in a workspace file. I find it pretty useful because I use the same switch naming scheme and I don't really need sand boxing when building jbuilder as it's a dependency free package:

https://github.com/janestreet/jbuilder/blob/master/jbuild-workspace.dev

It seems like it would definitely be a useful feature for you if you're testing Lwt against multiple switches. However,

[2017-07-07 17:28] aantron commented on #423
Regarding the heuristics, the build is triggered typically by `make`, so it is then triggered from the root directory of Lwt anyway. If there is no `jbuild-workspace*` file around, Jbuilder uses the current directory as the workspace root, so having it for this seems redundant.

On the other hand, if Lwt is nested in some other project that has its own `jbuild-workspace*` file, it seems Lwt's `jbu

[2017-07-07 17:31] andrewray commented on #431
There is a `--dev` argument to jbuilder which I think is much the same thing.  The targets in the makefile (and any CI scripts) should probably use it.

[2017-07-07 19:36] aantron commented on #431
Ok thanks, looking at it.

[2017-07-08 01:05] jsthomas commented on #385
I'd like to work on this issue, specifically testing `Lwt_result`. However, I'm hitting an error when I try to assess coverage on my copy of the `working-coverage` branch (i.e. my copy with no new changes). When I run `make coverage`, I get:

    ./setup-dev.exe -build
    W: Cannot find source file matching module 'Lwt_unix' in library lwt-unix.
    W: Use InterfacePatterns or ImplementationPatte

[2017-07-08 01:07] #431 closed

[2017-07-08 01:10] aantron commented on #385
As a first guess, can you try running `make clean distclean`, and then starting the build over?

[2017-07-08 01:22] aantron commented on #385
If you/we don't solve this in about 10 minutes, then it'll be the kick for getting some kind of hacky Bisect support merged into `master` (e.g. #419). Don't spend too much time on this; I can take of a hacky Bisect setup tomorrow.

[2017-07-08 02:02] jsthomas commented on #385
Running `make clean distclean` did the trick, thanks. I'll start in on writing some tests for `Lwt_result` now.

[2017-07-08 16:41] #423 closed

[2017-07-08 19:17] aantron commented on #385
@jsthomas Now that #438 is in, we have coverage working for the core library in `master`. I'll still keep `working-coverage` around for a while, so you don't have to transfer your work over.

[2017-07-10 11:41] aantron commented on #248
Closing, as the remainder is mostly tracked in the [project](https://github.com/ocsigen/lwt/projects/2).

[2017-07-10 11:41] #248 closed

[2017-07-10 16:00] aantron opened #441 "Delete Lwt_chan in 4.0.0"
Module [`Lwt_chan`](https://github.com/ocsigen/lwt/blob/99f556b347567f92a1b290915881692b94b060b4/src/unix/lwt_chan.mli#L24) is completely superseded by [`Lwt_io`](https://ocsigen.org/lwt/3.0.0/api/Lwt_io). `Lwt_chan` has been deprecated (in favor of `Lwt_io`) since 2009 (fd418ddad9a82e70d360abf99462be09c4e7a478).

With non-trivial work on the Unix binding potentially [coming up](https://github.com

[2017-07-10 16:05] metadave commented on #441
:+1: I don't plan on/have time to work on any maintenance for the Riak OCaml client.

[2017-07-10 16:07] aantron commented on #441
Also, it seems a lot of PG'OCaml users pass `Lwt_chan` to a functor @darioteixeira.

@metadave: FYI :) Thanks for taking a look.

[2017-07-10 16:10] jpdeplaix commented on #441
```macaque_lwt``` is a deprecated library so no work is needed here, I believe.
Except removing the package from opam-repository maybe.

[2017-07-10 16:14] vasilisp commented on #441
@aantron, thanks for the notice. Most of the work for getting rid of `Lwt_chan` in Ocsigen has already happened in branches. Thumbs up for the removal.

With respect to the Cohttp functor, here is a [straightforward translation to `Lwt_io`](https://github.com/ocsigen/ocsigenserver/commit/2c32bd4b8331ab2b9d479c85d626ef72f711dc27#diff-ae922311c33e751da2e43969148d3701).

[2017-07-10 16:16] edwintorok commented on #441
Go ahead, I don't have any plans for working on libres3 in the near future. When 4.0 is released I can add a constraint in the opam repository if needed. Thanks for the notice.

[2017-07-10 16:31] Drup commented on #441
What about we don't remove packages that actually work, don't have an equivalent library and may have users in some application?
You don't want to work on it anymore, sure, that's your choice. But that's not what "deprecated" means.

[2017-07-10 17:47] aantron commented on #441
It has several equivalent replacements:

- For ordinary direct use, code I've seen could be replaced in an obvious way with `Lwt_io`. Can you clarify what is missing from `Lwt_io`?
- For use when passing to a functor, @vasilisp has provided an example, and we can link people to it (thanks). Among other places, we can include that link in the deprecation message.
- If all else fails, or extra paran

[2017-07-10 17:57] Drup commented on #441
@aantron I was talking about macaque_lwt. My remarks certainly don't apply to your removal process. :)

[2017-07-10 18:02] aantron commented on #441
Gah sorry. At least it's good to have all those thoughts written down, since I'll have to write a similar text in the future anyway, as part of the release :)

[2017-07-10 18:16] aantron commented on #441
Also @Drup, even if you may not have intended it, misreading your comment made me think a lot harder about this issue, so thank you :)

[2017-07-10 18:26] darioteixeira commented on #441
Removing `Lwt_chan` will indeed put a small extra burden on the users of PG'OCaml with Lwt, but IMHO this should not be an obstacle to progress. I'll send a message to the mailing-list with the workaround.

[2017-07-10 18:36] jpdeplaix commented on #441
You don't want to work on it anymore, sure, that's your choice. But that's not what "deprecated" means. You can let it around with a version constraints on lwt, and let users port it if needed.

Yeah, whatever...
"deprecated" in this case means: "all the significant parts of the library has been merged in macaque or PGOCaml years ago".

[2017-07-10 22:41] aantron opened #442 "[easy] Clarify Lwt.finalize documentation"
From https://discuss.ocaml.org/t/lwt-finalize-and-failure-in-the-cleanup-code/525:

Indeed, if `g ()` fails, that behavior controls the behavior of `finalize`, no matter the outcome of `f ()`. The documentation does not mention this, and states unconditionally that `finalize` returns the same result as `f ()`.

The documentation is found here: https://github.com/ocsigen/lwt/blob/99f556b347567f92a1

[2017-07-11 08:33] Richard-Degenne commented on #442
What's a use-case for this function? As you stated [here](https://discuss.ocaml.org/t/lwt-finalize-and-failure-in-the-cleanup-code/525/2?u=richard-degenne), it might be interested to discuss whether it is the docs or the behavior that needs to be changed.

[2017-07-11 14:06] aantron commented on #442
Resource cleanup, for example. Even though there is `Lwt_io.with_file`, I'm using [`Lwt_io.open_file`](https://ocsigen.org/lwt/dev/api/Lwt_io#VALopen_file) to demonstrate:

[code]

In fact, this is how `with_file` is [implemented](https://github.com/ocsigen/lwt/blob/99f556b347567f92a1b290915881692b94b060b4/src/unix/lwt_io.ml#L1351-L1355).

As I understand it, in Python, if you raise inside `finall

[2017-07-11 14:31] Richard-Degenne commented on #442
Oh, I see. I just gave Java a try, and the behaviour is the same: the exception in the `finally` block hides the other one.

The behavior is documented in the [Java language specifications](https://docs.oracle.com/javase/specs/jls/se8/html/jls-14.html#jls-14.20.2), which is clearly not a resource intended for developers, but we can draw inspiration from it.

[2017-07-11 14:39] aantron commented on #442
Thanks for checking.

I think we should find the best justifications for the various behaviors, choose one (or make our own :scream:), document the design decision, and make these links easy for users to find. We may not be able to change `Lwt.finalize`, if that's what we want to do, but we have opportunities to create new, better APIs coming up.

[2017-07-11 16:05] Richard-Degenne commented on #442
Well, the current behavior is fine with me. One way to interpret it would be as follows: `Lwt.finalize` (or any `try-finally` construct, really) is to be considered as one semantic entity.

- If the `try` part fails, the `finally` part executes;
  - If it fails as well, the `try-finally` fails *because* of the `finally`'s failure.
  - If the `finally` completes/resolves, the `try-finally` still fa

[2017-07-11 16:10] aantron commented on #442
It might be relatively easy, e.g.

This is just a sketch. Some editing will be needed :)

It may also help to rename `g` to something more descriptive, such as `finally` or `cleanup`.

[2017-07-11 16:29] Richard-Degenne commented on #442
We could even consider making it a labeled argument. It would make the whole thing and its usages far more expressive, I think.

[code]

I'm not sure what the implications in terms of retro-compatibility are, though.

[2017-07-11 16:38] aantron commented on #442
I agree with the labeled argument (the same for `catch`); I routinely defined this in my projects. It won't be backwards-compatible though, except for people using the option to ignore labels (is it still the default?).

There might be a future new `Lwt.Promise` module, in which we can create a new API of our dreams. So these discussions are welcome, even if we can't really change `Lwt.finalize` i

[2017-07-12 01:37] jsthomas commented on #385
I'm working on tests for `Lwt_mvar` now (based off of the `master` branch, not `working-coverage`).

[2017-07-12 03:28] hcarty opened #443 "Add Lwt_mvar.peek"
A function which would immediately return the current state of the mvar (contents or `None` if empty).

I've wanted this on several occasions but never filled an issue or submitted a PR. Time to change that!

If such a function would be accepted/considered I'll create a PR for it.

[2017-07-12 03:30] hcarty commented on #443
[code]

And potentially an `is_full` as well.

[2017-07-12 13:13] ibukanov opened #445 "Lwt.bind2"
In my code I need to wait for the result of 2 promises that can run in parallel. If any of them fails, another should be canceled. The code should also properly deal with any failure coming from the promises. To cover this case it is nice to have in Lwt a function like:
[code]
where `bind_cancel2 promise1 promise2 f` waits for the results of promise1 and promise2. If successful, it returns `f resu

[2017-07-12 16:03] #442 closed

[2017-07-13 11:03] aantron commented on #443
It sounds useful to me. Not sure if anyone else has an opinion.

As for `is_full`, I want to ask about the name – is "full" standard terminology with mvars? If not, I would prefer to reuse some of the terminology already used in `lwt_mvar.mli`, e.g. *empty*, *available*, or please adjust docs in the same PR to keep the number of distinct adjectives low :)

[2017-07-13 11:08] aantron commented on #445
Thanks. There is also https://github.com/ocsigen/lwt/issues/325 which overlaps partially if `<&>` is implemented as `pick`, but the semantics here are more thorough.

[2017-07-13 11:12] raphael-proust commented on #443
Question: does `peek` pop the value out if there are any?

Mvars are useful as a synchronisation thing: only one promise can take a value from it. So I would expect `peek` to pop the value out if there is any.

But the name `peek`, when used for other datastructures like queues, tend to have the opposite meaning: it returns what pop would return, but doesn't pop the value out.

-------------------

[2017-07-13 11:25] #436 closed

[2017-07-13 11:32] aantron commented on #385
@jsthomas beware https://github.com/ocsigen/lwt/issues/443. cc @hcarty

[2017-07-13 12:35] ibukanov commented on #283
In theory this bug can be fixed if cancel can change the state of a resolved promise from Return _ to Fail Canceled. This way if children promises are bound to the same parent and the first child cancels the parent, it prevents other children to run. In practice this immediately leads to a lot of issues like iterations with various callbacks breaking a lot of code in subtle ways with no help from

[2017-07-13 12:46] ibukanov commented on #283
@raphael-proust the issue of unexpected order of effects with explicit cancellation points and catch can be addressed if catch callbacks are never executed for CanceledError, so it triggers only finalize callbacks, not a generic catch. And in case when finalize itself triggers an exception, it will still trigger only later finalize callbacks, never any catch blocks. Essentially this is a Rust mode

[2017-07-13 17:27] hcarty commented on #443
@aantron Very good points on terminology - being inconsistent here doesn't help anyone!

@raphael-proust I agree - better to not break assumptions around `'a Lwt_mvar.t` being a once-in, once-out value.

What do you think of `take_available` as a name, following the naming scheme in `Lwt_stream.get_available` for a function which takes what it can without blocking?  Similarly for `is_empty`.
[code

[2017-07-13 17:36] aantron commented on #443
I have no objection to these names, except a vague hesitation about the part of the proposal that uses `Lwt_stream` as example, just because of the `Lwt_stream` problems and rewrites discussion (#250). But if the name is good for other reasons, great :) Let's see if there are any other opinions, though.

[2017-07-13 17:37] aantron commented on #443
(and it's also good that `take_available` matches up with `take`)

[2017-07-13 17:39] hcarty commented on #443
Understood regarding `Lwt_stream` - I thought that might come up!  In this case, though, I don't know that we have another Lwt example to pull from.

[2017-07-13 19:08] hcarty commented on #385
Getting what's in `Lwt_mvar` now covered is 👍 - I/we can add tests for new functions as they arrive.  Please don't let my potential future work slow you down!

[2017-07-13 19:37] aantron commented on #443
It's good to note `Lwt_stream` anyway,  so thanks :)

[2017-07-14 07:05] raphael-proust commented on #443
These function names (and signature) look good.

[2017-07-14 11:09] raphael-proust commented on #283
Modifying promises that have `Return`ed to promises that have `Fail`ed seems like way too big of an invariant to break. Both within the internal logic of Lwt bu also in user code. Users are allowed to hang on to terminated promises for as long as they want and use them in other bindings.

------------------------------

I think that `cancel` is currently broken (the documentation is wrong; the sem

[2017-07-14 15:52] ibukanov commented on #283
@raphael-proust You are right that it is not possible to change the pick to address this bug without changing how cancellation works. For example, what should be a natural expected behavior when there are several picks waiting on a common promise?

So cancel model must be changed to make the behavior more useful. This issue and  #415 suggests that a cancelable  promise should have a flag like Canc

[2017-07-16 19:14] aantron opened #449 "[easy] Delete Camlp4 from the manual introduction"
The Camlp4 syntax is deprecated, but we are still confusing users by [talking about it (at length) on the manual intro page (link; section "The syntax extension")](https://ocsigen.org/lwt/manual/). We should:

- Delete everything in the Camlp4 subsection of this.
- Either delete the Correspondence table for now, or adapt it to the PPX.
- Get rid of the Ppx subsection header – it's not necessary wh

[2017-07-16 23:49] jsthomas commented on #385
I'm working on tests for `Lwt_condition` now.

[2017-07-17 16:52] rneswold commented on #443
If the `mvar` holds a record with mutable fields, `Lwt_mvar.peek` would let you change the value of an MVar without taking and putting it. I realize it's an edge case, but I'd rather keep the semantics pure. Instead of `Lwt_mvar.peek`, there should be a `Lwt_mvar.take` that can have a timeout.

[2017-07-18 06:46] raphael-proust commented on #443
Is anyone working on this? Otherwise, I'll give it a shot this evening.

[2017-07-18 07:49] aantron commented on #443
I was under the impression @hcarty will submit a PR; @hcarty?

[2017-07-18 13:59] hcarty commented on #443
@raphael-proust @aantron I was going to work on it later this week. If you have time to work on it now/today then please go for it! I'm happy to help with the review in that case.

[2017-07-18 17:32] aantron opened #451 "Exceptions raised by signal handlers not properly handled?"
From https://discuss.ocaml.org/t/lwt-how-to-catch-exceptions-raised-by-signal-handlers/565:

[2017-07-18 17:55] raphael-proust commented on #443
There's another issue that I'll try to tackle first. If I finish early I'll give this one a stab. Otherwise @hcarty I'll review any commit that you have time to put together.

[2017-07-18 17:57] aantron commented on #443
Thanks for synchronizing :) And I'll of course help review everything :)

[2017-07-18 20:19] aantron opened #452 "[easy] Test interaction of Lwt.finalize and Lwt.cancel"
See https://discuss.ocaml.org/t/lwt-finalize-and-failure-in-the-cleanup-code/525/4.

Basically, when a promise is canceled, after Lwt [figures out which initial promise](https://github.com/ocsigen/lwt/blob/fa9eb6781a813122b94b56b31361c29492782e51/src/core/lwt.ml#L234-L271) to actually cancel, cancelation becomes just an ordinary exception (`Lwt.Canceled`) propagating normally forwards through the

[2017-07-18 20:31] aantron opened #453 "Lwt 4.0.0 breaking changes notice"
Lwt 4.0.0 will be released ~~towards the end of 2017~~ in March 2018 with minor breaking changes to packaging, and perhaps several APIs. Hopefully, there will be less breakage than in 3.0.0.

The current release, 3.1.0, prepares to delete some modules. Another planned release, 3.2.0, will schedule additional breaking changes for 4.0.0. A comment will be added to this issue when 3.2.0 is released,

[2017-07-18 22:17] raphael-proust commented on #451
I'll investigate this and have a stab at it.

[2017-07-18 22:43] #417 closed

[2017-07-19 00:10] jsthomas commented on #385
I'm working on tests for `Lwt_pool` now.

[2017-07-19 00:21] aantron commented on #385
You're destroying this issue, I need to find new ones :p

[2017-07-19 00:35] aantron commented on #445
We will have to consider this during the various upcoming large projects in Lwt (https://github.com/ocsigen/lwt/wiki/Roadmap#upcoming-large-projects). Some of these present opportunities to create new alternative APIs.

[2017-07-19 02:16] aantron opened #455 "[easy] Document that Lwt_io.printf is more like sprintf than printf"
From https://discuss.ocaml.org/t/lwt-execution-order-and-parallelism/564/8:

`Lwt_io.printf` calls `ksprintf` internally. This has some surprising consequences:

- ~~`%!` doesn't really flush anything, since no channel is associated with a `ksprintf`.~~ *Addressed by @smithjessk in #544*.
- The [type is weird](https://ocsigen.org/lwt/dev/api/Lwt_io#VALprintf):

[code]

    Compare [`printf`](https

[2017-07-19 02:19] aantron commented on #455
Also cc @Drup, due to considerable experience with `Format`, etc. :)

[2017-07-19 12:43] Drup commented on #455
So, yes, this is pretty much what I meant in #310 (except, knowing Format/Printf too much, I didn't detailed the actual consequences of my various points).

I believe my alternative implementation posted in #310 solves most problems.

[2017-07-20 13:37] aantron opened #456 "Jbuilder produces different library filenames than the replaced build system"
- Library filenames were hyphenated. They are now underscored.
- The PPX files have been renamed. This is probably not important.
- We don't generate `.annot` files anymore. I'm assuming this doesn't matter at all, but not fully sure.

Eventually, we want to let Jbuilder take care of this internally, and not worry about it. That means we will switch to underscored names, etc., and that will be a b

[2017-07-20 22:57] aantron commented on #456
After looking into this, I decided not to fix it. I was able to get almost all the libraries hyphenated, but for the stubs files (including `dlllwt_unix_stubs.so`), it seems there is no easy way to get them hyphenated short of renaming the source files.

The greatest actual risk of breakage is probably from calling the PPX binary directly, and expecting it to be in your switch's `bin/`. It is now

[2017-07-20 22:57] #456 closed

[2017-07-22 01:15] bobbypriambodo commented on #449
Hi Anton, I'd love to take this on to learn more about the ppx syntax. Questions, though:

1) Do you wish to keep the ppx syntax documentation [separated](https://ocsigen.org/lwt/3.0.0/api/Ppx_lwt)? If so, I would think keeping the correspondence table doesn't make sense in the manual (perhaps move it to the ppx page?).
2) I suppose we should add a note about the deprecation of camlp4?

[2017-07-22 12:41] aantron commented on #449
Thanks for looking at this.

1. I'm not sure yet. Ultimately, all the docs will get [rearranged](https://github.com/ocsigen/lwt/projects/2). However, we need good source material *somewhere*, and the table definitely seems worthwhile to have. I'd like to leave it up to you :)
2. The Camlp4 syntax is already [marked as deprecated](https://ocsigen.org/lwt/dev/api/Pa_lwt) on its own page, if that's w

[2017-07-22 13:32] bobbypriambodo commented on #449
I see. Yes that's what I meant. I think that makes sense.

Okay then, let me see what I can come up with. 🙂

[2017-07-23 03:16] jsthomas commented on #385
I have a question regarding how `validate` is supposed to work in `Lwt_pool.create`: Is `validate` supposed to be called on every call to `use`? Based on what I read [here](https://ocsigen.org/lwt/dev/api/Lwt_pool), I thought so, but I have [a test](https://github.com/jsthomas/lwt/blob/test_lwt_pool/test/core/test_lwt_pool.ml#L68-L79) that doesn't yield the results I expected. Specifically, the pa

[2017-07-23 14:10] #449 closed

[2017-07-23 14:25] aantron commented on #385
The docs and the code both seem to imply that `validate` is called before every return of an element from `use`, except for new members of the pool.

However, [in case there are no elements available to use immediately](https://github.com/ocsigen/lwt/blob/b5650de6f4b94fc723528853ac31ad0640a36947/src/core/lwt_pool.ml#L96) and the pool limit is [already reached](https://github.com/ocsigen/lwt/blob/b

[2017-07-23 14:26] aantron commented on #385
Alternatively, you are welcome to open an issue instead of a PR, or prod me and I'll do it :)

[2017-07-23 15:11] aantron commented on #455
I haven't looked into `Format` enough. Are the resulting type signatures "close" enough to replace the ones now in `Lwt_io`, or this would be a breaking change if we were to use `Format` internally?

[2017-07-23 15:55] jsthomas commented on #385
Thanks for confirming, I will work on a fix for this in a seperate PR.

On Jul 23, 2017 8:26 AM, "Anton Bachin" <notifications@github.com> wrote:

[2017-07-23 20:58] aantron opened #458 "Contravariance of Lwt resolvers is unsound"
Fortunately, they [don't have a variance annotation in `lwt.mli`](https://github.com/ocsigen/lwt/blob/a246e22fdbf5818ddd6767084f925e3408260b44/src/core/lwt.mli#L287). However, they [do in `lwt.ml`](https://github.com/ocsigen/lwt/blob/a246e22fdbf5818ddd6767084f925e3408260b44/src/core/lwt.ml#L561), and there appears to have been the intent to make resolvers contravariant in the past (363f67a6526135c

[2017-07-23 21:34] aantron commented on #373
I'm reorganizing/documenting `lwt.mli`, and I just came back to this issue exactly because I want to deprecate `return_some`, `return_ok`, `return_error`. AFAICT, they don't serve any particularly useful purpose. Unlike the other functions, they perform no optimization. @hcarty @sagotch @zoggy @c-cube, what are your thoughts?

On syntax, I think I'd rather encourage `Lwt.return @@ Some thing`, or

[2017-07-24 01:06] hcarty commented on #373
I use them pretty often for the reason I mentioned above. If we keep `return_none` it makes sense to me to keep `return_some` for symmetry. If we keep those then I think it makes sense to keep `return_(ok/error)`.

A counter-argument to what I just said is that we have Lwt_result and can direct users to that. If we add Lwt_option we could do the same for returning optional values.

[2017-07-24 06:40] sagotch commented on #373
About the syntax, `Lwt.return @@ Some x + y` won't work. `Lwt.return_some @@ x + y` will.

But I have no strong opinion about this since it does not provide any optimization. I still like it but I could live without.

[2017-07-24 18:41] aantron commented on #456
I also want to note that the PPX compatibility is further broken if calling it directly. If someone was calling it directly before, I believe they now have to pass `--as-ppx` to it to get compatible behavior.

[2017-07-25 11:04] aantron commented on #309
Lwt 3.1.0 is now installable from OPAM. This release ports Lwt to Jbuilder, fixes bugs, and adds a few APIs ([changelog](https://github.com/ocsigen/lwt/releases/tag/3.1.0)).

Two [breaking changes]() are scheduled for 4.0.0, which is planned to be released at the end of 2017: [deleting package `lwt.simple-top`](https://github.com/ocsigen/lwt/issues/371) and [deleting long-deprecated module `Lwt_ch

[2017-07-27 05:26] hcarty commented on #443
PR in as #459 - sorry it took a while to get to!

[2017-07-27 17:02] aantron commented on #443
No worries, there is no rush. And thanks :)

[2017-07-27 17:53] #443 closed

[2017-07-29 22:55] #340 closed

[2017-08-03 21:11] aantron commented on #351
(Forgot to close this): Lwt 3.1.0 has been installable from OPAM for a couple weeks now. See [changelog](https://github.com/ocsigen/lwt/releases/tag/3.1.0).

[2017-08-03 21:11] #351 closed

[2017-08-04 13:46] aantron opened #463 "[easy] Test order in which cancelation and resolution happen in pick, npick"
When Lwt resolves several promises "simultaneously," it actually resolves them in sequence, for example by iterating over them, updating their state ([example][iter]). Callbacks are called *during* this iteration, i.e. if iterating over `[promise1; promise2]`, first all of `promise1`'s callbacks are executed completely, then `promise2`'s. This means that if `promise1`'s callbacks examine the state

[2017-08-04 23:07] #385 closed

[2017-08-04 23:14] aantron commented on #385
So, thanks to @ryanslade and @jsthomas, the core now has a really good test suite.

The status of testing of the core now is that there are a few really specific testing issues open:

- Test order in which cancelation and resolution happen in pick, npick (#463).
- Test interaction of Lwt.finalize and Lwt.cancel (#452).
- Tests for Lwt_sequence (#406) – this is an internal module.
- Involved tests

[2017-08-05 13:17] jsthomas commented on #372
I'm interested in working on this, but I would probably need need some suggestions about what specific parts of Lwt the load tests should stress.

I see that @copy mentions a relevant test [in the discussion here](https://github.com/ocsigen/lwt/issues/315), but there is a dependency on [uWebSockets](https://github.com/uNetworking/uWebSockets) for creating load. For this issue, should the tests be

[2017-08-07 17:39] aantron commented on #372
Thanks for the interest!

I think the tests should be written in OCaml only, so that various OCaml developers don't have a hard time running them.

I'm not sure, actually, how we would proceed with this issue. Ideally, we would want to be able to reproduce some actual problems, in order to know that the stress tests themselves are valid and useful. I originally opened this before the Skylake bug d

[2017-08-07 17:42] aantron commented on #372
Actually, I think one possibility is to look in Async, and also promise/future libraries for JavaScript, Java, or other languages, see if they have any stress tests, and try to port them. Hopefully, at least some of those tests are "good" in the sense of actually testing for potential problems. Then, we would implicitly benefit from experience of other teams.

Again, I'm not sure if this is a part

[2017-08-07 18:46] hcarty commented on #372
One potential use for stress-tests in general could be to illustrate performance and number-of-promises-and-sockets supported by different backends (select vs libev vs uwt vs jsoo vs ...).  Those numbers can be useful in general to track over time (looking for performance regressions) and finding weak points in each backend.

[2017-08-07 20:24] aantron commented on #372
@hcarty in my experience with libev and select, the limit is entirely due to the implementation of the underlying API on each system, i.e. not due to Lwt. I believe Lwt supports *way* more concurrency than your typical system I/O API permits.

Of course, it would be nice to know immediately if we ever accidentally turn Lwt into the bottleneck. But I think in the vast majority of cases, we will eff

[2017-08-07 21:14] hcarty commented on #372
Agreed on all points! Having those tests is useful though as, regardless of where the limit originates, users will just see Lwt as the thing that does well or poorly in a particular area.

[2017-08-07 21:53] aantron commented on #372
I added the docs label because we should probably mention these limits, where they come from, and what to do about them.

[2017-08-08 09:27] raphael-proust commented on #372
Maybe we could have an ipc-bench[0]-style benchmark where we collect this kind of limits for different systems. Basically we write a benchmark in a separate repo, it should collect result but also things like OS, processor type, version of Lwt and things like that. We tell people to run it and send us back results through some channel. Then we can aggregate the results and have a view of a range o

[2017-08-10 02:43] jsthomas commented on #336
I'm working on this issue.

[2017-08-20 15:11] theindigamer opened #466 "Timeouts and exceptions in subprocesses"
Consider the following code
[code]
compiled on lwt 3.1.0 and ocaml 4.03.0 using

[code]

This throws the exception:

[code]

If you replace the command with `[|"cat"; "foo.ml"|]`, then it works just fine, printing out the file itself.

If you don't care about the status and just try to read in information:

[code]

this also throws the same exception (again it works fine if the timeout isn't trigg

[2017-08-20 16:23] aantron commented on #466
This seems the same as #153 (let's leave both open). "Correctly" fixing it might require some small API change, but, in the meantime, I'll also try to get a "suggested" workaround later today, when set up to code. I believe it will involve creating a function that reads from the input channel in a loop, and carefully handles this exception.

And, indeed, `Lwt_process` docs need major improvement,

[2017-08-20 20:13] aantron commented on #466
@theindigamer Try this:

[code]

I used `pmap_lines` so I could send an unterminated line to `cat` and see that I still get it. The reading-only version is [`pread_lines`](https://ocsigen.org/lwt/dev/api/Lwt_process#VALpread_lines).

[2017-08-23 09:25] stijn-devriendt commented on #283
The solution to this problem doesn't necessarily need to be changing cancel semantics. Having a second call with different semantics might work too.

As a background to this discussion I'd like to highlight some of the issues we're facing:
- sometimes you want part of an operation to complete regardless of cancellation. i.e. postpone cancellation to a point where we're prepared to handle it. Curre

[2017-08-23 14:22] aantron commented on #283
@stijn-devriendt The first point sounds a lot like the current [`Lwt.protected`](https://ocsigen.org/lwt/3.1.0/api/Lwt#VALprotected). Is that a correct identification?

[2017-08-23 14:33] stijn-devriendt commented on #283
I think the difference is that when `Lwt.protected x` is canceled, it does not wait for x to complete, prior to returning. Think of something like a remote procedure call over a socket being executed: returning the socket to a pool shouldn't be done untill the call has completed, even when the call is canceled/no longer necessary. Otherwise the next user of the socket will find it in an inconsiste

[2017-08-23 14:41] aantron commented on #283
Thanks for clarifying that. Can I ask your point of view on why cancelation is necessary at all? I do think it's useful, and I use it, but I'd like to discuss more opinions and experience with it :)

The alternative to cancelation built into the API, is explicit management of cancelation points, and that kind of stuff. I imagine that would be painful, but it should give the ability to get exact co

[2017-08-29 01:50] raphael-proust commented on #451
Back from very low availability … I'll investigate now.

[2017-08-29 04:53] raphael-proust commented on #451
Notes:
- `failwith` is not an Lwt primitive, however
    - `raise` isn't either, and
    - `finalize` is implemented as `try_bind` (src/core/lwt.ml:2071) which wraps calls to the main part in a `try`-`with` (src/core/lwt.ml:1970)

The issue seems to be that when a signal is caught, the callback is executed in a different promise than that created by the main part of the call to `finalize`.

It mig

[2017-08-29 05:39] raphael-proust commented on #445
Here is a stab. The gist is:
- create a thread that chooses between the two; use the thread to send cancel in case of error
- create a thread that joins the two; use the thread as a waiting point
- extract the states of the threads after the joined thread resolves

[code]

And here are a few tests:

[code]

[code]

@ibukanov does that work for your use case? If you produce short programs to test w

[2017-08-29 07:50] ibukanov commented on #445
@raphael-proust Semantically it does what I wanted. But it seems it or its bindN version for multiple threads belongs to Lwt_result, as it delegates to the caller the problem of merging the 2 exceptions that may come from 2 threads or deal with the case of [success, failure] when the successful result may not be just thrown away as it needs some cleanup.

[2017-08-29 14:25] #336 closed

[2017-08-29 16:39] aantron commented on #451
I'd rather avoid a special version of `try_bind` just for signals. It won't solve the problem of surprising behavior of the existing `try_bind`, but be another thing to learn.

I think we should avoid executing *in* a promise terminology. Promises aren't containers for execution, they are just reference cells that help with synchronizing things that are executing (callbacks in the case of Lwt). Th

[2017-08-29 16:39] aantron commented on #451
And welcome back :)

[2017-08-30 00:10] raphael-proust commented on #451
The upcoming manual should probably be precise about what `Lwt_unix.on_signal` does. Something along the line of “the callback triggered by the signal is not related to any specific promise – even if `on_signal` is call ‘within’ a promise.” And then it should probably also mention this workaround as an example of how to send info about a signal being received ‘to’ some promise.

Is there a draft o

[2017-08-30 00:19] raphael-proust commented on #451
Also, this issue should be re-tagged from bug into documentation.

[2017-08-30 00:51] raphael-proust commented on #445
I think the simplest is indeed to return a list of success/failure. The stab above does that, but reuses Lwt.state (which is bad because it doesn't statically guarantee that all promises are resolved/failed).

Even reworked, this should be help-up until the join/choose issue #325 is discussed more thoroughly. Essentially, this is similar to the `<&&>` discussed there with the addition of cancellat

[2017-08-30 10:10] aantron commented on #451
Agreed on the notes to be added to the manual. There isn't really a reviewable draft posted yet. There is a project instead of an issue: https://github.com/ocsigen/lwt/projects/2. And agreed on the tags. I added the docs tag. I'm thinking to keep the bug tag for now, as I'm not sure if this is also a design bug :)

[2017-09-01 08:19] raphael-proust commented on #387
I'm giving that a shot. First draft is https://github.com/raphael-proust/lwt/commit/4048ec5feaeab3bbe92f7e4b64d816131d32fa76

Is there a standard way to emit warnings from ppxs? Currently it just uses `prerr_string` inline. I didn't find examples online.

[2017-09-01 14:08] aantron commented on #387
Off the top of my head, I think you can insert `[@..@ocaml.ppwarning]` annotations: see https://caml.inria.fr/pub/docs/manual-ocaml/extn.html#sec247. I've never tried this.

There are also some warning functions in one of the modules in the compiler's `parsing` directory. However, the PPX's version of that is coming from compiler-libs, and linked into the PPX, so I think it will end up printing to

[2017-09-05 17:36] dannywillems opened #468 "Lwt_log: how can we use it?"
Are there simple examples to use `Lwt_log` to write logs? Do we need to initialize something before using `Lwt_log.info "Hello, world!"`?

Is it recommended to use it to log lots of information (to `stdout` and in files)?

[2017-09-06 00:03] aantron commented on #468
@dannywillems, try the code in this post: https://discuss.ocaml.org/t/about-lwt-concurrency-library/150/6:

[code]

As per that post, you would normally use module `Lwt_log`, not `Lwt_log_core` everywhere. I was just being explicit about what actual underlying module everything was coming from.

[2017-09-06 00:04] aantron commented on #468
Also, even if this answers your question, let's leave the issue open to remind about improving the docs.

[2017-09-06 00:30] rgrinberg commented on #468
@dannywillems Have a look at https://github.com/dbuenzli/logs for a logging solution. It has a better API for logging and isn't Lwt specific. Lwt_log should be deprecated IMO.

[2017-09-06 15:24] Khady commented on #337
I have created a bounty for this issue https://www.bountysource.com/issues/43966981-lwt-ppx-reports-incorrect-locations

[2017-09-06 17:12] Armael commented on #337
I'm not sure I understand @let-def explanation.

On a slightly simpler example:
[code]
is expanded by the ppx to:
[code]

In the generated code, what would be the expected locations for the `__ppx_lwt_0` pattern, and for `Lwt.backtrace_bind (fun exn -> try raise exn with | exn -> exn) __ppx_lwt_0`?

[2017-09-06 17:24] aantron commented on #337
Btw now that there is a bounty, if anyone (@Armael?) wants to work on this, please claim it explicitly. This is for the benefit of not disappointing anyone else who could start working.

[2017-09-06 17:37] aantron commented on #337
...aaand I added $100 https://www.bountysource.com/issues/43966981-lwt-ppx-reports-incorrect-locations/backers.

Again, please claim if you want to work on this, to prevent any disappointments for others :)

[2017-09-06 17:37] Armael commented on #337
I'm a bit uneasy about this. I just started looking into this issue out of curiosity; I now have basic understanding of the PPX (as many others I assume), and would be happy to work on a fix, but I will probably need input from @let-def and/or @Drup for that.

So yea, if someone else knows how to fix this, please do so and claim the bounty; my current (non-)understanding on this problem is summed

[2017-09-06 17:43] aantron commented on #337
Alright, thanks for letting us know @Armael. I'll advertise this issue and bounty. You're still welcome to claim it, perhaps at a later time if nobody else has?

This bounty thing is basically an experiment for me (and I think @Khady) at this point. Community and success of the project are still the most important things. I will offer a normal level of help to contributors, even if this issue has

[2017-09-07 14:29] copy commented on #337
I'm looking into this issue, I think I have an idea how to fix it.

[2017-09-07 16:41] Khady commented on #337
BTW, it might be possible to look at ppx_let (IIRC the name) from janestreet that provides the same kind of syntax but without the location problem in my experience.

Would be nice to check the locations not only for the let but also for match/try/finally

[2017-09-08 14:55] copy commented on #337
I checked these and fixed another minor issue.

[2017-09-12 18:05] #337 closed

[2017-09-14 13:52] Drup commented on #387
Yes, warning should be done by adding some `ocaml.ppwarning` annotations in the emited OCaml code, using `Ast_mapper.attribute_of_warning`. Don't ever print yourself, it will break formatting.

[2017-09-15 14:13] stijn-devriendt commented on #283
I'd say we have 3 main use-cases:
- when a client unexpectedly aborts a transaction, we want to cancel all processing
- canceling as a timeout for remote procedure calls
- client operations typically fan out to multiple concurrent operations. In many cases it's not a hard requirement for all those parallel operations to succeed (or succeed within a timeout). At that point we can safely cancel the

[2017-09-16 11:06] pveber opened #472 "Calling exit in forked processes."
In a bigger program I needed a simple function to do multiprocessing. I wrote a (most certainly) naive implementation looking like that:
[code]
As it happens that the function `f` is expected to perform a side-effect, I thought I did not need a communication pipe, and could just use the exit code to say if everything went fine. It turns out that this does not work, because the children never actua

[2017-09-17 01:45] aantron commented on #472
This reminds me of #48 and #114, which were fixed by 1254294524c3d2b7b4f370f6cb76f7728bcb75c4.

I don't see anything wrong with the above code, except that if `f` uses Lwt inside, you should use `Lwt_unix.fork`.

Some of the bugs seem pretty worrisome and serious, like the duplicated data.

I don't know if it can help, but there are examples of `fork`ing with Lwt in `lwt-parallel`:

-
 https://git

[2017-09-26 06:29] ErwanGa opened #473 "Lwt_unix.sleep vs system time update"
Lwt_unix.sleep seems not using CLOCK_MONOTONIC_RAW clock.
This means that Lwt_unix.sleep can be affected by discontinuous jumps in the system time or NTP adjustment.
  Ie  Lwt_unix.sleep 2.0 duration could be 3 hours if system time go 3 hours in the past. This creates a kind of DoS

[2017-09-26 09:41] aantron commented on #473
Is this issue referring to the [`select` engine](https://github.com/ocsigen/lwt/blob/fa4fa370aacdfe0f6f86bb3716c0bac0cbe3f28d/src/unix/lwt_engine.ml#L290-L304), which, I see, is using `gettimeofday`, or [libev](https://github.com/ocsigen/lwt/blob/fa4fa370aacdfe0f6f86bb3716c0bac0cbe3f28d/src/unix/lwt_engine.ml#L200-L202)?

[2017-09-26 10:11] ErwanGa commented on #473
Hi
This is linked to call  here
[https://github.com/ocsigen/lwt/blob/fa4fa370aacdfe0f6f86bb3716c0bac0cbe3f28d/src/unix/lwt_unix.cppo.ml#L130-L134](url)
I suspect that the usage of `gettimeofday` is the root cause of my issue
Erwan

[2017-09-26 10:20] aantron commented on #473
That call eventually triggers one of the two sets of code from my message, so I'd like to get an idea of which one it is for you :) I haven't looked into how the libev function is implemented in a while, but it's possible they are both using a non-monotonic clock anyway, actually.

What operating system are you on? Have you done anything to explicitly choose libev while using Lwt? Is libev (the C

[2017-09-26 11:57] ErwanGa commented on #473
I'm under Linux - buildroot cross-compiled/i386 version
libev-dev libev4, conf-libev were not not installed

I've compiled/installed them, the problem does not appear

[2017-09-26 12:16] aantron commented on #473
Ok, thanks. We should still keep this open a a reminder to fix it in the `select` code, if that can be done portably, until either it's fixed or that code is obsolete.

[2017-09-26 12:50] ErwanGa commented on #473
Thanks for all
I'll probably use libev for the moment. Hoping that no spurious bug will appear due to this change
erwan

[2017-09-27 17:39] dannywillems commented on #468
Thanks @rgrinberg and @aantron. Sorry to answer now.

[2017-09-28 00:29] ELLIOTTCABLE commented on #453
Hi! Random new-OCaml-learner here, coming from the JavaScript/Node world.

Just came by to say this careful, premeditated handling of breaking changes is extremely heartening, and makes me 10x more excited to join the OCaml community.

Keep up the good work! `<3`

[2017-09-28 03:03] aantron commented on #453
Well, thanks :)

[2017-09-28 14:02] aantron opened #475 "Jenkins builds appearing as stuck"
Looking at [recent PRs](https://github.com/ocsigen/lwt/pulls), the Jenkins status is pending on the last three (#474, #471, #469), and has been so for weeks. @vasilisp could this be related to the recent infrastructure changes that the Ocsigen website also suffered from?

[2017-10-03 17:58] aantron opened #477 "Compiler version check is not cross-compilation-friendly?"
Lwt has a configure-time compiler version check (to support passing the `-O3` option only on OCaml >= 4.03):

https://github.com/ocsigen/lwt/blob/20a51b6dbf2bfc009faf2db5afbdebadb8d8ee2d/src/util/configure.ml#L94-L109

Since this is testing the version of the compiler that is running the script, I suspect that it's not friendly to cross compilation. @whitequark, @fdopen do you have any advice on h

[2017-10-03 18:27] whitequark commented on #477
Run `ocamlfind ocamlopt -version` (with the right ocamlfind flags for the build-to-host cross-compiler), which returns a simple string like `4.05.0`. That takes care of everything.

[2017-10-03 18:34] aantron commented on #477
Thanks for the quick response. What are the right ocamlfind flags/how does one get them? I read the help output and man pages of `ocamlfind ocamlc` and `ocamlfind`, and the only thing that seemed relevant was the the `-toolchain` option of `ocamlfind`. If this is what should be used, how does one typically get the correct toolchain name?

[2017-10-03 18:51] whitequark commented on #477
It is provided by the cross-compilation environment. Just make it possible to specify it for the lwt build process. If you never build binaries for the build system (i.e. you never run the output of ocamlc/ocamlopt) then you do not need to do anything as the `OCAMLFIND_TOOLCHAIN` environment variable is sufficient.

[2017-10-03 18:54] aantron commented on #477
Excellent, thank you for your expertise!

I'll leave this issue open until the above code is fixed, and we also check for not building any binaries for the build.

[2017-10-07 23:32] aantron opened #478 "Lwt_ssl is not safe-string compatible"
As a result, it doesn't build with 4.06 defaults: https://travis-ci.org/ocsigen/lwt/jobs/284301791#L1389-L1391

[2017-10-11 13:04] #478 closed

[2017-10-11 14:32] bobbypriambodo opened #480 "Request: function to clear/destroy Lwt_pool"
#183 already asked for this but was closed, so creating a new issue: will we be able to have a function to clear the pool?

My use case: I'm maintaining a pool of [postgresql-ocaml](https://github.com/mmottl/postgresql-ocaml) connections in my app. It's a wrapper of [libpq](https://www.postgresql.org/docs/9.6/static/libpq.html), the C client library to postgres. The best usage practice of this lib

[2017-10-11 15:10] aantron commented on #480
@bobbypriambodo Since `?destroy` interacts only with `clear`, it seems like adding "extra" functionality to pools that does not actually interact with the main functionality that pools provide (though it may be convenient). It seems that you should be able to track your connections separately, and separately call a suitable `destroy` function on all of them.

I'm not actually against adding this,

[2017-10-11 15:46] hcarty commented on #480
At a minimum we should document how to handle this situation.  #183 hints that it's something I've run into before!  It's been unclear what, if any, successful approaches others use for the same kind of issue.

I think a good first step would be to create a working example which uses the external state approach.  I don't have time spend on this now unfortunately.  I have some work coming up which

[2017-10-11 15:52] bobbypriambodo commented on #480
Sure! I don't mind. My rationale is that I think the ability to destroy a resource + clear a pool seems to be quite a common feature in resource pools as seen in [Node.js](https://github.com/coopernurse/node-pool), [Haskell](https://hackage.haskell.org/package/resource-pool-0.2.3.2/docs/Data-Pool.html), [Java](https://commons.apache.org/proper/commons-pool/apidocs/org/apache/commons/pool2/impl/Gen

[2017-10-11 16:07] hcarty commented on #480
I like @bobbypriambodo's latest suggestion because it would make `validate` and `check` logic simpler (the function doesn't have to dispose of invalid pool elements) and `destroy` could be used for the requested `clear` function.

[2017-10-11 16:08] aantron commented on #480
Since you pass `f` to the pool, you would write the logic in `f` for what needs to be triggered/what book-keeping needs to be done on creation. I don't think `validate` destroys resources, it just checks for already-destroyed resources, but if your resources can become invalid before being destroyed, then the callback you pass as `?validate` does have access to the resource for you to destroy it.

[2017-10-11 17:10] aantron commented on #480
Well `validate` and `check` are provided by the user, so yes they can do anything – that's the intent. Otherwise, I agree with everything.

[2017-10-12 11:28] aantron commented on #9
@jpdeplaix would you be willing to add the missing functions? (no is perfectly ok :p)

[2017-10-12 15:03] bobbypriambodo commented on #480
I am not really sure right now since I come across Ocsimore's [`ocsi_sql`](https://github.com/ocsigen/ocsimore/blob/master/src/core/server/ocsi_sql.ml) module which also uses Lwt_pool to maintain a pool of DB connections (in this case it's using PGOCaml), and even when PGOCaml provides a `PGOCaml.close` function, this file does not seem to call it.

Perhaps closing DB connections are fine to be ig

[2017-10-12 16:17] aantron commented on #480
@bobbypriambodo I don't have enough expertise to properly answer this for all cases, but considering the specific use case you described, as a well as a "typical" "simple" usage pattern of a DB connection, the DB connection is closed only when the process that opened it is exiting anyway. Given that DB operations tend to be implemented as transactions, I would expect there to be nothing to be "flu

[2017-10-12 20:53] #388 closed

[2017-10-12 20:55] aantron commented on #468
No worries, most open source takes place at the rate at which people happen to by luck be available :)

[2017-10-12 20:58] aantron commented on #359
This will be accomplished by #469 ("New reference docs for module Lwt"), which moves `ignore_result` to the [very bottom](https://ocsigen.github.io/lwt/manual-draft/Lwt.html#VALignore_result) docs, into section Deprecated, subsection Miscellaneous. It explains the reason for deprecation. It doesn't add an annotation, because I'm guessing it's not worth annoying existing users over, but I may be wr

[2017-10-12 20:58] #359 closed

[2017-10-12 21:11] #357 closed

[2017-10-13 17:13] aantron commented on #370
I tried doing something like #481 (factoring out the PPX) to Camlp4, but it doesn't seem to work. I think `archive(syntax ...) ...` predicates have to be directly in at least one package that is mentioned on the command line, not only findable through `requires` predicates. So, we can't use a "proxy" package, like for the PPX. This seems like a bug in Findlib, but I don't think we have time to wai

[2017-10-13 18:54] aantron opened #482 "Stop flattening the installation directory"
We are currently installing all the Lwt packages in a flat directory, as in pre-Jbuilder days. This is for backwards compatibility with a few users that are making assumptions about the directory structure, namely by compiling with flags for package `lwt`, when, in fact, using `lwt.unix`. When `lwt.unix` and `lwt` are in the same directory, the `-I` flag for `lwt` is good enough to find `lwt.unix`

[2017-10-13 21:47] aantron commented on #468
I'm in favor of deprecating `Lwt_log` in principle, as we evidently don't have the labor resources to properly maintain it. We would suggest people use `logs`, in particular Logs_lwt`.

I found the docs of `Logs_lwt` also a bit nebulous last December, so maybe they ought to be improved as well. Not sure what their current status is, and I don't remember the specific difficulties I was having. I di

[2017-10-13 21:58] #468 closed

[2017-10-13 21:59] aantron commented on #468
Ok, I added the example to the module description, stated the relation to `Lwt_log_core` (telling the reader that most of `Lwt_log` is documented in `Lwt_log_core`), and recommended checking out `Logs_lwt` (linking to it and the home page of `logs`). Given the theme is we don't have enough labor resources to work on `Lwt_log`, including factoring it, I think this should be good for now. Please let

[2017-10-13 22:03] aantron commented on #41
I'm closing this. `lwt_ssl`, `lwt_react`, `lwt_glib` were factored out in 3.0.0. Factoring out `lwt_ppx` and `lwt_camlp4` is being tracked in #338 and #370, to be completed in 4.0.0. We are likely to also factor out at least `lwt.unix` at some point, and perhaps all other subpackages as part of adapting to Jbuilder "best practices."

[2017-10-13 22:03] #41 closed

[2017-10-13 22:11] aantron commented on #375
The patch was released in `lwt_glib` 1.1.0, on the occasion of porting `lwt_glib` to Jbuilder (along with the rest of Lwt).

[2017-10-13 22:11] #375 closed

[2017-10-13 22:18] aantron commented on #300
I think this is sufficiently addressed by the recent `lwt.ml` rewrite (#354) and `lwt.mli` rewrite (#469) to justify closing this issue. The remaining modules still use the term "thread," but they will be corrected soon.

[2017-10-13 22:18] #300 closed

[2017-10-14 00:56] rgrinberg commented on #468
Seems like it would be easier to just fix it rather than mess around with upper bounds?

 I agree with splitting the package for the purpose of getting rid of more dotted findlib names.

[2017-10-14 04:47] hcarty commented on #480
I'm going to hack on this to try adding an optional `dispose` argument.  How does this interface + doc comment look?

[code]

[2017-10-14 08:08] bobbypriambodo commented on #480
Neat! @hcarty I left some comments on the PR.

[2017-10-14 13:36] aantron commented on #475
In addition, it looks like Jenkins is no longer running on `master`, and therefore not updating the ocsigen.org manual. For example, compare this commit https://github.com/ocsigen/lwt/commit/af91fad3c07223bf11e917daa2bbd3b283acdcad, and the dev manual at https://ocsigen.org/lwt/dev/api/Lwt_log. Looking at ocisgen.org-data, I see the [last commit](https://github.com/ocsigen/ocsigen.org-data/commits

[2017-10-14 15:04] aantron commented on #432
@jorisgio Can you give a complete, self-contained example? I'm not 100% following the description + example. Where does "protected" fit in? I'm not sure dead immutable waiters are actually accumulating as described.

[2017-10-14 19:50] aantron commented on #373
I'm closing this issue, with the original topic of the no-argument `Lwt.return_*` functions in mind. Inspecting the assembly suggests that `Lwt.return ()`, etc., are not optimized automatically. I tested on 4.05 with both Lwt and a test program compiled with Flambda -O3. So, `Lwt.return_unit`, etc., remain worthwhile for now.

[2017-10-14 19:50] #373 closed

[2017-10-19 18:05] aantron commented on #475
I disabled the `ci.inria.fr` webhooks for now. Not sure if that is sufficient to stop the stuck Jenkins status from appearing, but I hope so.

They webhooks are still there, so they can be easily re-enabled whenever the Jenkins setup is getting fixed/debugged.

[2017-10-19 18:39] #480 closed

[2017-10-20 03:31] aantron opened #485 ""Overhaul" Lwt_pool"
While keeping the API the same, we should clear up the implementation, and write somewhat better API docs for the interface. Follow-on to #483. cc @hcarty

[2017-10-20 10:53] aantron commented on #468
Factoring out `Lwt_log` is beginning in #484 by @hannesm, in particular see https://github.com/ocsigen/lwt/pull/484#issuecomment-338173757 for a plan.

[2017-10-20 11:17] aantron opened #486 "Look into temporarily duplicating the PPX in lwt_ppx"
See https://github.com/ocsigen/lwt/pull/481#issuecomment-336513527 and https://github.com/ocsigen/lwt/pull/481#issuecomment-338174901.

[2017-10-20 11:23] aantron opened #487 "Make lwt.preemptive an alias for lwt.unix; remove it in 4.0.0"
This is more of a long-term plan: there's no purpose in factoring out a separate `lwt_preemptive`. It should just be part of `lwt_unix`.

The reasoning is that, I think, these days, any platform `lwt.unix` compiles on is also going to have native threads support in the OCaml distribution, so we can assume `-threads`, so there is no purpose in separating `lwt.preemptive`.

If this is not true, or a

[2017-10-20 16:51] Drup commented on #482
I think users that don't lookup in META files in 2017 deserves their build to be broken.

[2017-10-20 16:53] Drup commented on #370
I think it's okay, in this case, to do a one time move. Does the camlp4 syntax extension still has many users ?

[2017-10-20 16:58] aantron commented on #482
I would, if it were just that, but even users that look up `META` files can have this broken, because the `META` for `lwt` was good enough to compile against `lwt.unix` in a flat directory. I had this mistake in Markup.ml, for example, despite using `ocamlfind` "carefully," and there were a few other such projects found by @andrewray.

[2017-10-20 17:06] aantron commented on #370
Yeah, I see `aws`, maybe `biocaml`, maybe `bitcoin`, `eliom`, `facebook-sdk`, maybe `hardcaml`, tests of `imaplet`, `iocaml`, `jitsu`, `joolog`, some examples in `js_of_ocaml`, `lambdoc` examples, `mongo`, `ojquery`, `ojwidgets`, `rdf`, `release`, `riak`, `themoviedb`, `usb`, `xe`, `xen-disk`, `xenctrl`, `xentropyd` just in opam. Didn't look into how many of those are presently maintained.

[2017-10-21 12:42] bobbypriambodo commented on #485
Would you think that this is a proper time to get feedback on Lwt_pool's semantics? I'm thinking of digging into implementations in other libs/languages, but perhaps we also can ask at discuss.ocaml.org (or at least direct them to this issue) for people who use Lwt_pool if they have concerns on the underlying implementation (or missing features). Identify if the current API and behavior makes sens

[2017-10-21 13:52] aantron commented on #485
Getting feedback on Lwt_pool semantics is indeed good.

Regarding the optional arguments: we probably shouldn't remove them anytime soon anyway. However, since they are optional, we can heavily de-emphasize them, essentially deprecate them, add new optional arguments, or add a new pool creation API that doesn't have them. So there will be a little bit of a legacy annoyance for us to implement for

[2017-10-21 16:25] bobbypriambodo commented on #485
Point taken @aantron, thanks. If no one minds I would love to give this a go and see what we can do with it.

[2017-10-23 14:03] #387 closed

[2017-10-26 12:14] qbi opened #488 "lwt fails to build"
I had some [issues building `cstruct-lwt`](https://github.com/mirage/ocaml-cstruct/issues/181). They seem to be resolved by now, but when trying to build `lwt`. An `opam install lwt` leads to the message:

I attached the gzipped contents of the `.env` and `.info` file, `.err` and `.out` were empty. The file furthermore contains the output of `opam config list`.

I'm using here Debian sid and OCaml

[2017-10-26 16:48] aantron commented on #488
@qbi, I don't see anything in the file that looks wrong. I just tried it on a 4.05.0 opam-provided switch, and a 4.04 `system` switch, and it worked for me (on `darwin` though, but I don't think that's likely to matter). I looked in the issue you linked (thanks), and it seems that your original Lwt installation did succeed, but a recompilation due to adding `camlp4` failed. I wasn't able to reprod

[2017-10-26 16:52] aantron commented on #488
Other things to look at:

1. Can you confirm that `opam install lwt` works on a clean switch, as suggested by comments in the linked issue?
2. Can you confirm that `opam install camlp4` after (1) fails at recompilation of `lwt`, on a clean switch where neither `lwt` nor `camlp4` are being installed as a side effect of installing other packages?
3. What happens if you do `opam install camlp4` and *

[2017-10-27 15:57] aantron commented on #428
Looking at it deeper now, with a view to running the test suite on Node, it seems Alcotest and OUnit are currently not suitable. This is because they assume that each test case can be completed synchronously. For Lwt, that means using `Lwt_main.run` to drive the Lwt event loop. However, under Node, there is no equivalent to an `Lwt_main.run` in the interpreted "user" code (its work is handled by N

[2017-10-27 15:57] #428 closed

[2017-10-28 21:54] aantron opened #491 "Yet another tweak to the terminology? (resolved -> settled)"
Looking at [*States and Fates*](https://github.com/domenic/promises-unwrapping/blob/master/docs/states-and-fates.md), it seems that what we now call *resolved* (fulfilled or rejected) is actually called *settled* in JS. There is also a [note](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) about this at MDN, but it references *States and Fates*.

Assuming

[2017-10-28 21:56] aantron opened #492 "Fix the PPX expect tests"
See comments starting from https://github.com/ocsigen/lwt/pull/474#issuecomment-336633064:

[2017-10-30 00:08] raphael-proust commented on #491
That States and Fates page seems confusing because of their unassuming use of higher-order: “A promise whose fate is resolved can be […] Pending, if it has been […] resolved to another promise that is pending.”

We can piggy back on some of that vocabulary. But I think we can assume OCaml programmers understand that an `'a Lwt.t Lwt.t` resolves into a settled `'a Lwt.t`.

That page also seems to b

[2017-10-30 01:01] aantron commented on #491
Without getting into all the details, I think they are not referring to `'a Lwt.t Lwt.t` in that sentence, but to what corresponds to the ["proxying" state](https://github.com/ocsigen/lwt/blob/88279b2d5f2ffeb2a5becefd7875d296dede42c8/src/core/lwt.ml#L428) in Lwt. I think they're saying that a promise that is fulfilled, rejected, or has been turned, in Lwt terms, into a proxy (for maybe a pending p

[2017-10-30 01:14] aantron commented on #491
Thinking about it more, here's how "fates"/states correspond to current states in the Lwt implementation. There is a distinction between the immediate state of a promise value, and the state of its underlying promise (the promise you get from calling `underlying` in the implementation).

1. JS fates correspond to the immediate states. So, if you have a promise, and, *without* involving `underlying

[2017-10-30 10:10] vouillon commented on #485
The type of the `check` argument should probably have been `'a -> bool Lwt.t`.

The idea was that if we get an exception while using an element of the pool, the element might not be in a stable state, so we should have the opportunity to put it back in a stable state (for instance, if its a database connection, we may want to abort any transaction that might be in progress) or to dispose it, rathe

[2017-10-30 14:20] koen-struyve opened #493 "lwt_unix_stubs.c: thread_count not decremented after fork failures"
If lwt_unix_launch_thread (https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_unix_stubs.c#L195) fails to fork (for example when hitting the system-wide limit pid_max), one has that the thread_count has been incremented (https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_unix_stubs.c#L1286) but never gets decremented.

This causes a discrepancy in thread_count versus the actual number of

[2017-10-30 19:32] aantron commented on #493
I tried reproducing this on my macOS system, with what may be success. The program was:

[code]

and I modified `Lwt_unix.read` to always create a worker thread:

[code]

This shows a thread count of 10000 according to Lwt, while `top` shows 2048 system threads actually started. Note that I had to handle the `EAGAIN` exception from `launch_thread` in order to get this to work, are you handling it

[2017-10-30 21:03] aantron commented on #493
Okay, the attached commit at least keeps the worker thread count synchronized with reality (at least more so than before). Making Lwt "handle" the failure internally, act as if the pool limit was reached, and run the job synchronously, will take some local refactoring of `lwt_unix_start_job`. That function looks like it has several problems.

[2017-10-30 21:04] koen-struyve commented on #493
We did encounter EAGAIN failures. While investigating the root cause in our code via gdb we noticed the discrepancy between thread_count and the actual number of threads spawned.

Thanks for the quick input.

[2017-10-30 21:27] koen-struyve commented on #493
Fixing the EAGAIN would be nice, but there still is the problem that (Lwt worker) threads are not released, so other processes on the same system will keep hitting the same thread count boundary. From a practical point of view fixing this through configuration (by the library user) is the better option.

[2017-10-30 23:12] aantron commented on #493
Agreed, I remember worrying about thread releasing as well. I think a workaround that may be practical for now is to call `Lwt_unix.set_pool_size` and set the size to something relatively small. 1000 does seem like a pretty large default, given the above problems.

Can you give an idea of how important it is for your usage to address this fully in the near term? We are also planning to do some maj

[2017-10-31 07:57] koen-struyve commented on #493
The set_pool_size approach suffices for our purposes, so from our usage point of view there is no urgency in this.

[2017-11-01 18:51] aantron commented on #493
Thanks for the info. I'm renaming the issue to reflect the work remaining. Thanks for reporting!

[2017-11-02 15:23] gabelevi opened #494 "Lwt_unix.waitpid on Windows can block lwt"
[On Windows, `Lwt_unix.waitpid` just delegates to `Unix.waitpid`](https://github.com/ocsigen/lwt/blob/3.1.0/src/unix/lwt_unix.cppo.ml#L2197), even without the `Unix.WNOHANG` flag. That means the process will make a blocking system call and the whole Lwt event loop gets stuck.

Looking at the code, I see Lwt [relies on sigchld to drive the blocking `waitpid` calls](https://github.com/ocsigen/lwt/bl

[2017-11-02 15:37] aantron commented on #494
Thanks for the report!

I've adjusted the docs (see the attached commit). We actually need to rewrite the `Lwt_unix` docs completely, they are very much inadequate.

For a Windows implementation of `waitpid`, we should probably wait on the process handle using one of the Win32 waiting functions. Lwt is perpetually behind on Windows, however, so I think we will want to address that *organizational*

[2017-11-02 17:09] Sventimir opened #495 "Remove >> syntax from the PPX"
I have recently spent half an afternoon wondering, why an operator `>>` I defined in a module does not work properly in my code, only to find out that the reason was `lwt.ppx` used in the project. Why is `>>` defined as a syntax extension, when it's just a simple function? It could (and certainly should!) be defined in `Lwt.Infix` as simple as this:

[code]

Having it as a syntax extension instead

[2017-11-02 17:30] hcarty commented on #495
If you do submit a PR to add `>>` please define it as `fun () -> ...` rather than `fun _ -> ...` to help catch bugs!

`>>` from lwt.ppx is considered deprecated, in case that helps, in part because of the issues you mention.

[2017-11-02 18:11] fdopen commented on #495
It's defined as a syntax extension because otherwise the evaluation order would be unspecified - and surprising with the current implementation and impure code.
Just compare the output of `Lwt_io.printl "1" >> Lwt_io.printl "2"` with your definition and the syntax extension.

[2017-11-02 18:18] Sventimir commented on #495
How is it possible that `bind` does not have that problem, but `>>` defined in terms of `bind` does? It doesn't make much sense to me. Also if it's important to keep `>>` a syntax extension, then why it's already deprecated?

[2017-11-02 18:21] aantron commented on #495
@Sventimir The difference is that with `bind`, you have:

[code]

whereas with `>>`, you have

[code]

Because `e2` is not inside a function abstraction (thunk, closure, whatever) in the `>>` case, Lwt can't control its order of evaluation. OCaml decides that, and leaves it unspecified.

And it's not important to keep `>>` as a syntax extension. Everyone, including the authors of it, want to remov

[2017-11-02 18:28] Sventimir commented on #495
Thank you for the explanation. Indeed, replacing the syntax extension with a function does break a test for sequencing Lwt operations. I suppose I know understand why.

[2017-11-02 18:45] aantron commented on #495
Yep, so we plan to just delete the whole thing completely. It turned out to be not as good idea as originally hoped. If you don't mind, I'll rename this issue accordingly, since it has a nice discussion, and tag it for getting done for 4.0.0 (which is when we'd do this small API breakage).

[2017-11-02 18:49] Sventimir commented on #495
Of course I don't mind. Is there any workaround to the issue I mentioned that would temporarily let me define `>>` function until the synatx extension is removed from the API?

[2017-11-02 18:51] aantron commented on #495
I believe you can pass `-no-sequence` to the PPX to disable `>>`. If not sure how this is done with your build system, let us know what you're using, and we should be able to say.

[2017-11-02 18:54] Sventimir commented on #495
I am using Oasis and indeed I don't think I know how to handle ppx flags in it.

[2017-11-02 18:56] gabelevi opened #496 "Windows Unix.select bug impacts Lwt_engine.select"
I had previously run into a bug with `Unix.select` on Windows, but I only just reported it: https://caml.inria.fr/mantis/view.php?id=7665

Long story short, when you have a fd set which is a mix of sockets and non-sockets, sometimes some fds are not reported as being ready even though they are totally ready.

Personally, I'm working around this by replacing the engine like so

[code]

[2017-11-02 19:05] aantron commented on #495
I actually don't know what is a good way of doing it with OASIS, short of tweaking `myocamlbuild.ml`. I found an example here: https://github.com/c-cube/cconv/blob/5ffbc8b77f427b5f90985a4c4ed310ee2e6d4257/myocamlbuild.ml#L811, the expression you'd want is something like

[code]

[2017-11-02 19:09] Sventimir commented on #495
Thank you very much.

[2017-11-02 19:13] aantron commented on #495
I myself recall using a `ppxopt` tag, so it would be something like

[code]

in your `_tags` file, but I found no information on it, nor mention of it in the Ocamlbuild code, so it might be a false memory.

[2017-11-02 19:24] aantron commented on #495
And the links are:

- `>>` seems to have been in the PPX since it was originally added, in #75. I don't see any specific discussion of it, but the [rationale](https://discuss.ocaml.org/t/operator-in-lwt/296/11) was, I believe, compatibility with the Camlp4 syntax.
- We deprecated it in issue #387 and PR #471.
- There is also some discussion of `>>` in #307, "Support `;%lwt` as sequence syntax." We

[2017-11-02 19:28] aantron commented on #496
Thanks for the link. I understand that this is a bug in OCaml's `Unix` library rather than Lwt, but, indeed, it would be nice if Lwt did the right thing anyway :) At least, having this here helps people find a workaround, while we figure out what to do.

[2017-11-02 21:31] Drup commented on #495
I can confirm. It was entirely for the purpose of compatibility. I already though it was an horrible idea at that time.

[2017-11-05 13:59] darrenldl commented on #488
I can largely confirm 3 works.

I was having the same error, and doing ```opam install camlp4``` before doing ```opam install lwt``` solved the issue in a largely clean switch

(By largely clean I meant removing the entire ```.opam``` folder and only installed some irrelevant packages and a failed ```lwt``` installation before trying the above solution)

[2017-11-05 19:20] aantron commented on #488
@darrenldl Thanks. Was this on the `system` switch? Was it also an Lwt *reinstall* that failed? I'm still not able to reproduce the *problem*, but I suspect it's somehow a problem with the the opam repository rather than Lwt, and also eventually a vanishing problem (#370).

[2017-11-06 01:41] darrenldl commented on #488
@aantron Yes and yes.

I will give it another shot later today with completely clean ```system``` switch and ```4.05.0``` switch, in case the result is useful.

[2017-11-06 02:14] darrenldl commented on #488
Test results

==========================================================
Completely clean & ```system``` switch(4.05.0), installing ```lwt.3.1.0``` has no issues
Completely clean & ```system``` switch(4.05.0), installing package(```nocrypto```) that depends on ```lwt.3.1.0``` has no issues

Completely clean & ```4.05.0``` switch, installing ```lwt.3.1.0``` has no issues
Completely clean & ```4.05.

[2017-11-06 13:02] aantron commented on #488
@darrenldl Thanks for trying it!

[2017-11-06 13:58] marcoonroad opened #497 "lwt build fails on Arch Linux"
[code]

[2017-11-06 13:59] marcoonroad commented on #497
[code]

[2017-11-06 14:00] marcoonroad commented on #497
[code]

[2017-11-06 14:03] marcoonroad commented on #497
Log of `$ DEBUG=y opam install lwt`:

[code]

[2017-11-06 14:04] marcoonroad commented on #497
[code]

[2017-11-06 14:47] aantron commented on #497
I believe this is usually caused by not having ncurses installed. See #33 and #313. ncurses is needed by the deprecated `lwt.simple-top` package, which will be removed soon (#371).

[2017-11-06 15:39] marcoonroad commented on #497
I already have ncurses installed. :)

[2017-11-06 15:40] marcoonroad commented on #497
[code]

[2017-11-06 16:48] aantron commented on #497
Hmm, this seems to be system-specific enough that I can't reproduce/debug it over here.

You may already know some subset of this information, but it's triggered by this function (where `opt` and `lib` are empty lists):

https://github.com/ocsigen/lwt/blob/5c1eea5fcfdeabf6c4506e0823cea0c219ad2f9d/src/unix/config/discover.ml#L351-L373

compiling this code (in `stub_file`):

https://github.com/ocsig

[2017-11-06 20:11] marcoonroad commented on #497
Thanks. Tomorrow I will check that carefully on my job computer (which is where the build fails).

[2017-11-06 23:00] aantron commented on #370
The linked commit duplicates Camlp4 in a `lwt_camlp4` package.

[2017-11-07 03:07] raphael-proust commented on #492
I'll have a look into this. Might take me some time because I don't know much about jbuilder or opam.

[2017-11-07 04:38] aantron commented on #492
@raphael-proust Great, thanks! I'm sure you saw the branch linked from #474. Despite my earlier comment, I think the easiest way to get this done is to get the tests to respect `OCAMLPATH` somehow, or an equivalent approach, *not* to make tons of Jbuilder executables. You may want to browse the Findlib code for this, it can be found here on GitLab: https://gitlab.camlcity.org/gerd/lib-findlib. It'

[2017-11-07 04:54] #486 closed

[2017-11-07 05:56] raphael-proust commented on #492
I cannot reproduce this failure. I uninstalled lwt (unpinned it really), updated everything, and the ppx part is fine:

[code]

Can you confirm it is still happening? It might have been fixed by some other commit.

[2017-11-07 14:30] aantron commented on #492
@raphael-proust, I temporarily disabled the PPX expect tests in a commit, https://github.com/ocsigen/lwt/commit/3be9cc4f8bce259b3323ea2263a5bd15032d8815. You'll have to uncomment that `jbuild` file as part of your branch :)

The tests are in a separate directory `test/ppx_expect` BTW. I also just realized that directory name can be confusing with opam package `ppx_expect`, but it's not a big deal.

[2017-11-07 17:12] aantron commented on #370
I should note that this approach results in Findlib warnings about duplicate interfaces in `lwt` and `lwt_camlp4`. These are temporary until 4.0.0.

[2017-11-07 18:07] aantron commented on #458
I think we should mark this function deprecated, and either remove it in 4.0.0, or tell users that if they use `waiter_of_wakener`, they need to be almost as careful as if using `Obj.magic`. Indeed, internally, `waiter_of_wakener` is exactly `Obj.magic`. We should then mark resolvers contravariant (i.e, declare them as `type -'a Lwt.u`).

I don't actually have any example where contravariance of r

[2017-11-07 18:57] aantron commented on #487
...and I intend to remove it as a separate package in 4.0.0. Please voice any objections.

[2017-11-07 19:23] marcoonroad commented on #497
Well, this seems not the source of the bug here. I will try to upgrade lwt on my own home machine to check that on another environment.

See ya soon!

[2017-11-07 23:35] Drup commented on #458
Note that once the removal of float array hack has landed properly, the typecheck will be able to generalize contravariant variable just like covariant ones. Not sure if it's actually useful for `Lwt.u`, but that's worth noting. :)

[2017-11-08 12:23] raphael-proust commented on #492
Progress notes (mostly for myself so I can resume investigation tomorrow).

The `OCAMLPATH` variable is unavailable even before the `#require` directive is processed. It is not in the env of commands started by jbuild.

This is tested like so:

[code]

It is easy to set a custom environment in jbuilder

[code]

But it still fails. I'll have a look at whether this is the wrong `OCAMLPATH` value, or

[2017-11-08 19:51] aantron opened #498 "Do we still want the Lwt.backtrace_* functions if backtraces don't work?"
I (or someone) should probably look more deeply into fixing the backtraces. If that's not feasible, then we should delete `Lwt.backtrace_bind` and friends.

[2017-11-09 12:44] bobbypriambodo commented on #485
Yes, if that clarifies it. We can use that kind of info in the docs I believe.

[2017-11-09 12:49] bobbypriambodo commented on #485
Okay, so here are my thoughts so far. This is mostly going to be my notes from reading stuff and seeing other's implementations.

A basic, typical resource pool has two public API: `acquire` and `release`. Those names should readily imply what they do, so no confusion there. These two functions are the low-level building blocks of a pool.

However, as exposing only these two functions require the

[2017-11-09 14:09] aantron commented on #485
Great, thanks for this!

On the subject of a dedicated pool library, I think we'd be happy to support that. `Lwt_pool` doesn't necessarily need to depend on it – we could just add a link to another library from the `Lwt_pool` docs, something like "if you'd like a more feature-complete resource pool library, try XYZ." It's just one option of many, though.

We could also make sure that `Lwt_pool` is

[2017-11-09 14:42] aantron commented on #492
Yes, `OCAMLPATH` is typically unset to begin with in your shell.

Purely as FYI, I typically set `OCAMLPATH` in the shell, externally to Jbuilder, e.g.: https://github.com/aantron/bisect_ppx/blob/86ca173aada2a080d884f2bca2204f40db88bd8b/test/src/test_helpers.ml#L186.

However, using Jbuilder for this is probably more portable, so a good idea. I may have used it, but the code above was written befo

[2017-11-10 15:12] aantron commented on #458
Ok, I marked the function deprecated. I decided to save marking resolvers contravariant for 4.0.0. It's some kind of "co-breaking" change. While it shouldn't break any existing code that already compiles, it might break the assumptions of some programmers in a nasty way when writing new code or refactoring.

[2017-11-12 04:14] marcoonroad commented on #497
It compiles without any problems on my home machine (Mandriva Linux):
[code]

I've changed the issue title to help other fellows with the same sort of problem to reach here.

Full output:
[code]

It's really Operating System specific, I could check again that problem on my work machine later.

[2017-11-12 15:28] aantron commented on #497
Thanks for continuing to look into it. Let us know if you need any general information that can be helpful.

[2017-11-17 03:44] bobbypriambodo commented on #485
Coming into this again, I think `check` is superfluous to `validate` (changing it to the type Jerome suggested will make the types identical). They both serve the same purpose of validating a pool member, one is prior to `use` and the other after a failed `use`.

A Github search shows these usages of `check`:

1. [datakit](https://github.com/moby/datakit/blob/142eea674b38ed34bc775fcee930e27ca6473a

[2017-11-22 12:39] aantron commented on #485
All of that seems potentially reasonable. #1 seems the most problematic, as indeed we can't unconditionally drop elements in `validate`, and it does seem wise not to destroy elements unconditionally when the `use` promise is rejected.

For a fresh API, the easiest way may be to create a new function `use'` (with a better name, please :p), and deprecate `use`. Ideally, we could implement `use` in a

[2017-11-26 12:47] adrien-n opened #502 "Memory leak in Lwt_unix.getnameinfo"
Hi,

The code below leaks memory. Using `Unix.getnameinfo` instead of `Lwt_unix.getnameinfo` avoids the leak. This reproducer defines two functions: `leak` and `no_leak`; the first one uses the `getnameinfo` from `Lwt_unix` while the second one uses the one from `Unix`.

The reproducer calls `Gc.compact`, prints memory stats, then calls `getnameinfo` on `"1.2.3.4"` a thousand times, calls `Gc.comp

[2017-11-26 16:07] aantron commented on #502
Thanks for the report. I think we should look into this soon, before releasing 3.2.0 (in the coming days).

[2017-11-26 17:17] hannesm commented on #502
please see whether #503 fixes the issue for you

[2017-11-26 19:38] aantron commented on #502
Apparently fixed by #503. Thanks @adrien-n for reporting and @hannesm for fixing!

[2017-11-26 19:38] #502 closed

[2017-11-28 14:14] mseri commented on #180
Is there any plan to make the tracing part of the main lwt?

[2017-11-28 15:41] aantron commented on #180
@talex5 What do you think about building tracing into Lwt unconditionally, to be toggled on/off at runtime?

[2017-11-28 15:49] talex5 commented on #180
Sure, if you can find a way to do that without an unacceptable runtime penalty. You need to store a unique integer for each thread.

(and sadly, I don't have any time to work on this)

[2017-11-28 15:52] aantron commented on #180
Also, @talex5, is tracing being used these days at Mirage (or elsewhere)?

[2017-11-28 16:09] talex5 commented on #180
It never got updated to Lwt 3, so probably not. Would be nice to have it back, though!

[2017-11-28 16:13] talex5 commented on #180
(actually, I think Takayuki Imada has been using it to profile Mirage networking recently)

[2017-11-28 22:31] qbi commented on #488
I did the following steps on my system:

    [NOTE] lwt is not installed.

    Nothing to do.

    The following actions will be performed:
      ⊘  remove camlp4 4.05+system

    =-=- Processing actions -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    ⊘  removed   camlp4.4.05+system
    Done.

    system

An `lwt` install (`opam install lwt`) succeeds now, but installing `camlp4` dire

[2017-11-29 21:50] aantron commented on #488
I still can't reproduce these errors (my system switch is at 4.04 though, not sure if that's significant). Camlp4 is on the way out, however, and will become a separate package in 4.0.0 (#370), so installing Camlp4 should no longer trigger recompilation of package `lwt`. I suspect that might happen before we figure out how to fix the issue :/

[2017-11-29 21:50] aantron commented on #488
Thanks for the new instructions, though!

[2017-12-01 18:39] cedlemo commented on #407
@aantron, I really would like to try to work on this if you don't mind.

[2017-12-02 12:59] aantron commented on #407
@cedlemo Absolutely I wouldn't mind! Quite the opposite, it would be VERY welcome :)

[2017-12-02 18:11] cedlemo commented on #407
Nice !

I will start with some questions:

1. the destination directories where the little files should go:

Something like *lwt/src/unix/unix/* and *lwt/src/unix/windows/*
or *lwt/src/unix/unix_stubs/* and *lwt/src/unix/windows_stubs/*

2. Could you explain me what the following sentence imply ?

3. Do you want a big pull request (PR) with all the changes or should I do multiple pull requests (st

[2017-12-02 20:29] aantron commented on #407
Ok :)

1. Either of those options seems reasonable.

2. I am not sure what @andrewray meant by that sentence.

3. It's up to you. You could do one small PR showing a minimal version of the change, to practice and get some early feedback, followed by one big PR finishing the rest of it. As long as it's reasonably reviewable, it doesn't really matter, so do whatever seems easiest or most aesthetic f

[2017-12-03 02:08] rand00 opened #504 "Clarify this"
Lwt.ml:
[code]

[2017-12-03 12:06] #504 closed

[2017-12-03 12:07] aantron commented on #504
@rand00 thanks, and hope it's better now :)

[2017-12-05 18:57] cedlemo commented on #407
@aantron,

After some tests, it seems that it will not be as simple than that :).

* First jbuilder does not like sub-directories, for example the only way to make it works (for now), is to copy the file **unix_c/readable.c** in the root dir with jbuild `copy_files` stanza and define it as a c file to compile in jbuild here is the diff.

[code]

* Secondly include c sources directly in h seems bad

[2017-12-05 19:04] aantron commented on #407
Ack.

Actually, I have no experience with Jbuilder and C files. In fact, I'm not sure who in the community does at this point.

If you want to experiment with that, I'd be very happy to know the results. On the other hand, if you want to just split up the header files into lots of little ones, even that would be a big improvement.

[2017-12-05 19:54] cedlemo commented on #407
Yes I would like to see if I can make it works.

[2017-12-08 18:50] cedlemo commented on #407
just to confirm something I thought : jbuilder does not support subdirectories for stubs.

* https://github.com/janestreet/jbuilder/issues/34
* https://github.com/janestreet/jbuilder/issues/242

So the right way to reorganize the C files is to put them in a sub-directory and copy them in the main directory via the *jbuild* stanza `(copy_files unix_c/*.c)`.

It seams that there is a problem that wi

[2017-12-08 19:51] aantron commented on #407
BTW, don't hesitate to poke the Jbuilder maintainers if you find something too limiting :)

[2017-12-16 09:29] cedlemo commented on #407
@aantron,

I send 2 PRs in order to show you 2 possible simple solutions.

I started to see if I can use custom build rules like in the re2 lib and create a C libs, but it looks like it will be rather complicated.

Could you, please, look at the PRs and tell me if like one of them ? If needed, I will ask questions on the jbuilder github in order to see if there is better ways to do what you want.

[2017-12-16 15:48] aantron commented on #407
Thanks. It looks like both have advantages and disadvantages:

**For combining both systems in one file**:

- It's harder for people to forget to add a Windows version of something.
- There won't be lots of annoying little files for everything that is not implemented.
- Less things to list in `jbuild`.

**For having things in separate files**:

- We don't have to have a 1:1 correspondence between

[2017-12-16 18:00] cedlemo commented on #407
Fine, I will work on this one and create a *not_available.c* file (tell me if you have a better idea for the name) in the *windows_c* directory.

Yes, I thought that the problem was the `LWT_ON_WINDOWS` macro that was not defined because the "lwt_config.h" was not included but I see that it is still failing with

[code]

while the code is

[code]

I don't really understand why the check `!defined(

[2017-12-16 18:21] aantron commented on #407
Your diagnosis was correct, it's just that you added `#include "lwt_config.h"` only to `_readable.c` but not `_writable.c`.

[2017-12-16 19:38] cedlemo commented on #407
hum,

It seems that I did it for both files : https://github.com/ocsigen/lwt/pull/505/commits/498d3926ddf5e3e890e113613df93346fcfd8608

and

https://github.com/ocsigen/lwt/pull/506/commits/db9cb7e950a0818ac89c9e2befb663ebc9886bf5

[2017-12-16 19:44] aantron commented on #407
Those commits are each in a separate PR though :) To take one PR only, if you look at the net diff from #505, for example, you'll see that `unix_writable.c` doesn't have `lwt_config.h` included: https://github.com/ocsigen/lwt/pull/505/files#diff-72c30620819dd0f692480f65e99e778e, and correspondingly the AppVeyor error before the last commit was a failure in `unix_readable`, and after the last commi

[2017-12-16 22:01] cedlemo commented on #407
Ok at least now I know where is the problem. ;-)

I send you a new clean PR with a few functions, you review/validate it and then I do the rest in one PR after that. Is that all right with you?

[2017-12-16 22:45] aantron commented on #407
That sounds great :)

[2017-12-17 18:57] cedlemo commented on #407
@aantron ,

you will find the first PR here #508

For the copyrights, I recopied the `lwt_unix_unix.h` copyright in the unix C files and the `lwt_unix_windows.h` copyright in the windows C files.

For the windows files, I have not added any header files, I have not found any windows related headers in the lwt windows sources (I am used to Linux platforms but not to Windows ones), could you tell me

[2017-12-17 19:19] #463 closed

[2017-12-17 19:51] aantron commented on #407
Thanks, I replied in the PR. The thing with the copyrights sounds right :)

I'm assuming you're referring to the `caml/` headers that are currently probably missing from the Windows files. I'm not sure what your question is, though. Headers are found the same way as on Linux. If my guess is correct, you're referring to `lwt_unix_windows.h` not including any other headers from inside it. That's bec

[2017-12-17 20:29] cedlemo commented on #407
That is what I understood but I looked for something like "windows.h" or other. For example, for the function `WSAGetLastError` in the windows implementation of `lwt_unix_bytes_read` when I make a google search in order to find the related header file I have got this https://msdn.microsoft.com/fr-fr/library/windows/desktop/ms741580(v=vs.85).aspx

I realise now that maybe the [following headers](ht

[2017-12-17 20:41] aantron commented on #407
That's a good point. My guess is that the Windows platform headers are being pulled in transitively through the `caml/` headers, in their versions on Windows. I'll confirm shortly. Relying on that is probably a bad idea, but fixing it is a whole other issue. However, you're welcome to use whatever Windows header you want directly to get the files to compile. They are found like on a Linux platform

[2017-12-17 20:46] aantron commented on #407
Yeah, confirmed about the transitive includes. `lwt_unix_stubs.c` includes `lwt_unix.h` which includes `caml/unixsupport.h`, which on Windows includes, among other things, `winsock2.h`, which, as you found, is where `WSAGetLastError` is declared:

https://github.com/ocaml/ocaml/blob/30e6aa9f1fdb552b538350180316c90d24955a36/otherlibs/win32unix/unixsupport.h#L20-L26

You could find chains like this

[2017-12-18 12:19] XVilka opened #510 "Error: Program camlp4oof not found in the tree or in PATH"
[code]
At the same time package `camlp4` is installed

[2017-12-18 13:19] cedlemo commented on #407
I added the missing headers and I tried to build lwt on  Windows in a VM and it seems to be Ok.

I was searching for issues to work on after that (#395 seems interesting) and I saw that the `Lwt_unix` module is not tested (https://github.com/ocsigen/lwt/issues/385#issuecomment-320372541), have you created an issue for this too ?

[2017-12-18 18:20] #452 closed

[2017-12-18 18:21] aantron commented on #452
The docs part of this issue is hopefully addressed by the new `lwt.mli` (#469). I don't think it explicitly states how `finalize` and `cancel` interact, but hopefully their individual descriptions are clear enough that the user can readily infer what the interaction is.

[2017-12-18 18:30] aantron commented on #407
Yep, the Windows build is passing now. Just have to add 1 line to fix the Cygwin one (see PR).

Fixing #395 would be quite useful, but be sure to leave a comment there, because @jsthomas seems to currently be on a roll adding tests, so to avoid doing the same work :)

Adding tests for `Lwt_unix` is some important future work, but no, I haven't created the issue yet, because I wasn't ready to hyper

[2017-12-18 18:35] aantron commented on #510
This looks like an upstream problem with the opam repository and/or its Camlp4 `system` package. I'm not fully familiar with what's going on with Camlp4 these days, but it has been a source of problems for a few versions. The usual workaround for this is not to use the `system`/`default` opam switch (if I'm interpreting the opam 2.0.0 logs correctly), but to have opam install everything: `opam swi

[2017-12-18 18:52] cedlemo commented on #407
Ok, I will let @jsthomas work on #395.

why? is it too difficult (I have not enough insight) or not really interesting ?

[2017-12-18 19:00] aantron commented on #407
Well, he might not be working on it :)

It's not *too* difficult, but it is more difficult than tests for the Lwt "core" (`Lwt`, `Lwt_mutex`, etc.), because some behaviors may be platform-specific, you might not have some of the functions available on a given platform. The behaviors are more complex, less portable, there is the risk of needing conditional compilation. A lot of people don't know C,

[2017-12-18 19:12] jsthomas commented on #395
I'm interested in working on this issue.

[2017-12-18 19:16] jsthomas commented on #407
I was planning to take on #395 next (but I don't want to monopolize all the testing fun, so let me know if you want to steal :) ). Normally I'd post my interest on an issue before I start working it, but #452 and #463 were so small that I just decided to go for them.

[2017-12-18 20:06] cedlemo commented on #407
First I have to finish this, by Sunday at the least I think, so @jsthomas if you want to do #395 before I don't mind.

@aantron, if you have some tasks with higher priorities and maybe less difficult than the tests for `Lwt_unix` then let me know.

FYI I like C and I know a little about language bindings but just enough to participate/help you and not to create alone from start to end all the `Lwt

[2017-12-18 21:07] aantron opened #511 "Retiring lwt_camlp4 and lwt_log from the repo"
These are deprecated, in favor of the PPX and [`Logs_lwt`](http://erratique.ch/software/logs/doc/Logs_lwt.html), respectively. Once these are factored out into their own opam packages (#370, #484) in 4.0.0, we don't intend to ever maintain them again. At that point, the code will be only an eyesore in the Lwt repo.

So, I want to delete it from the repo. I propose to git-subtree each of these modu

[2017-12-18 21:43] aantron commented on #497
@marcoonroad Are you still having this problem on your work machine?

[2017-12-19 04:31] XVilka commented on #510
@aantron as it turned out, standard Fedora "ocaml-camlp4" RPM package doesn't provide `camlp4rf` or `camlp4oof` binaries, you have to install "ocaml-camlp4-devel" RPM package.

[2017-12-19 04:31] #510 closed

[2017-12-19 14:52] aantron commented on #510
Thanks for the follow-up :)

[2017-12-19 16:51] aantron commented on #475
Closing this in favor of tracking elsewhere, e.g. https://github.com/ocsigen/ocsigen.org-data/issues/13.

[2017-12-19 16:51] #475 closed

[2017-12-19 16:55] aantron commented on #488
@qbi, @darrenldl I am closing this issue for now, as in https://github.com/mirage/ocaml-cstruct/issues/181#issuecomment-351554313. Let me know if you are still having trouble.

The "common" way to resolve Camlp4 problems on a `system` switch is not to use a `system` switch anymore: `opam switch 4.05.0`, then set everything up. The switches created fully by opam tend not to be broken as easily.

[2017-12-19 16:55] #488 closed

[2017-12-19 16:58] aantron commented on #435
Now tracked in https://github.com/janestreet/jbuilder/issues/332.

[2017-12-19 16:58] #435 closed

[2017-12-19 17:00] aantron commented on #414
@toolslive, I think the status of this issue is:

- We had a discussion about this some months ago, and decided to put it off.
- In the meantime, I also tried writing a "generic" `join` and `choose` with modular implicits, and had some fairly promising results.

I suggest to close this issue for now, though, since I don't think it will be worked on soon, or can necessarily be solved in a good way

[2017-12-19 17:01] aantron commented on #411
Closing this, as we'll probably learn from the Jbuilder changelog when this is possible.

[2017-12-19 17:01] #411 closed

[2017-12-19 17:05] #393 closed

[2017-12-19 17:06] aantron commented on #386
Closing this as an issue. It's better to encourage people in `CONTRIBUTING.md` or elsewhere.

[2017-12-19 17:06] #386 closed

[2017-12-19 17:46] hcarty commented on #414
[gen](https://github.com/c-cube/gen/) is generally a good option too.  [GenM.Make(Lwt)](http://cedeela.fr/~simon/software/gen/GenM.html) would provide some of the desired functionality.  @c-cube may be willing to take contributions to add potentially missing functions.

I know it has some downsides, but Lwt\_stream is a often a reasonable choice for concurrent array iteration too.

[2017-12-19 21:53] aantron commented on #453
Here are additional breaking changes, also planned for the future 4.0.0, announced and prepared by the recent 3.2.0 release. To give proper time to adapt, 4.0.0 will be released in three months, around March 2018.

Each breaking change is detailed below, with instructions on how to prepare for it. I will cc the maintainers of affected opam packages after 3.2.0 becomes installable. I've listed the

[2017-12-22 21:02] aantron commented on #395
For the `_p` functions, it looks like the ones that depend on `Lwt.join` (`iter_p` and `iteri_p`), if multiple calls to `f` fail, the failure of the first one to fail in time will be reported. For all other `_p` functions, it looks like the left-most failure will be reported, regardless of whether that was the first failure in time.

That may be worth fixing.

It's probably best to wait until we a

[2017-12-22 21:09] aantron commented on #395
I think there is also a difference in *when* the promises returned by the `_p` functions are resolved. For the ones that internally use `join`, the final promises are resolved only when all the individual promises created for the whole list resolve. For the rest, if one of the individual promises is rejected, the final promise is rejected right away, without waiting for any promises further down t

[2017-12-22 21:17] aantron commented on #395
Also, I find the `Lwt_list` tests to be pretty difficult to read for what they are. If you feel this way as well, you're welcome to refactor/simplify them. I usually prefer for test cases to be as self-contained and immediately legible as possible, and all those weird helpers in `Lwt_list` defeat that.

[2017-12-23 01:20] aantron opened #520 "Delete logging support from the PPX"
`Lwt_log` is deprecated and is being factored out (#484). The PPX has [special support for it](https://ocsigen.org/lwt/api/Ppx_lwt#2_Logging), but I think we should drop that. It doesn't seem to be used by anything in opam (nobody passes `-logs` to the PPX). My guess is that it's not used outside opam, either.

[2017-12-23 04:59] aantron commented on #511
Actually, I'd eventually like to also move at least `lwt_ssl` and `lwt_glib` from the main repo, without deprecating them. The same goes for `lwt_react`, but the desire there is a bit weaker. @rgrinberg, I remember you had an objection to this because there would be lots of separate issue trackers. However, these packages really have independent life cycles at this point, I think, and they see pra

[2017-12-23 08:17] rgrinberg commented on #511
For repos that you plan on deleting I think this is fine. But for the other repos my opinion is that while I see little risk in doing this, I also see absolutely no gain. All of these libraries still have you as the maintainer, so if there's more maintenance overhead with more repositories. You're only creating overhead for yourself by adding tasks like syncing breaking changes, managing constrain

[2017-12-23 11:40] Drup commented on #511
Yeah, I'm not convinced either. Also, forced synchronised releases is a problem when the big one at the source of the dependency chain moves much slower than the small ones. That's the other way around here. :)

[2017-12-23 13:15] cedlemo commented on #407
@aantron,

I have almost finished reorganizing the C files, but the tests/ build fails on the cygwin environment and I can not see why.

Here is the output :
https://ci.appveyor.com/project/cedlemo/lwt/build/28/job/rsbh3kr3gr0a3fty

And the file that fails to build:
https://github.com/cedlemo/lwt/blob/reorg_lwt_unix_c_files_part_2/src/unix/unix_c/unix_gethostbyaddr_job.c

As you can see, the conte

[2017-12-23 17:23] aantron commented on #407
Humm, I get similar errors on macOS as well:

During compilaton:

[code]

During linking of the test suite:

[code]

I'm looking into it.

I also get a ton of warnings about undeclared `memcpy` and `strdup` (for which `string.h` is necessary).

[2017-12-23 20:04] aantron commented on #407
To take `hostent_dup` as an example, it was a static function originally defined in `lwt_unix_unix.h`, and the commits move it to `unix_gethostbyname_job.c`. However, it is also referenced in `unix_gethostbyaddr.c`, so it should probably be factored out into a common header they both include. That could be `lwt_unix.h`, or the new `unix_get_network_information_utils.h`.

[2017-12-23 20:16] cedlemo commented on #407
o_o' sorry, I missed this one, I will fix that.

[2017-12-23 20:31] aantron commented on #511
It actually seems like less of a headache to me, most especially for the libraries with extra system dependencies (`lwt_ssl`, `lwt_glib`). Splitting off their CI would simplify the CI of both `lwt` and those libraries. It is currently done conditionally, and it's annoying to deal with and understand. It grinds me down every time I maintain it.

We also aren't doing synchronized releases. Except fo

[2017-12-24 00:15] madroach opened #522 "reproducible misread while reading binary data"
The following code can parses a binary file directly from stdin (using ``Lwt_io.stdin``), which will at some point ``read_int16`` a false length value.
After uncommenting it will first read stdin into a buffer, of which it will create an input channel using ``Lwt.of_bytes``. This will work as expected.
I don't know enough about lwt to debug this issue. The input for the buggy program can be found

[2017-12-24 00:56] aantron commented on #522
Thanks for the report. It has something to do with the channel's buffer. I'm able to change when the error occurs by creating `in_handle` as follows:

[code]

Working on a brief reproducer/test case and hopefully a fix.

[2017-12-24 01:29] aantron commented on #522
Here is that nicer version

[code]

Maybe we need a `read_exactly` function that returns a `string`, too.

[2017-12-24 01:37] aantron commented on #522
And looking at the code, `read` is a pretty weird function. If you don't specify `?count`, it runs a loop until the whole input is read. If you *do* specify `?count`, it *doesn't* run a loop.

[2017-12-24 01:41] aantron commented on #522
Also, I believe the observed false length value wasn't due to a bad `read_int16`, but because the posted code was printing the length of the string actually read,

[code]

and that string was, in fact, truncated. This misled me for a while, too.

[2017-12-24 08:44] madroach commented on #522
Oh wow, so not really a bug lwt. Thanks a lot for your help!!

[2017-12-24 08:44] #522 closed

[2017-12-24 15:58] #407 closed

[2017-12-24 16:18] aantron opened #523 "Remove the Unix stubs generator"
The [stubs generator](https://github.com/ocsigen/lwt/blob/caa642e8ecf043dae522bb7bedc90b1ca471c9e3/src/unix/stubs/gen_stubs.ml) (in [`src/unix/stubs`](https://github.com/ocsigen/lwt/tree/caa642e8ecf043dae522bb7bedc90b1ca471c9e3/src/unix/stubs)) generates [several of the C files](https://github.com/ocsigen/lwt/blob/caa642e8ecf043dae522bb7bedc90b1ca471c9e3/src/unix/jbuild#L51-L78) that make up the U

[2017-12-24 17:38] cedlemo commented on #523
@aantron,

I would like to continue with this if you don't mind.

[2017-12-24 17:40] aantron commented on #523
Of course I wouldn't mind, it would be very welcome again :)

[2017-12-24 17:55] aantron commented on #523
By the way, you're welcome to rename the files as you see fit after dumping (if you go that route), for example to be consistent with the naming in PR #521.

[2017-12-24 18:09] cedlemo commented on #523
I just saw that I make a little error when naming one file (it is a detail but it annoys me):

[code]

Is it ok if I rename it in the PR for this issue or would you like a different PR.

[2017-12-24 18:32] aantron commented on #523
I think it's fine to rename it in the PR for this issue.

[2017-12-24 21:53] aantron commented on #309
Lwt 3.2.0 is now installable from opam. This release adds a [new documentation for module `Lwt`](https://ocsigen.github.io/lwt/manual-draft/Lwt.html), fixes bugs, and adds new APIs ([changelog](https://github.com/ocsigen/lwt/releases/tag/3.2.0)).

Additional [breaking changes](https://github.com/ocsigen/lwt/issues/453#issuecomment-352897664) are scheduled for 4.0.0, which we now hope to release in

[2017-12-24 22:04] aantron commented on #453
cc @agarwal @akabe @andersfugmann @andrenth @andrewray @anyakichi @Armael @avsm @balat @c-cube @copy @cyberhuman @darioteixeira @delamonpansie @diml @djs55 @dominicjprice @domsj @dsheets @edwintorok @emillon @essdotteedot @fdopen @fxfactorial @gaborigloi @gildor478 @gregtatcam @haesbaert @hannesm @hhugo @ivg @johnelse @jrochel @kayceesrk @Leonidas-from-XIV @lindig @MassD @mato @metadave @mfp @mser

[2017-12-24 22:05] aantron commented on #453
cc @nojb @pqwy @pveber @rgrinberg @ryanslade @samoht @seliopou @smondet @talex5 @toolslive @vasilisp @vbmithr @vouillon @vzaliva @xvw @yallop @ygrek @yomimono @zoggy @zshipko

[2017-12-24 22:08] aantron commented on #453
Please see the [above comment](https://github.com/ocsigen/lwt/issues/453#issuecomment-352897664), with instructions on how to adapt to future changes in Lwt 4.0.0, which will be made in three months. Mostly, adapting will involve adding new dependencies to opam files, due to changed packaging of Lwt helper libraries.

[2017-12-25 11:40] cedlemo commented on #523
I have been able to modify the gen_stubs.ml like this:

[code]

and compile it with :

 `ocamlc -w +A-4-29 -o gen_stubs.exe gen_stubs.ml`

so that it generates the files with the same pattern for their names as we did in the unix_c/ directory.

I should be able to add a generic header with copyright if needed (could you give me a hint on where I could find one for those files ?).

Furthermore, the

[2017-12-25 18:22] aantron commented on #523
I'd rather not have the generator, unless there is some major advantage to having it. Let me know if you find one.

You should be able to take the one from `gen_stubs.ml` itself, and prepend it to each dumped file.

[2017-12-25 18:29] cedlemo commented on #523
It seems that I was not clear, I just run the modified generator and it generated the files I want with the good names:

[code]

like the following :

[code]

As you can see, there is no copyright in them, should I have to add one, if yes which one?

[2017-12-25 18:33] aantron commented on #523
Yes, I suggest that you put the generator's license header into these files for committing them.

[2017-12-25 18:40] cedlemo commented on #523
sorry for the comment I deleted, it did not understand what you where trying to say me. My bad.

[2017-12-25 18:47] aantron commented on #523
No worries :)

[2017-12-25 21:11] #523 closed

[2017-12-26 22:15] aantron opened #527 "[easy-ish] PPX: replace [%lwt ...] by [%lwt.catch ...] or remove it"
The catch-all `[%lwt ...]` syntax has been a source of problems in #307 and #525, due to how PPX works.

In particular, `let%lwt x = e in e'` is represented as `[%lwt let x = e in e']` in the AST, and all the other special `...%lwt` keywords (`try%lwt`, etc.) are represented similarly, i.e. as ordinary, unadorned expressions nested inside an `[%lwt ...]` extension point.

Besides keywords, the Lwt

[2017-12-26 22:22] aantron opened #528 "PPX: remove -no-debug option"
The `-no-debug` option disables PPX backtrace support (which is currently broken anyway).

In opam, `-no-debug` is used only by `sqlexpr`.

I've never heard of any complaints that backtrace support is too slow. On the contrary, everyone wants backtrace support to be restored and improved in Lwt.

I propose we make `-no-debug` do nothing, simplify the PPX code, and remove the option entirely in som

[2017-12-27 17:46] gabelevi opened #529 "OCaml Unix.select bug impacts Lwt_engine.select"
OCaml's `Unix.select` takes three list of fds. If any fd in any list is `< 0` or `> FD_SETSIZE` then it will raise `Unix.Unix_error(EINVAL, "select", "")`. This is probably not quite the right behavior, and I've reported it here: https://caml.inria.fr/mantis/view.php?id=7700

[Lwt_engine.select_based explicitly handles EBADF, but doesn't handle EINVAL.](https://github.com/ocsigen/lwt/blob/5b61d2a0

[2017-12-27 18:48] gabelevi commented on #529
I'm guessing that my particular issue is just having a more than 1024 fds open, and passing through an fd > 1024 (FD_SETSIZE). I'm guessing this is the most common reason anyone will see `Unix.Unix_error(Unix.EINVAL, "select", "")`, even though I think that is a non-standard use of EINVAL

I think I'm going to try something like this in the meantime, which should make it clear in my logs what's go

[2017-12-27 21:13] aantron commented on #529
Yes, this is most likely due to an fd over the limit for `select`. I do prefer `EBADF` to `EINVAL`, it seems more consistent with the (still ambiguous) verbiage here: http://pubs.opengroup.org/onlinepubs/9699919799/functions/select.html.

It might be useful to expose a comparison with `FD_SETSIZE` to OCaml to avoid all those `fstat` calls, on the other hand this is only done in an exceptional situ

[2017-12-27 21:15] aantron commented on #529
We may want to merge code like your check into the `select` engine, to get nicer error messages. If the Mantis ticket results in `Unix.select` throwing `EBADF` instead, we'll have to run this check in both cases to support OCaml down to 4.02.

[2017-12-28 01:10] kandu commented on #528
`-no-debug` ease my life when hacking lwt.ppx, the generated code is mush shorter so that the generated parsetree is acceptable to be parsed by my own eyes. 😸

[2017-12-30 13:45] toolslive opened #530 "problems with ssl"
Ever since the release of `lwt.3.1.0`, [Arakoon](https://github.com/openvstorage/arakoon) had some failing
ssl related tests.
[code]

Since there's a version that works (3.0.0 and earlier) and a version that fails, we used `git bisect` to unearth where this problem was introduced.
It turned out to be commit [8bff603ae6d976e69698fa08e8ce08fe9615489d](https://github.com/ocsigen/lwt/commit/8bff603ae6

[2017-12-30 13:57] toolslive commented on #414
I looked at making `join` and `choose` more generic using combinators for iteration, and was able to peel off one layer of the onion. The use of lists is however deeply ingrained in the state management of promises too.... so it's just not enough. As far as I'm concerned, you can close this one ;)

[2017-12-30 22:13] aantron commented on #414
Okay. This seems like a "future work" issue :) Thanks for getting back.

[2017-12-30 22:13] #414 closed

[2017-12-30 22:32] aantron commented on #530
@toolslive, I agree with the second approach. See if the attached commit fixes the test (and Lwt_ssl) behavior.

[2017-12-31 10:48] gildor478 commented on #453
@aantron can you list the affected packages?

What command do you use to estimate what packages are impacted by this change?

Is this something like:
[code]

[2017-12-31 16:06] aantron commented on #453
@gildor478 The affected packages for what? Each specific change lists the affected packages under the description already. Are you referring to something else?

The command is

[code]

[2017-12-31 16:34] aantron commented on #530
By the way, I want to factor `Lwt_ssl` out into its own new repo, like `Lwt_glib` in #524 (part of #511). Do you have any objections/thoughts on this?

[2018-01-01 08:41] gildor478 commented on #453
@aantron Thanks. The list of affected packages by breaking changes is perfect.

I have received first the comment where I was CCed and I was wondering how to act on it. It looked like a long list of sorted names. You may want to improve the CC message with something like

@gildor478 for debian-formats,
@mfp for sqlexpr,
@agarwal for biocaml,
[...]

This can help people to know what they should cha

[2018-01-01 16:27] aantron commented on #453
Thanks. I'll probably have to do that for the next time we have breaking changes.

[2018-01-02 10:51] toolslive commented on #530
* Our ssl related tests agree with the patch. This whole anecdote does seem to point to missing tests. Wouldn't the first test where you set up an ssl based server and client where the client starts reading before the server send a message bump into this ?

* Factor out `Lwt_ssl` into its own repo: no objections, but wouldn't it make exposing the above problems a bit more involved?

[2018-01-02 10:59] aantron commented on #530
Indeed, we need tests for `lwt_ssl`.

Assuming we add tests, it would delay when we find out about problems like this until the next time someone tries to develop `lwt_ssl` against Lwt `master`. Besides that delay, I think not.