[2018-01-02 11:12] aantron commented on #530
On the other hand, with a factored-out Lwt_ssl, we could do a point release right now without polluting the Lwt release list, and just easily have a separate release schedule for Lwt_ssl :) That's not maybe as big a "pure-"technical deal as delays in finding out about breakage, but it does help to keep things organized. Compare the last point release of Lwt_ssl, 1.1.1, in the [Lwt releases list](h

[2018-01-02 11:14] #530 closed

[2018-01-02 15:09] aantron commented on #9
@jpdeplaix If you don't mind, as #532 gets merged, I will close this issue. We can do any Lwt_ssl development in [aantron/lwt_ssl](https://github.com/aantron/lwt_ssl) :)

[2018-01-02 15:11] jpdeplaix commented on #9
Ok go for it. Sorry for not having replied to your request

[2018-01-02 15:15] aantron commented on #9
No worries, I was hassling you about working, it's fair not to reply :p

[2018-01-02 15:15] #9 closed

[2018-01-02 15:31] emillon opened #533 "lwt.unix can't be #required"
Hi,

I'm trying to load `lwt.unix` in a toplevel and it fails because of an unknown module:

[code]

This worked with 3.1.0 and fails with 3.2.0. I've bisected it down to f6e0117685f575e9b765cff20005b56b14a29620.

Usually, this means that a library is missing in the `requires` field in `META`, but that does not look like it is the case, as `threads` (which seems to provide this module) is already

[2018-01-02 15:43] aantron commented on #533
Try doing `#thread;;` before `#require "lwt.unix";;`. This was indeed caused (or exposed) by the commit you found. It is related to https://gitlab.camlcity.org/gerd/lib-findlib/merge_requests/9, see also the link provided there by @dbuenzli: https://caml.inria.fr/mantis/view.php?id=7687.

[2018-01-03 10:47] Drup commented on #511
Yeah, it makes sort of sense for glib/ssl, given the extra dependencies and focus. You should make sure that they are tested by lwt's own CI though.

Given that lwt, while not being 18th yet, is now fairly independent and spawning subprojects, I wonder if it would make sense to move to your own independent organization to house everything. It might be a discussion worth having.

[2018-01-03 15:36] aantron commented on #511
I'll give it some thought over the next few days, opinions very welcome.

[2018-01-04 13:15] emillon commented on #533
Thanks for the quick answer. Adding `#thread;;` works, indeed.

I'm using that in a script to check that a library I'm building is "self-contained" (e.g. it detects when I add a dependency in `_tags` but forget about updating `requires` in `META`). If I understand the issue correctly, it is that the "thread" mechanism is something that applications should handle and not libraries.

Is there someth

[2018-01-04 18:37] aantron commented on #533
Yeah, as I understand it, the way `-thread` is conceived now (and for the last 20 or so years) is that applications decide on it, and libraries have to either support both `-thread` and its absence (usually by being indifferent to it), or "require" it by failing at link-time if it's absent. They can't force it.

I'm not aware of anything you can add to `META` to force `#thread;;` or `-thread` to b

[2018-01-05 16:32] emillon commented on #533
OK, thanks! I guess this can be closed, then.

[2018-01-05 16:32] #533 closed

[2018-01-06 17:54] cedlemo commented on #406
@aantron, I would like to work on it.

[2018-01-06 21:11] aantron commented on #406
Great, thank you :)

[2018-01-08 14:42] cedlemo commented on #406
@aantron,

I started today and it seems that there are some deprecation warnings that make the tests fail.

[code]

[2018-01-08 17:18] aantron commented on #406
@cedlemo, we are suppressing those warnings internally in Lwt like this:

[code]

See

https://github.com/ocsigen/lwt/blob/c7ad8b33977ecee1943a060ba1303f555e1b5997/src/core/lwt.ml#L377-L384

[2018-01-09 17:23] gabelevi commented on #529
My project runs also runs on Windows, so probably can't use libev. For the moment, it's easier for me to try and avoid having too many fds. In the future, though, if I need more fds I may try and build a libuv lwt_engine. If I do, I'll definitely send a PR.

[2018-01-13 19:27] aantron commented on #406
I'm leaving this open for now, as there are still a couple of conditions to check (`make coverage` should show some unvisited code, and IIRC [this](https://github.com/ocsigen/lwt/issues/405#issuecomment-308486923) is one of the few ways to trigger it).

[2018-01-14 18:52] cedlemo commented on #406
hum, I have to say that I don't see how to test for example the [`Lwt_sequence.length`](https://github.com/ocsigen/lwt/blob/master/src/core/lwt_sequence.ml#L67) reported by the coverage tool:

[code]

It is a loop in the length function, I don't have access to it, I can not remove a node while it runs.

There is another thing that blocks me, it is the coverage of the `Lwt_sequence.fold_r` that ind

[2018-01-15 15:25] aantron commented on #406
Yeah, it looks like that branch in `length` should be dead code. We should probably delete it.

I'm not sure why the code you posted before didn't visit that branch (I didn't look deep enough).

For the simple case of deleting the next node, it seems that whether it would be visited anyway depends on the order of evaluation of the arguments in `loop node.node_next (f node.node_data acc)`.

I was a

[2018-01-15 15:29] cedlemo commented on #406
ok @aantron,  I continue working on it.

[2018-01-15 17:42] aantron opened #539 "Test the Unix binding"
This is a big issue for lots of PRs. Some parts of it could be quite easy, but on the whole I'd say it is of medium difficulty.

Some care should be taken to run the tests properly sandboxed, i.e. files created in temporary directories, etc. For that, the test framework in [`test/test.ml`](https://github.com/ocsigen/lwt/blob/4f0dabca5228b36a65ea7e49375a15d2070161fa/test/test.mli) will probably hav

[2018-01-15 17:44] aantron opened #540 "We are low on easy issues"
A large number of them have been completed. If you see anything that needs fixing, please open an issue to replenish the list :)

[2018-01-15 18:47] cedlemo commented on #406
[code]

this test with fold_r visits the last branch. In the previous test, the current node was the last to be removed.

1. the current node n(-1) is set inactive,
    - the node n(-2).next is set to node n(1)
    - the node n(1).prev is set to node n(-2)
2. the node n(-2) is set inactive
   - the node n(-3).next is set to node n(1)
   - the node n(1).prev is set to node n(-3)
3. the node n(1) is

[2018-01-15 18:54] cedlemo commented on #406
[code]

this test with fold_r visits the last branch. In the previous test, the current node was the last to be removed.

1. the current node n(-1) is set inactive,
    - the node n(-2).next is set to node n(1)
    - the node n(1).prev is set to node n(-2)
2. the node n(-2) is set inactive
   - the node n(-3).next is set to node n(1)
   - the node n(1).prev is set to node n(-3)
3. the node n(1) is

[2018-01-16 21:07] aantron commented on #395
Resolved by #531, #535, #538, thanks @jsthomas!

There is still the matter of documenting how `Lwt_list` functions respond to promise rejection (e.g., if multiple promises are rejected, which rejection is propagated to the final promise, etc). However, we can deal with that when documenting `Lwt_list`.

[2018-01-16 21:08] #395 closed

[2018-01-16 22:29] #406 closed

[2018-01-17 00:33] ygrek commented on #495
ftr marking -no-sequence option itself as deprecated is not very helpful, because it means we cannot have this option enabled (not clean build) to track that `>>` is not introduced in codebase. I would suggest keeping this option warning-free until `>>` is accepted by ppx, and as noop after `>>` is removed.

[2018-01-17 14:59] aantron commented on #495
@ygrek @jorisgio Indeed, reservations about deprecating `-no-sequence` are included here https://github.com/ocsigen/lwt/pull/534#issue-285514460.

However, any release of Lwt/the PPX that has deprecated `-no-sequence` and emits warnings on using it, also emits warnings directly on using `>>`. The warning number should be the same (29 IIRC), and IIRC there is no way to suppress it locally for only

[2018-01-17 17:05] ygrek commented on #495
Indeed, this is true. Please disregard my previous comment.

[2018-01-20 18:04] aantron commented on #492
Hey @raphael-proust, I'm going to take over this so we can put the `;%lwt` test in it (#307), hope that's okay.

[2018-01-21 13:39] avsm opened #543 "build failure in 4.06.0"
I am seeing this build failure with lwt.3.2.1 on ocaml 4.06.0

[code]

This is with a pin to `jbuilder --dev`

opam list:
[code]

[2018-01-21 15:29] aantron commented on #543
Looks like `ppx_tools_versioned` has to be at least 5.0.1, you have 5.0alpha installed. I'll add a constraint to `lwt.opam` and send a PR to update existing releases in opam.

[2018-01-21 15:30] aantron commented on #543
(and `lwt_ppx.opam`)

[2018-01-21 16:08] avsm commented on #543
thanks -- this looks like opam-master isn't selecting the freshest packages either. The above opam list was from a `opam switch create .` and a subsequent attempt to manually install latest lwt revealed this issue. cc @altgr

[2018-01-22 21:20] aantron commented on #492
Well, I restored the tests in a [branch](https://github.com/ocsigen/lwt/commit/0f1e1da1dc0aa0eb930522b39ca70ca08def43c6), but committing is best done after the PPX is fully factored out (#515, #338). Until then, the interaction of the expect tests with the Lwt build system is just too messy.

[2018-01-22 21:21] aantron commented on #543
You're welcome :) I'm closing this issue, as I believe it is addressed to the extent possible on the Lwt end.

[2018-01-22 21:21] #543 closed

[2018-02-06 04:44] smithjessk commented on #455
I'm interested in tackling this. Over the next 2-3 days, I'll make a PR that adds the documentation for `printf` (and `fprintf`, `eprintf`, if appropriate).

[2018-02-06 16:13] zerosign commented on #497
Hi, I think I got the same bug in here.

my current opam switch :
[code]

Trying to install `conf-libev`
[code]
Seems that `conf-libev` couldn't find libev, even though I already installing it.

in ocaml repl (try to test the function to detect libev) :
[code]
Currently, archlinux are using :
[code]
Is it related to libev version ?

[2018-02-06 16:39] aantron commented on #497
I don't think it's directly related to the libev version, since the script doesn't directly check for it.

I recommend printing the variable `cmd` in this function: https://github.com/ocaml/opam-repository/blob/ae5efe10f3c127b8679dd02aa8f17f595d60a740/packages/conf-libev/conf-libev.4-11/files/discover.ml#L121-L129. If it looks reasonable, then what happens when you run the same command yourself?

[2018-02-06 16:57] zerosign commented on #497
I think it does related to, in Archlinux libev are being linked as `-levent`
[code]
while in the script it's actually using `-lev` for linking to `libevent`.

[code]

[2018-02-06 16:58] zerosign commented on #497
Could we patch by adding `-levent` as an alternative if it fails to find using `-lev` ?

[2018-02-06 17:03] aantron commented on #497
@zerosign I'd assume `-levent` is for linking with libevent, not libev. Can you confirm you have libev installed, and are able to link with it (and definitely not libevent), and `conf-libev` is constructing a sensible command for linking with libev as well?

[2018-02-06 17:03] zerosign commented on #497
I'm sorry my bad.

[2018-02-06 17:05] aantron commented on #497
No worries :)

[2018-02-08 04:07] smithjessk commented on #455
I took a stab at this with #544.

[2018-02-09 09:59] rixed opened #545 "EINTR should not be automatically retried"
This is rather common in unix to use EINTR like this:

1. register some signal handler to set some flag in case of some signal is received
2. start a long blocking syscall
3. if the syscall return -1 with errno to EINTR, check the flags
4. otherwise life goes on

Currently Lwt_unix.wrap_syscall prevent this pattern by silently restarting syscalls on EINTR.
Meaning working with signals and long run

[2018-02-09 17:02] rneswold commented on #545
I don't think I agree with this strategy. Supporting this feature would expose Unix-related behavior in the API. I like that LWT tries abstract the low-level details so that promises are, more or less, atomic. I thought LWT (and OCaml) allow you to reliably receive and handle signals without having to worry about EINTR in every, long-running promise. And when I say "handle signals", I mean do more

[2018-02-09 21:05] rixed commented on #545
OK, but when as a result from a signal you want to stop some threads unix makes this work automatically for you, while with lwt you have some bookkeeping to do.

[2018-02-12 05:23] aantron commented on #545
@rixed, Lwt indeed uses some signals on its own, namely it catches SIGCHLD to implement `waitpid`. See comment here:

https://github.com/ocsigen/lwt/blob/c23bd6138e62651cd6f98394afd0bcdac161cc94/src/unix/lwt_unix.cppo.ml#L504-L508

and the handler here:

https://github.com/ocsigen/lwt/blob/c23bd6138e62651cd6f98394afd0bcdac161cc94/src/unix/lwt_unix.cppo.ml#L2181-L2198

I think this is necessary on

[2018-02-13 03:01] Drup commented on #366
I agree with @c-cube, this should be in awesome-ocaml instead.

Also, you want `--all`, not `--unavailable`. :)

[2018-02-13 07:34] rixed commented on #545
For my use case it would be enough to not restart the blocking threads that have explicitly asked for it. For instance: `Lwt_unix.sleep ~restart_on_eintr:false 10.`.
In my mental model of Lwt where such a function result in an additional file descriptor in the main select loop, that would imply that when that select ends with EINTR Lwt would go through all the blocked threads and make runnable all

[2018-02-13 17:13] aantron commented on #545
Perhaps we could add such a flag, but I would want to avoid potentially adding it to every API. Is this a problem specifically with `Lwt_unix.wrap_syscall`?

I read a bunch of base OCaml code. I noticed that in the specific case of `sleep`, OCaml's `Unix` also [loops on `EINTR`](https://github.com/ocaml/ocaml/blob/2602e423067c57115229f61d62d67069aee0df7e/otherlibs/unix/sleep.c#L41-L44). It doesn't

[2018-02-13 21:11] rneswold commented on #545
As @aantron noted, these really aren't threads. When you do a `read`, your promise isn't actually in the `read` system call. The associated handle is added to the set monitored by `select` (or `poll`, depending on which engine your application is using.) When there's data to read, the `read` call is made. This means the `EINTR` might interrupt the `select` call, not the `read` call so you'd have t

[2018-02-13 21:23] aantron commented on #545
@rneswold Yes, thank you for that clarification. In the general case, that is what happens.

I was assuming @rixed wants to run a long-running system call in the main thread for some reason, and still be able to interrupt it, but @rixed, what is your specific use case? This whole machinery for avoiding fully-blocking, long-running system calls is actually what Lwt already is on the inside.

[2018-02-14 01:52] aantron commented on #366
@Drup:

[code]

`--unavailable` seems more thorough.

[2018-02-14 11:20] Drup commented on #366
Ah, yes. those options are better named in 2.0. :)

[2018-02-14 22:32] rneswold commented on #545
You could do something like this:

Pretend you have a function, `read s n`, which reads `n` bytes from the the socket `s`. Assume you also have a mutex, `m`, and condition variable, `cv`. Instead of simply calling `read`, all your workers can do this:

[code]

Your signal handler can then cancel all of them:

[code]

(If you want, you could even use the `Unix.EINTR` exception.) `broadcast_exn` wil

[2018-02-15 00:09] aantron commented on #545
@rneswold's suggestion is spot on (I think, if I understood the use case). To make it slightly neater, you would wrap `Lwt_unix.read` in your own `read`, that has a reference to this condition variable and performs the race/choose (`<?>`) operation internally.

The list you would have to maintain is now internalized in this condition variable.

I guess the only problem would be if you need this fo

[2018-02-15 05:58] rixed commented on #545
@rneswold : Yes I was thinking about such a wrapper although I could not devise one that neat.

At the end of the day, this is not more bookkeeping than checking EINTR, therefore I'm closing this.
Thank you all!

[2018-02-15 05:58] #545 closed

[2018-02-16 12:26] XVilka commented on #451
Is there any update on this? Any better/cleaner examples that will work for handling signals?

[2018-02-18 15:36] aantron commented on #451
@XVilka The current status of this issue is summarized above and by @gaborigloi in https://discuss.ocaml.org/t/565/9. I think the overall state for now is that this is difficult to solve and requires research, and there aren't enough "labor resources" available to do it, given other problems in Lwt and elsewhere.

[2018-02-20 16:21] koen-struyve opened #549 "Hanging Lwt_main.run case"
The following code snippet

[code]
hangs indefinitely, with wrapped_t remaining in a Sleep state. We noted that binding on the result of "test ()" first seems to resolve this.

This behavior is present from version 3.1.0 onwards.

[2018-02-24 00:35] essdotteedot opened #550 "Lwt_io.open_connection hangs on Windows when opening a connection to an address that is not listening."
The following program hangs on Windows :

[code]

On Linux this works as expected (the program errors out with `Unix.Unix_error (Unix.ECONNREFUSED, "connect", "")`).

Doing a `netstat -a -b -n -o` on Windows I see the following:

These two additional connections happen even when a successful connection is established. Consider the following programs :

client.ml

[code]
server.ml

[code]

Running

[2018-02-24 23:00] #549 closed

[2018-02-24 23:00] aantron commented on #549
Thanks for reporting. The attached commit fixes the issue. It is a bug in `bind`, `catch`, etc., that I accidentally introduced while reorganizing `lwt.ml` (#354). All the functions are fixed, and I also added test cases for all of them based on your snippet (thank you again).

I will look at couple more issues, and then make a release to make sure this fix reaches people soon.

[2018-02-24 23:35] aantron commented on #550
I looked in the Lwt source code, and a bit in OCaml, and I don't immediately see the problem. Since I don't have easy access to a MinGW install to try things out, here is what I suggest:

[`Lwt_io.open_connection`](https://github.com/ocsigen/lwt/blob/e71511c04210c9ea6e650067371f8fc09ed90a77/src/unix/lwt_io.ml#L1527-L1548) mainly calls [`Lwt_unix.socket`](https://github.com/ocsigen/lwt/blob/e71511c

[2018-02-25 14:36] essdotteedot commented on #550
Programs written using Unix don't seem to have the same problems on Windows.

[code]
[code]

Both of the above programs error out with `Fatal error: exception Unix.Unix_error(63, "connect", "")`. No extra connections are created.

The client/server programs written using Unix don't create extra connections either.

[code]
[code]
Starting server then client results in the following netstat output :

[2018-02-26 23:49] aantron commented on #550
That would probably be the most helpful. Thanks if you do.

In addition to the code I linked above, [`Lwt_engine`](https://github.com/ocsigen/lwt/blob/e71511c04210c9ea6e650067371f8fc09ed90a77/src/unix/lwt_engine.ml) is involved. It implements the I/O loops that are "pumped" by `Lwt_main`. You're most likely using the `select` engine, so only that code should be relevant (but do check which engine

[2018-02-27 23:45] hcarty commented on #549
I see something similar with 3.2.1 - haven't tested against `master` yet to know if it's the same issue but the hanging effect is the same:
[code]
will hang indefinitely.  Tested in utop and compiled with ocamlopt, 64bit Linux w/libev.

[2018-02-27 23:49] hcarty commented on #549
Looks like this is a separate issue that exists after `opam pin add lwt --dev-repo`.

[2018-02-27 23:53] hcarty opened #551 "Lwt.nchoose_split hangs indefinitely with an empty list"
The following will hang indefinitely:

[code]

Tested with Lwt 3.2.1 and Lwt's `master` branch as of b27bea7c4c57de0ff729fc07f6862852b573a45d.

Ideally `nchoose_split` would immediately return `[], []` or, at worst, fail.

[2018-02-27 23:59] hcarty commented on #549
Issue opened in #551

[2018-02-28 00:04] hcarty commented on #551
I see that this is expected from the test suite.  I would still propose changing the semantics here as I'm not sure a permanent sleep state is useful in this context.

[2018-03-05 20:47] #366 closed

[2018-03-05 22:20] #498 closed

[2018-03-06 03:34] aantron opened #557 "Make Lwt.pick [] raise Invalid_argument"
This issue is about adding an `if` to [`Lwt.pick`][pick], [`Lwt.choose`][choose], [`Lwt.npick`][npick], [`Lwt.nchoose`][nchoose], and [`Lwt.nchoose_split`][nchoose_split], so that they raise `Invalid_argument` when given the empty list.

[pick]: https://github.com/ocsigen/lwt/blob/020600c2304c3830a6cf71e143c2c3eaeb77155b/src/core/lwt.ml#L2678-L2700
[choose]: https://github.com/ocsigen/lwt/blob/020

[2018-03-06 03:38] aantron commented on #557
I'd like to also suggest that if the PR indents all the code currently in `Lwt.pick` and the other functions, the indentation should go in a separate commit, whose message says that it is only a change to whitespace or indentation. That way, if someone is later looking through the history for when and how these functions were changed, they won't be stuck comparing all the lines only to find out th

[2018-03-06 17:51] gabelevi opened #558 "Publish lwt_ppx 1.0.2"
Would you mind publishing lwt_ppx 1.0.2 or something like that to opam? I'd love to be able to use the backtrace fixes 😁

[2018-03-06 18:00] aantron commented on #558
Absolutely, I was planning to do it tomorrow, along with Lwt 3.2.2 :)

[2018-03-06 20:47] aantron commented on #551
Discussion took place in #552 and ended up in #557, so closing this. Thanks for reporting it.

[2018-03-06 20:47] #551 closed

[2018-03-06 21:31] gabelevi commented on #558
That would be awesome! Thanks a ton!

[2018-03-06 21:49] aantron opened #560 "Change license to MIT"
Lwt is has an odd license situation, described below. To reduce confusion and make Lwt easier on users, I propose we change to the MIT license, or another such permissive license.

<br/>

### Please give permission

I have ccd all the contributors to Lwt further down. If you allow Lwt to change the license, please leave a comment on this issue. If you object, definitely please leave a comment :)

[2018-03-06 21:50] aantron commented on #560
Second comment because of cc limit.

cc @Richard-Degenne @rneswold @ryanslade @seliopou @simonjbeaumont @smithjessk @smondet @stijn-devriendt @talex5 @timbertson @toolslive @vbmithr @vouillon @whitequark @yallop @ygrek @ZackC @zoggy

[2018-03-06 21:53] yallop commented on #560
I'm fine with this change.

[2018-03-06 21:54] domsj commented on #560
ok for me :+1:

[2018-03-06 21:56] persianturtle commented on #560
No objection here.  👍

[2018-03-06 21:57] c-cube commented on #560
fine by me! :+1:

[2018-03-06 21:58] Leonidas-from-XIV commented on #560
I'm ok with this change :+1:

[2018-03-06 21:59] copy commented on #560
I'm ok with this change.

[2018-03-06 22:03] Drup commented on #560
I'm pretty sure the license is in fact standard "LGPL + linking exception" which is common in the OCaml community. I'm very confused why Lwt_react is under a difference license, though.

That being said, I don't mind the change.

[2018-03-06 22:07] smondet commented on #560
MIT license works for me :+1:

[2018-03-06 22:08] orbifx commented on #560
I'd prefer if the licence remained copyleft, such as LGPL.

[2018-03-06 22:08] jpdeplaix commented on #560
Fine by me

[2018-03-06 22:14] jasone commented on #560
Fine by me.

[2018-03-06 22:23] dmbaturin commented on #560
I don't see anything strange with the current situation. OpenSSL exception will fortunately become redundant soon as they are switching to a BSD license. The "extraordinary block of text" is there to permit free distribution of binaries statically linked with the library.

However, if you think MIT or equivalent will be better for the project, I have no objections.

I feel a bit uneasy about the t

[2018-03-06 22:25] acieroid commented on #560
Fine by me 👍

[2018-03-06 22:35] timbertson commented on #560
Fine by me :+1:

[2018-03-06 22:35] seliopou commented on #560
I'm ok with this

[2018-03-06 22:37] edwintorok commented on #560
I'm ok with this

[2018-03-06 23:30] hcarty commented on #560
I'm happy with the license change 👍

[2018-03-06 23:48] dbuenzli commented on #560
Ok for me.

[2018-03-06 23:55] aantron commented on #171
This was fixed by @gabelevi in #554 and #556 (many thanks).

[2018-03-06 23:55] #171 closed

[2018-03-07 00:20] kerneis commented on #560
I'm ok with the change as far as my code is concerned (I'm not even sure
any of it has survived until today).

But this is risky I think (note that i'm not a lawyer). See
https://www.videolan.org/press/lgpl-libvlc.html for an example of
relicensing; they reached out to *all* contributors, and rewrote the
code of the one they couldn't get agreement from.

[2018-03-07 00:26] bobbypriambodo commented on #560
No problem for me. 👍

[2018-03-07 00:42] whitequark commented on #560
I'l fine with this

[2018-03-07 01:21] rgrinberg commented on #560
Relicense my code as you see fit. +1

On Wed, Mar 7, 2018, 7:42 AM whitequark <notifications@github.com> wrote:

[2018-03-07 02:03] smithjessk commented on #560
Sounds good.

[2018-03-07 05:32] nojb commented on #560
Ok for me.

[2018-03-07 07:09] ryanslade commented on #560
Fine with me :+1:

[2018-03-07 07:26] ygrek commented on #560
ok

[2018-03-07 07:27] pveber commented on #560
I'm fine with the change, thanks!

[2018-03-07 07:33] toolslive commented on #560
ok.

[2018-03-07 07:48] gasche commented on #560
For me the main question is: the people who created Lwt (and decided on the license) and, before you, developed most of it (I would think of @vouillon and @yallop, do they agree with the proposed license change? (I would expect that this was discussed with them beforehand.)

On my own contribution, I am of course fine with using the MIT license.

[2018-03-07 09:20] emillon commented on #560
I'm fine with relicensing to MIT 👍

[2018-03-07 10:05] raphael-proust commented on #560
Ok

[2018-03-07 10:06] raphael-proust commented on #492
@aantron yeah, sorry I went inactive

[2018-03-07 10:07] talex5 commented on #560
OK

[2018-03-07 10:28] diml commented on #560
fine by me

[2018-03-07 11:12] haesbaert commented on #560
Fine by me.

Just a note, usually you only ask permission to change the license from
copyright holders, so people who actually have their name in the header of
a file.

People like me who just sent one or two diffs, do not hold copyrights and
do not need to gove consent.

As an example, in the past the usual process for relicensing bsd3 to bsd2
was done on a file by file basis, getting approval fr

[2018-03-07 11:39] mor1 commented on #560
I concur with @haesbaert on this.
But in any case: no objection to relicensing as MIT.
(I'd forgotten I'd even made a contribution!)

[2018-03-07 11:50] fdopen commented on #560
✓

[2018-03-07 12:51] aantron commented on #492
It's no problem at all :)

[2018-03-07 14:04] jsthomas commented on #560
Fine by me. 👍

[2018-03-07 15:05] dmbaturin commented on #560
@haesbaert While I may agree with your opinion _philosophically_ (though I have reservations — if I wanted to do what @aantron is doing with Lwt license, I would also ask every contributor), _legally_, it's simply not the case. In the countries that ratified the Berne convention (which is almost all countries in the world by now), you automatically become a copyright owner when you create somethin

[2018-03-07 16:27] malo-denielou commented on #560
Ok for me to go to MIT license.

On Wed, Mar 7, 2018, 07:06 Daniil Baturin <notifications@github.com> wrote:

[2018-03-07 17:21] cedlemo commented on #560
ok

[2018-03-07 17:23] gabelevi commented on #560
👍

[2018-03-07 17:54] simonjbeaumont commented on #560
👍

[2018-03-07 18:14] vbmithr commented on #560
Le 06/03/2018 à 22:50, Anton Bachin a écrit :

Ok for me.

--
Vincent

[2018-03-07 18:41] iitalics commented on #560
ok

[2018-03-08 01:01] mfp commented on #560
Fine by me

--
Mauricio Fernández

[2018-03-08 01:08] hannesm commented on #560
fine with me, highly appreciated! <3

[2018-03-08 09:50] avsm commented on #560
Fine by me, and also highly appreciated!

[2018-03-08 15:57] gabelevi commented on #558
Lwt 3.3.0 & Lwt_ppx 1.1.0 include all the changes I need! Thanks again!

[2018-03-08 15:57] #558 closed

[2018-03-08 18:48] aantron commented on #549
@koen-struyve the fix is now out in [3.3.0](https://github.com/ocsigen/lwt/releases/tag/3.3.0). Thanks again for reporting.

[2018-03-08 19:19] aantron commented on #560
@dmbaturin I'd like to change Lwt_react to MIT as well, so we won't have the BSD license at all anymore.

@haesbaert Indeed, I usually wouldn't expect to be asked about most contributions I've made to projects. But on the other hand, some people have made considerable contributions to Lwt, without making or being made aware of any statement or agreement about copyright, and/or forgetting (both con

[2018-03-08 21:24] agarwal commented on #560
I'm okay with the change.

[2018-03-09 01:49] kandu commented on #560
fine by me

[2018-03-09 09:43] andrewray commented on #560
Fine by me.

On 6 Mar 2018 21:49, "Anton Bachin" <notifications@github.com> wrote:

[2018-03-09 14:36] stijn-devriendt commented on #560
Approved by our legal team.
Otherwise, fine by me too.

[2018-03-09 15:12] damiendoligez commented on #560
OK for me for the license change.

@dmbaturin I was once asked to sign a Contributor Licence Agreement for a contribution that consisted entirely of *removing one character* from a source file. Do you think such a contribution is (or should be) covered by copyright? I don't.

[2018-03-09 15:34] dmbaturin commented on #560
@damiendoligez People like SCO are constantly trying to push it as far as they can, and in the civil law it's the defendant who has to prove the claim wrong — I can see why people may want to stay completely on the safe side. Anyway, my own position is more of "be conservative in what you do and liberal in what you accept". I'm fine with my own contributions to Lwt being relicensed whether they ar

[2018-03-09 19:27] rneswold commented on #560
Fine by me.

[2018-03-13 12:34] timreinke commented on #557
Thanks for the excellent writeup, Anton.  I'd like to pick this up.  A quick question of style: do you consider a helper function like `let fail_on_empty ps msg = if ps = [] then Pervasives.invalid_arg msg` bad form? I can appreciate that there is little logic here and moving the check into a helper function can actually obfuscate the flow and lead to dead code if behavior changes in the future (t

[2018-03-13 17:14] aantron commented on #557
Thanks :)

In this case, I personally would indeed consider the helper bad form, because, as you suggest, there is very little gain, and it obfuscates what is going on.

In the meantime, the function you suggested made me realize that you don't need `else` and so don't need to indent any of the existing code, which is good. Thanks for that :)

Regarding dead code, we shouldn't have a problem with

[2018-03-13 21:56] aantron commented on #453
The `Lwt.bind` change will most likely *not* happen. Please see https://discuss.ocaml.org/t/1337/13 for details. Hopefully, this makes maintenance easier for everyone, and thanks for all feedback :)

[2018-03-14 03:39] aantron commented on #557
Addressed by @timreinke in #562 (thanks!).

[2018-03-14 03:39] #557 closed

[2018-03-15 11:21] rixed opened #563 "Lwt_io.file_length of a directory returns 0x7FFFFFFFFFFFFFFF"
Not sure it is a bug at all, but I'd have expected an exception (Unix_error EISDIR or Failure) from that user friendly helper module.
What do you think

[2018-03-15 16:59] aantron commented on #563
@rixed, that does sound like a bug. What system are you on?

I just tried on Ubuntu under WSL and got 512 for the length of a test directory, which is accurate, but probably about as useless as 0x7FFFFFFFFFFFFFFF.

[2018-03-15 18:29] rneswold commented on #453
That's a shame. Sounds like this change would have made `bind` behave consistently and correctly. Plus, bumping the major version implies API changes that may not be backward-compatible. If people are worried, they can continue to use the 3.2.x branch until they've tested thoroughly against 4.0.x. After all, OPAM reports available versions all the way back to 2.3.2 so 3.2.x isn't going away soon.

[2018-03-15 18:42] ivg commented on #453
The majority of big projects, that are serious stakeholders of Lwt, will then may choose to continue to use Lwt 3.x, that will eventually lead to a nasty schism, like gnome 2.x vs gnome 3.x, etc. This will, in the best case scenario, double the support burden, and, in the worst on,e will make many packages uninstallable, or create yet another branch in the already too complex "which async library

[2018-03-15 18:57] aantron commented on #453
We may still be able to make the `Lwt.bind` change, but with more preparation, to make it easier for users to adapt. For example, we could add a testing mode to Lwt that randomizes the deferral strategy to help discover mistaken assumptions about it.

However, I'm not sure what the ultimate value of this would be, given it's still work for users, it can't be flagged statically, and the semantic pr

[2018-03-15 20:58] copy commented on #453
Async provides an [`Eager_deferred`](https://ocaml.janestreet.com/ocaml-core/latest/doc/async_kernel/Async_kernel/Eager_deferred/) module that can be opened to shadow `bind` and friends with their eager (lwt-like) versions. Maybe a similar solution could be provided by lwt to opt-in for safe monads. That is assuming it is possible to have both styles of promises in the same process and the impleme

[2018-03-16 12:43] let-def opened #564 "PPX bug when a binding is type constrained with OCaml >=4.06"
The issue was discovered by @gabelevi and reported in https://github.com/ocaml-ppx/ppx_tools_versioned/issues/4 (however I don't think ppx_tools can do anything about that and that it should be handled in each ppx rewriter).

Prior to 4.06, `let x : t = u` was parsed as `let  x = (u : t)`: type constraint is on body.
Starting with 4.06, it is parsed as `let (x : t) = (u : t)`: the constraint is du

[2018-03-16 12:55] Freyr666 opened #565 "Lwt_react.limit does not work as expected"
The documentation states that

[code]
however limited events occur more that once per second, since after a limiter awakes new event occurs instantly.

[2018-03-16 13:02] rixed commented on #563
That was on a Debian stretch, amd64, latest stable lwt (3.3.0)

[2018-03-18 12:31] hannesm opened #568 "waitpid EINTR issues"
I read a bit up on `waitpid`, and according to [POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/functions/waitpid.html) (as well as Linux and FreeBSD man pages) it can return `EINTR`.  The code in `lwt_unix.cppo.ml` (for Unix platforms) is:
[code]

This means, upon receiving `EINTR` the Lwt task will fail.  Is this intended?  My intuition would be - as done for other system calls (`readable

[2018-03-18 14:47] aantron commented on #568
@hannesm I believe that is the code of the [helper `_waitpid`](https://github.com/ocsigen/lwt/blob/d05d81b8784d3a995b4eeb4f137caa17e93a8fdf/src/unix/lwt_unix.cppo.ml#L2200-L2203), rather than `waitpid`. Looking at how the helper is called from `waitpid`:

https://github.com/ocsigen/lwt/blob/d05d81b8784d3a995b4eeb4f137caa17e93a8fdf/src/unix/lwt_unix.cppo.ml#L2210-L2214

...it seems `WNOHANG` will a

[2018-03-18 14:50] essdotteedot commented on #550
I can confirm that the select engine is being used. The two sockets connections that are always made look to be a [Windows ](https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_unix.cppo.ml#L2042-L2050) implementation [detail](https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_unix_stubs.c#L625-L654) (I don't think this is pertinent to the issue).

The issue seems to be related to API dif

[2018-03-18 14:55] aantron commented on #453
We could eventually do that. It should be very easy to get both styles of API exposed. The changes from #500 support this.

[2018-03-18 15:44] aantron commented on #564
@let-def do you know which PR this was done in in the compiler? This seems like a somewhat ill-conceived change at first.

[2018-03-18 19:03] #563 closed

[2018-03-18 21:05] aantron commented on #564
It doesn't look like type constraints `let%lwt x : foo = ...` worked correctly to begin with, as the type had to be `foo Lwt.t` instead of `foo`, which is misleading, because the type of `x` is `foo`. I suppose we could parse the type AST to check for `foo Lwt.t`, but that won't help in general, say when `Lwt.t` is rebound in an `IO` module, Lwt is used through some wrapper library, or `Lwt.t` is

[2018-03-18 21:35] aantron commented on #550
Excellent investigation, thank you.

It looks like the select engine and the code that interacts with it in `Lwt_unix` would need non-trivial modification to fix this the "right way." There might be a more readily-coded dirty fix, but I don't see it.

A *really* dirty fix might be to put the socket into blocking mode for `connect`, and run the attempt in a worker thread. This will also have perfor

[2018-03-18 22:15] aantron commented on #550
@essdotteedot You may benefit by replacing `lwt.unix` by [`uwt`](https://github.com/fdopen/uwt), which is based on libuv and probably has most issues like this one resolved. I'm under the impression that uwt works well in production on Windows.

[2018-03-18 22:16] aantron commented on #550
(...and we would like to replace `lwt.unix` by `uwt` in this repo, #328).

[2018-03-18 23:38] essdotteedot commented on #550
Thank you for the comments. I was not aware of uwt, hopefully it solves my Windows issues.

[2018-03-19 09:43] let-def commented on #564
The change has been implemented in: https://github.com/ocaml/ocaml/commit/fd0dc6a0fbf73323c37a73ea7e8ffc150059d6ff and discussed in https://caml.inria.fr/mantis/view.php?id=7344 .

[2018-03-19 09:48] let-def commented on #564
since `lwt (x : t) = ...` works as expected, my suggestion would be to make `lwt x : t = ...` behave the same.
Either by detecting the case where the ast as the shape `(x : t1) = (expr : t2)` where `t1 == t2` and they have ghost locations (... reverse engineering the job of the parser) or maybe changing the behavior of the parser upstream, however I suspect this behavior is on purpose and affect t

[2018-03-20 10:45] Drup commented on #564
That's an interesting issue. The parser doing some fancy duplication is not very nice, to say the least.
I would propose to:

1. Open a bug on mantis to make sure this behavior is going to stay. This really shouldn't be done at the parser level, so we might be able to convince the core dev to do that properly, during typechecking.
2. If it's going to stay, do what @let-def proposed, ie, "reserve e

[2018-03-20 15:34] #565 closed

[2018-03-21 01:10] aantron commented on #564
It seems like *very* dubious parsing behavior. As @let-def suggested,

[code]

are parsed differently. Even in 4.05.0, the first one is parsed "correctly," but the second one results in a type error, as the constraint is moved to the body.

I'm inclined to address this by documenting that `(x : unit)` (i.e. in parentheses) is the correct way to write constraints in `let%lwt`, since that works on a

[2018-03-21 15:41] gabelevi commented on #445
I found this GitHub issue after finding a couple bugs in my project due to my expectation that `Lwt.join` would resolve to a failed thread as soon as the first thread fails. I expected this behavior because in the handful of other languages where I've used promises/threads/awaitables, the "run X promises in parallel" APIs would throw/reject/etc as soon as the first thing failed.

I think `bind2` a

[2018-03-22 20:56] aantron commented on #445
@gabelevi We will probably want to add this kind of `join`/`all` in any "new" top-level Lwt API, alternatively I will be happy to merge a PR adding it to the current API :)

[2018-03-23 10:22] Drup commented on #564
@aantron Please at least open a mantis ticket to signal the fact that this parsing is problematic for lwt's ppx. :)

[2018-03-24 05:35] aantron commented on #329
Closing this for now as Lwt won't resolve it in the immediate future. See https://discuss.ocaml.org/t/1337/13 and https://github.com/ocsigen/lwt/issues/453#issuecomment-372832351.

[2018-03-24 05:35] #329 closed

[2018-03-24 05:43] aantron commented on #564
Ok, I'll do it with ETA Monday :)

[2018-03-24 06:11] #371 closed

[2018-03-24 06:12] #441 closed

[2018-03-24 06:14] #458 closed

[2018-03-24 15:15] #370 closed

[2018-03-24 21:54] hannesm commented on #568
@aantron thanks for your explanation.

I don't have any intuition why `WNOHANG` should imply that the result can't be `EINTR`.

[2018-03-24 22:38] aantron commented on #568
Avoiding a description of the intuition, this seems to be the case [at least on Linux](http://man7.org/linux/man-pages/man2/waitpid.2.html):

[code]

POSIX and FreeBSD man pages don't seem to make such a guarantee, but nor do they actually say what interaction there is, if any, between `WNOHANG` and `EINTR`. I/we would probably need to see some other material, like a more thorough specification, o

[2018-03-24 22:42] hannesm commented on #568
ah, ic.  I was following (as linked above) the POSIX spec (and FreeBSD man pages) ;)

in reality, I added some debug output and so far wasn't able to receive a EINTR on my FreeBSD systems (see https://github.com/hannesm/albatross/blob/e48d3b345701bfddc6674b3f6fd418f05400fbc7/src/vmm_lwt.ml#L15 for the code)

feel free to close this issue

[2018-03-24 22:52] aantron commented on #568
Yeah, the combination of that hand-wavy intuition, and experience with POSIX blind spots, makes me suspect that `EINTR` was specified particularly to allow signals to interrupt a blocking `waitpid`, and either

1. the authors simply neglected to address `EINTR` on a polling `waitpid` completely, or
2. to avoid over-specifying, the authors left this open on purpose, but almost every implementation

[2018-03-24 22:52] #568 closed

[2018-03-24 23:00] aantron commented on #568
@hannesm Were you doing something like sending signals from another thread, to try to trigger `EINTR`?

[2018-03-25 00:38] #338 closed

[2018-03-25 12:53] #511 closed

[2018-03-25 12:56] aantron commented on #511
The Camlp4 syntax is now at https://github.com/aantron/lwt_camlp4, and Lwt_log is at https://github.com/aantron/lwt_log. Lwt_log will get a release concurrent with Lwt 4.0.0, because the code is now packaged directly in `lwt_log`. Camlp4 doesn't need a release, because the code of Camlp4 was already packaged in `lwt_camlp4`.

[2018-03-25 13:46] #487 closed

[2018-03-25 16:08] #482 closed

[2018-03-25 16:09] #495 closed

[2018-03-25 17:21] aantron commented on #564
https://caml.inria.fr/mantis/view.php?id=7758

[2018-03-25 17:24] #564 closed

[2018-03-25 17:38] aantron commented on #497
Closing this issue as "too elusive" :) Please feel free to reopen if needed.

[2018-03-25 17:38] #497 closed

[2018-03-25 17:43] aantron commented on #472
Closing this for now. Feel free to reopen if needed, and also I wonder what happened with this code :)

[2018-03-25 17:43] #472 closed

[2018-03-25 17:46] aantron commented on #372
I will close this for now. It was originally motivated by what turned out to be the Skylake bug. Lwt itself seems pretty stable, so I don't think there is such an immediate apparent need for stress testing anymore.

[2018-03-25 17:46] #372 closed

[2018-03-25 17:54] #298 closed

[2018-03-25 17:55] aantron commented on #298
Closing, as

- The documentation of `with_value` [warns](https://github.com/ocsigen/lwt/blob/f34a4f91c26fdd679a992845f92f1565c07af9d4/src/core/lwt.mli#L1556-L1557) about using it from other threads.
- The entire `with_value` mechanism is [deprecated](https://github.com/ocsigen/lwt/blob/0ef3b515a3aeea435e55d9a17ad986aa2b8ebb04/src/core/lwt.mli#L1453-L1480) now.
- We have switched terminology from t

[2018-03-25 17:59] aantron commented on #189
Since `Lwt_daemon` is now factored out of Lwt and deprecated, I am closing this. Please feel free to reopen if it still needs to be fixed.

See https://github.com/ocsigen/lwt/pull/484#issuecomment-338184730 about daemonization in general, and the rest of that issue for the fate of `Lwt_daemon`.

[2018-03-25 17:59] #189 closed

[2018-03-25 18:01] aantron commented on #82
`Lwt_daemon` is now factored out of Lwt and deprecated, so I am closing this. Please feel free to reopen if it still needs to be fixed.

See https://github.com/ocsigen/lwt/pull/484#issuecomment-338184730 about daemonization in general, and the rest of that issue for the fate of `Lwt_daemon`.

[2018-03-25 18:01] #82 closed

[2018-03-30 22:52] gabelevi opened #569 "Possible hang with Async_detach"
I have been debugging a hang in my project. I'll try and describe the symptoms and what I think is happen.

## Symptoms

* When I run my test suite, it runs my binary hundreds of times. On most test suite runs, one or two tests get stuck
* I have figured out that the binary gets stuck after a `Lwt_unix.write` call to a pipe. I have confirmed that the fd is ready to be written and someone is listen

[2018-03-30 23:02] gabelevi commented on #569
It's worth mentioning that all the fds I'm using are blocking. Switching to using non-blocking fds would probably also help. Might also explain why I don't see other reports of this behavior.

[2018-03-30 23:10] aantron commented on #569
I haven't fully understood the issue yet, but I want to immediate note that:

- Indeed, pipes are non-blocking by default in Lwt, so interacting them does not, by default, involve the thread pool. The above can/does apply if you have deliberately opened the pipe in blocking mode.
- IIRC, Lwt internally does `wait_write` before a blocking write, so it should not be necessary for the user to do that

[2018-03-30 23:18] gabelevi commented on #569
Unfortunately, my project has been incrementally adopting Lwt. So the process which creates the pipe and spawns the lwt-using-server doesn't use Lwt. So we have a blocking pipe. (Which I can fix with `Unix.set_nonblock`

Yep, you're right! Interestingly enough, the `wait_read` before a blocking read was commented out back in October (https://github.com/ocsigen/lwt/commit/c285495495d1731ea7a4b9284f

[2018-03-30 23:18] aantron commented on #569
If I understood correctly, at that time when the binary gets stuck, you would expect to see the main thread and two system threads, not one, with one system thread waiting in `read`, and the other tasked with performing a potentially-blocking `write` (which we hope doesn't block because Lwt, IIRC, did `wait_write` first). However, the `read` and `write` task are "racing" for the same thread from t

[2018-03-30 23:18] gabelevi commented on #569
Yep! That's exactly what I think is happening!

[2018-03-30 23:24] aantron commented on #569
Also, to make it non-blocking from Lwt's point of view, you should use the functions in `Lwt_unix`. If you are using `of_unix_file_descr`, I think that can be ensured with `~blocking:false ~set_flags:true`. I also recommend checking `Lwt_unix.blocking` on the fd, to see if Lwt thinks it is blocking or not. One source of problems is when you have a blocking fd that Lwt thinks is non-blocking, and L

[2018-03-30 23:35] aantron commented on #569
...and this suggests another potential workaround, to try Lwt 3.1.0 for the time being. It should have this bug and/or the even more incorrect thread count management Lwt had last year, but Lwt actually doing `wait_read` will make it very unlikely that `read` will block in the worker thread, creating this condition. You could also call `wait_read` manually for now.

I will look into this issue in

[2018-03-30 23:39] aantron commented on #569
...and, confirmed, that call shouldn't be commented out. I remember clearly now, that I did that in order to be able to debug the other issue (linked to the commit).

However, Lwt should work whether `wait_read` is commented or not, just not as well when it is commented. So, there is still the underlying issue exposed by commenting it.

[2018-03-31 02:19] aantron commented on #569
@gabelevi Your analysis was correct. See the attached commit.

Can you please pin Lwt to `https://github.com/ocsigen/lwt.git#569` and see if that fixes your tests? That branch is based on Lwt [4.0.0](https://github.com/ocsigen/lwt/releases/tag/4.0.0), which isn't merged into opam yet, but it should be backwards-compatible with 3.x.x, except for the previously-announced breaking changes (#453).

Th

[2018-04-04 04:01] aantron commented on #432
Ok, looking at this again, the TL;DR is it can be worked around by wrapping `stop_condition` in a call to `Lwt.protected`:

[code]

`Lwt.protected` attaches a removable callback to `stop_condition`, so it is correctly cleaned up when `Lwt.pick` cancels the whole `>>=` construction.

<br/>

In detail, this is, most generally, a specific instance of this pattern:

[code]

This loop attaches one call

[2018-04-04 22:47] #569 closed

[2018-04-05 20:29] StrykerKKD opened #570 "Lwt_io.open_file: Unix.O_TRUNC is a dangerous default for output channel"
I think O_TRUNC is a little bit dangerous default, because the output channel modifies the file's content by just opening it. For me it's feels like an unexpected side effect. This behavior is also not documented, which made it harder to find out why my file kept getting truncated.

[2018-04-05 20:59] aantron commented on #570
Agreed.

I'm not sure what the best way to address this is, though. `O_TRUNC` is pretty typical for many usages, and not supplying it by default can result in a surprising coeffect, files that are too large and contain unexpected (old) data. Perhaps this should only be clearly and loudly documented?

[2018-04-05 21:33] StrykerKKD commented on #570
I think only the docs should be updated, because removing O_TRUNC cold be a big breaking change for a such a small "improvement".

[2018-04-05 21:55] aantron commented on #570
Ok, docs included in the commit linked above. Hopefully, that is good enough to resolve this.

Thinking about it more, it seems best to keep `O_TRUNC`, not only because of breakage if we remove it. Without `O_TRUNC`, all existing and future instances of ordinary code like this:

[code]

...which are naively expected to leave `foo` in a predictable state, become incorrect. In the worst case, they b

[2018-04-09 13:25] Drup opened #571 "Contributing guidelines"
According to [github's docs](https://help.github.com/articles/setting-guidelines-for-repository-contributors/):

It's currently in the `doc/` directory (no *s*), and so is not visible when doing a github PR. We should move it.

Similar thing for the license file, it's not recognized by github automagical determination of licenses.

[2018-04-09 15:56] aantron commented on #571
Thanks. I renamed `doc/` to `docs/`.

For the license, we have to wait for #560 about changing the license. GitHub doesn't recognize Lwt's existing license files (I tried some months ago).

[2018-04-09 16:01] Drup commented on #571
Ah yes, I forgot about that. It's working now!

[2018-04-09 16:01] #571 closed

[2018-04-10 23:05] aantron opened #572 "Deprecate the Lwt_unix.async_method machinery and eventually remove it"
Here is a description of it:

https://github.com/ocsigen/lwt/blob/0aa5063d55a303c8932ed619ecf3bbd5b0886669/src/unix/lwt_unix.cppo.mli#L68-L87

Of the three methods, `Async_switch`, AFAICT, was only ever working on Linux, but might be broken now (#184). Since it is non-portable, marked as experimental, probably broken, and unsupported, I think we should deprecate it and eventually remove it.

Of th

[2018-04-11 15:55] #309 closed

[2018-04-11 15:57] aantron commented on #453
Closing this, as 4.0.0 is now merged into opam (ocaml/opam-repository#11708). See also the [main announcement](https://discuss.ocaml.org/t/lwt-4-0-0-a-major-cleanup-of-the-repo/1838) on Discourse.

Further discussion, questions, etc., are welcome, of course :)

[2018-04-11 15:57] #453 closed

[2018-04-12 07:45] bikallem commented on #328
There's also this https://github.com/piscisaureus/wepoll
It seems to advertise itself as a drop in replacement for Linux epoll in windows. This could maybe provide a better migration path/alternative to more performance windows support.

[2018-04-12 10:57] rgrinberg commented on #328
@bikallem `libuv` solves many more problems than having a cross platform `epoll`. For example it has an asynchronous, cross platform DNS implementation.

One pre-req for using Uwt in Lwt should be porting Uwt to dune btw. Another point to consider is the huge amount of C code that's currently in Uwt. I have quite a lot of faith in the competence of the author of Uwt, but we should really look into

[2018-04-12 12:56] bikallem opened #573 "Lwt_sequence deprecated but still used by Lwt_main"
Lwt 4.0.0 deprecates ```Lwt_sequence.t```. However, some functions in ```Lwt_main``` still seem to use it. As a result of which there is no coherent migration path from not using ```Lwt_sequence```. I am attempting to upgrade ```lambda_term``` to ```lwt 4.0.0``` and came across this issue -  https://github.com/diml/lambda-term/issues/60.

The functions using ```Lwt_sequence``` is ```Lwt_main``` ar

[2018-04-12 13:17] rgrinberg commented on #573
I think this issue is really a problem of lambda-term. It was probably a mistake to let the user be aware that callbacks are stored in `Lwt_sequence.t` at all.

To fix this issue, I think we need lambda-term to have an abstract type for hooks. Now unfortunately, that will have to be a breaking change, but there's probably no reasonable way to avoid a breaking change here. The way to support old us

[2018-04-12 13:25] aantron commented on #573
Lwt uses `Lwt_sequence` like this:

https://github.com/ocsigen/lwt/blob/9340e6c661ddb06014a230d4299338563c30e0ad/src/core/lwt_condition.ml#L29-L36

If that's not an option (is `Lwt_sequence` exposed in the lambda-term API?), we can remove the `Lwt_sequence` warning in a 4.0.1 release.

[2018-04-12 13:30] aantron commented on #573
@rgrinberg's type alias suggestion could work even for an API, actually.

[2018-04-12 15:33] bikallem commented on #573
@rgrinberg Just tried the following to ensure type equality of the imported ```Lwt_sequence``` and original ```lwt Lwt_sequence.t```. I am not sure if type equality works with abstract type. I tried the following but got a compilation error.
[code]
This gives an error below,
[code]
Am i missing something? We need type equality between the two because we use ```Lwt_main.enter_iter_hooks``` which as

[2018-04-12 16:59] gabelevi opened #574 "`Lwt_unix.read` on Windows with non-blocking fd seems to block Lwt"
As a workaround to https://github.com/ocsigen/lwt/issues/569, I recently switched to using non-blocking fds. This worked on Linux and OSX but broke my Windows build. While I'm not sure the cause of this issue, here's what I know and how I worked around the issue. I have not attempted to put together a small repro case yet, because my Windows computer is a potato.

* Compiler: 4.03.0+mingw64c
* Lwt

[2018-04-12 21:34] bikallem commented on #573
@aantron It seems there isn't a straight-forward path to getting around the deprecation of ```Lwt_sequence```. Even if the module itself is deprecated, ```lwt``` still exposes public apis that make use of ```Lwt_sequence``` and which are not deprecated and don't have a corresponding non-deprecated api that we can migrate to. This is a show stopper for ```utop``` which depends on ```lambda term```

[2018-04-12 22:24] aantron commented on #573
I took a superficial glance at lambda-term's usage of `Lwt_sequence` by doing a GitHub code search for `Lwt_sequence` in the lambda-term repo.

This could be wrong, but I suggest that you may be able to readily work around all the usages.

1. `lTerm_widget_base_impl.ml`, `lTerm_buttons_impl.ml`, `lTerm_scroll_impl.ml` all use the `Lwt_sequence`-based machinery from `lTerm_widget_callbacks.mli`, wh

[2018-04-12 22:27] aantron commented on #573
In the meantime, we should probably provide a non-`Lwt_sequence`-based API for those hooks in `Lwt_main`, in a future release of Lwt.

[2018-04-13 07:49] bikallem commented on #573
Indeed. After that lwt users should have a coherent way to migrating their codebase. Thanks.

[2018-04-13 10:39] aantron commented on #574
This may have been fixed by https://github.com/ocsigen/lwt/commit/86a6baff880f60faffccad49425478deb06c277b, part of #569, which isn't part of a release yet.

The underlying problem was also spotted by @gabelevi, so thanks :)

[2018-04-14 17:21] shinzui opened #576 "Doc links are all pointing to 404 error pages"
The README is pointing to 404 error pages, and the [manual](https://ocsigen.org/lwt/3.2.1/manual/manual) on oscigen is outdated.

[2018-04-14 18:16] Drup commented on #576
Duplicate of https://github.com/ocsigen/ocsigen.org/issues/18 . The ocsigen.org website was renovated a few days ago. This should be fixed soon.

[2018-04-16 15:59] gabelevi commented on #574
Unfortunately, that fix is for blocking fds. This issue is for non-blocking fds

[2018-04-16 16:27] aantron commented on #574
@gabelevi, on Windows, only sockets can be non-blocking (in the Unix sense). Among other problems, you may have a fd that Lwt thinks is non-blocking, but is actually blocking. What kind of fd do you have, and how are you creating the `Lwt_unix.file_descr` for it?

[2018-04-18 19:44] pqwy commented on #560
I don't think any of my code is in Lwt, so I also don't believe I have rights over it.

I'm fine with this change either way.

[2018-04-18 20:59] aantron commented on #396
Closing this as accepted, because we definitely want to use cstruct/ctypes, and it's on our minds for any major future Lwt work.

[2018-04-18 20:59] #396 closed

[2018-04-18 21:01] aantron commented on #249
Further progress will be made as side-effects of other issues, so closing this now.

[2018-04-18 21:01] #249 closed

[2018-04-18 21:02] aantron commented on #205
Closing due to needed feedback. Please reopen if necessary :)

[2018-04-18 21:02] #205 closed

[2018-04-18 22:41] hcarty opened #578 "Lwt_stream.iter_n ?max_threads should be ?max_concurrency"
Or some other non-"threads" name.

[2018-04-18 22:42] hcarty commented on #578
To be clear, I should have caught this before the thing was merged...

[2018-04-18 23:28] hcarty commented on #578
Thanks!  I'll prepare a PR - probably late this week or early next.  And as the likely-only user of this function I'm ok with this silent fix landing pre-5.0.0 :-)

[2018-04-19 07:40] Richard-Degenne commented on #560
Sorry I haven't checked out Lwt in a while.

It's all right for me! :)

[2018-04-19 07:46] vouillon commented on #560
I'm okay with the change.

[2018-04-19 08:43] olasd commented on #560
Hi,

I'm fine with the change.

Thanks!
Nicolas

[2018-04-19 15:01] aantron commented on #576
I believe this is fixed by @CelieArnaud in #579. At least, the links in the README and in the changelogs on the releases page seem to work.

[2018-04-19 15:02] aantron commented on #576
Correction, the 404 part is fixed. We still need to have docs for current versions of Lwt generated.

[2018-04-19 21:47] aantron opened #580 "Lwt examples: how to test with Alcotest"
Suggested by @bruce-ricard in Gitter (thank you).

I agree we should add this. The Lwt manual needs a rewrite, though, so instead of adding it immediately, I'm saving this as an issue for the future :)

[2018-04-20 08:01] bobbypriambodo commented on #580
Should this be in Lwt docs instead of Alcotest docs? What is the reason of adding it here? (Not on Gitter, sorry.)

[2018-04-20 17:15] hcarty commented on #578
PR in as #581!

[2018-04-20 19:45] #578 closed

[2018-04-20 19:46] aantron commented on #580
It could live in the Alcotest docs, and we could add a link to it.

I think Lwt will, or at least should, get its own example docs at some point. We can then include one about testing with Alcotest.

[2018-04-21 10:01] dsheets commented on #560
This is great news. I'm happy with this change.

[2018-04-23 09:13] chambart commented on #560
I'm ok, no objections.

[2018-04-23 09:50] pveber commented on #472
Sorry for not replying after that, I had to move on to something else and did not investigate further. Thanks a lot for your valuable feedback!

[2018-04-23 21:40] aantron commented on #472
It's no problem, and understood :)

[2018-04-23 23:25] aantron commented on #560
Thank you all, the license is now MIT :)

The final status was:

- Almost all contributors and organizations involved in Lwt development agreed.
- Some of the agreements were communicated by email or in Gitter.
- There were no objections.
- A few (~5) contributors did not respond, but in each of those cases, several of the following hold:

    - The contributions are of such a nature, that we thin

[2018-04-23 23:25] #560 closed

[2018-04-23 23:33] ZackC commented on #560
I’m fine with it if you need consent.

I didn’t think my contributions were enough where I should have any influence on the situation.

Zack Coker

[2018-04-23 23:34] aantron commented on #560
Thank you nonetheless :)

[2018-04-24 08:45] tychota commented on #560
The readme badge still display lgpl, i think.

[2018-04-24 08:54] tychota commented on #560
#582 - > update the readme badge too.

[2018-04-25 05:13] aantron opened #583 "[easy-ish] Fix race condition in Lwt_react.E.limit"
[Lwt_react.E.limit](https://ocsigen.org/lwt/api/Lwt_react.E#VALnext) takes a rate-limiting function and a [React event stream](http://erratique.ch/software/react/doc/React.E.html), and rate-limits the event stream:

[code]

`rate_limited_event_stream` is the same as `event_stream`, but if the event occurs sooner than one second since the last time, the occurrence is buffered, and emitted later, af

[2018-04-25 05:46] aantron opened #584 "Lwt 5.0.0 breaking changes notice"
Lwt 5.0.0 will be released in November 2019 or later, with some minor breaking changes. All breaking changes are announced at least three months ahead of time by Lwt, and this issue includes details on the ones scheduled for 5.0.0.

<br/>

---

[`Lwt.pick`](https://ocsigen.org/lwt/api/Lwt#VALpick) will raise `Invalid_argument` on the empty list, instead of returning a forever-pending promise. This

[2018-04-25 16:08] aantron commented on #576
The first result in Google (and Bing) searches for "Lwt API" points to https://ocsigen.org/lwt/api/, which is now dead (404). cc @balat @CelieArnaud

[2018-05-03 10:28] vog commented on #453
Great work! However, the documentation and tutorials should reflect the new project structure as well, especially with regard to lwt.ppx versus lwt_ppx.

[2018-05-03 16:49] kit-ty-kate opened #587 "The "flags" parameter of Lwt_io.{open,with}_file is not well defined"
I wrote something like this in my code:
[code]
but after some testing the behaviour I was expecting (i.e. flags being added to the default flags, I was expecting at least `O_WRONLY`) is not the one given by those function. Instead if this parameter is given it uses only those flags.

This behaviour is not documented on the functions (you have to read the code to know that), and apart from that I f

[2018-05-04 05:47] rixed opened #588 "Async jobs are never killed"
I have a program using lwt that, at startup, perform a lot of Lwt_unix operations.
Since they all happen in parallel and the default `pool_size` is 1000, hundredth of pthreads are created, the fast majority of which then sit idle for the rest of the program, looping in selects.
This makes debugging/instrumenting/tracing that program more painful than it needs to be.
Shouldn't idle pthreads be canc

[2018-05-04 19:30] aantron commented on #588
They probably should be. This came up in a prior issue as well. I can't find it now. We chose not to address the problem at that point, but it's worth looking into now.

[2018-05-04 19:59] #587 closed

[2018-05-04 20:05] aantron commented on #587
@kit-ty-kate thanks for the report. I tried to clarify the docs in the linked commit. Let me know if more is necessary.

Without `O_NONBLOCK`, Lwt is still useful. `O_NONBLOCK` is only supported on most Unix systems for Unix domain sockets and named pipes, and not for regular files. So, when `O_NONBLOCK` is not supplied or not supported, Lwt runs I/O operations in worker threads. This can be slowe

[2018-05-04 20:25] kit-ty-kate commented on #587
Thanks a lot for your explanation and your work !

I noticed a small mistake in this commit: you said `[0666]` when describing the default permission, when it should probably be `[0o666]`.

[2018-05-04 21:18] aantron commented on #587
I used C/most other languages notation, in part because it's probably more familiar in the permissions context. But I'll switch it to OCaml syntax. On reflection, it probably will give people a useful clue about how to write octal in OCaml, helpful because octal is pretty rare.

[2018-05-05 17:36] cedlemo commented on #539
@aantron I will work on Bigstrings.

[2018-05-08 11:36] aantron commented on #453
@vog thanks for catching and reporting it! I (think I) fixed all remaining `lwt.ppx` in 0a1863d just now. The docs site is a bit behind on picking up Lwt changes. That is being tracked in #576 for now.

[2018-05-08 20:18] avsm opened #589 "Some historical archives of Lwt are missing from opam-repository"
According to `opam admin cache`, these archives no longer exist from upstream ocsigen.org:

[code]

[2018-05-08 21:49] aantron commented on #589
@balat, Is possible to recover the files that used to be on ocsigen.org? I can attach them as artifacts to the GitHub releases, and point the opam URLs there.

The reason is that the git tags don't seem to have the OASIS-generated boilerplate checked in. If we can get the original archives that were hosted on ocsigen.org, we can post known-working Lwt versions, instead of risking mistakes generati

[2018-05-14 21:02] smithjessk commented on #492
[According to Travis](https://travis-ci.org/ocsigen/lwt/jobs/358127721#L716), a1fc678 didn't fix the issue for `make coverage`. But, I fixed this locally by building the `lwt` package using `BISECT_ENABLE=yes make build` inside the `coverage` task:

[code]

Is this an acceptable fix? Is there anything else I should be worried out? I'm still pretty new to `jbuilder`, etc. If this works, I'll put it

[2018-05-15 04:41] aantron commented on #492
Absolutely, thanks for taking a look! If the tests are working, and the coverage report looks correct before and after, then it is an acceptable fix indeed :)

The most important thing to watch out for is that `lwt` and `lwt_ppx` are both uninstalled in your opam switch when you are testing the expect tests. This is to ensure that the tests are not picking up the installed versions of those packag

[2018-05-15 09:53] #589 closed

[2018-05-15 10:03] balat commented on #589
Thanks! It should be fixed now. Sorry for the missing files.
We are still working on removing some dead links.

[2018-05-16 21:28] smithjessk commented on #492
Yep- uninstalled both of them and the coverage tests completed. Opened a PR, too. Thanks, @aantron!

[2018-05-18 16:12] brendanlong commented on #324
It would be really nice to have the `Lwt_result.Infix` operators available in `Lwt` too, like how Async has [`>>=?` and `>>|?`](https://ocaml.janestreet.com/ocaml-core/latest/doc/async_kernel/Async_kernel/#val-(%3E%3E=?)). It's a little less useful in Lwt since presumably most people aren't using `Or_error.t`, but it's still nice if you're using string, exn, or polymorphic variant `'error` types.

[2018-05-19 07:09] aantron commented on #324
@brendanlong Perhaps the existing ones in `Lwt_result.Infix` should have had names that don't collide with `Lwt.Infix`?

[2018-05-19 07:33] #492 closed

[2018-05-19 09:32] cedlemo opened #591 "About Lwt_bytes and Bytes"
Why is there a `Lwt_bytes.t` type ?

should I use it instead of `Bytes.t` in a lib that uses Lwt. For example I have a lib that can connect to socket with `Lwt_unix` my connexion type looks like this:

[code]

I read from the socket and fill the buffer with :

[code]

Then I pick in the buffer what I need using regexes defined by the communication protocol.
Should I use a buffer of type Lwt_bytes

[2018-05-19 16:40] aantron commented on #591
@cedlemo `Lwt_bytes.t` is an alias for `(char, Bigarray.int8_unsigned_elt, Bigarray.c_layout) Bigarray.Array1.t`, i.e. bigstrings (as I'm sure you know). You probably know this too, but the storage for bigstrings is separate from the OCaml heap, so it is not moved during GC. That allows a pointer to the storage to be passed directly to I/O functions, without worrying that a GC cycle will make the

[2018-05-19 17:29] cedlemo commented on #591
thanks @aantron for your  answer, my lib have an inconsistent behavior and I thought that maybe I had found the origin of the problem.

[2018-05-19 17:29] #591 closed

[2018-05-19 21:49] brendanlong commented on #324
I'm not sure. It seems nice to make all monads implement the same operators (although Lwt already doesn't match Core or Rresult), although realistically I think using the Lwt_result monad alone is pretty uncommon. There's also a related annoyance that `>>=` and `>|=` don't really cover everything you want (this is useful if you only have async function that potentially return errors and non-io fun

[2018-05-20 14:29] aantron commented on #589
I've also uploaded those releases to GitHub, attaching them to the tags. If we have a problem with them again, we can use the files on GitHub as a backup.

[2018-05-24 16:16] mseri opened #594 "string/bytes (apparent?) inconsistency in Lwt_unix.io_vector and Lwt_unix.recv_msg"
`Lwtr_unix.io_vector` carries `string`s, that since ocaml 4.06.0, default to immutable structures. However `recv_msg` will record the responses into those strings, treating them effectively as `bytes`.

I just had a brief look at the code, without entering into any details, but shouldn't we avoid considering strings as mutable buffers? It seems to me that this compiles fine only because at the c i

[2018-06-04 13:19] Freyr666 opened #595 "Lwt_react.E.next: thread does not resolve"
I encountered a rather strange behaviour of `Lwt_react.E.next` function. Sometimes thread does not resolve when the event appear. I suspect that `ev` from the let binding is being GC-ed.

[code]
works fine

[code]
also works fine for some reason. Could it be a bug in the compiler? I use 4.06.1+fp+flambda switch.

[2018-06-05 19:44] aantron commented on #595
@Freyr666, if I understood correctly, your post says both of these examples work fine. Can you give one that is broken?

[2018-06-05 19:45] aantron commented on #595
Also, if you want to check whether Flambda is involved, I suggest trying on a non-Flambda switch. But given past experience with React, my first suspicion is that the reference graph is the more likely culprit, and maybe something is indeed being GCed.

[2018-06-08 00:39] cyberhuman opened #596 "match%lwt accepts all cases being exception cases"
According to https://caml.inria.fr/pub/docs/manual-ocaml/extn.html#sec264:

Checking in toplevel, the following does not compile, as expected:
[code]

But `match%lwt` gives a run-time error instead:
[code]

[2018-06-08 03:11] hcarty commented on #596
Good catch!

[2018-06-08 04:00] raphael-proust commented on #596
I'll can give that a shot if no one has started yet…

[2018-06-08 15:34] reihan35 opened #598 "Please help , I can't compile !"
Hey !

So here's my problem :

I am trying to figure out how to compile a .ml file with the lwt library so I installed the package in opam and now while trying to run the following command to compile :
`ocamlfind ocamlopt exemple.ml -o exemple -package lwt`
I have :
`File "exemple.ml", line 1:
Error: No implementations provided for the following modules:
         Lwt referenced from exemple.cmx`
a

[2018-06-08 15:44] bobbypriambodo commented on #598
Hi @reihan35, can you try running the following:

[code]

and see if it works for you? In particular, I added the `-linkpkg` flag.

Depending on the content of `exemple.ml`, you may also want to use `lwt.unix` package instead of `lwt`.

[2018-06-11 07:49] reihan35 commented on #598
@bobbypriambod
Thank you so much for your help and sorry I'm late answering back.So as you said it worked fine with the first command but when I modifief the contetnt of `exemple.ml` like this :
`open Lwt
let rec tic () =
    print_endline "tic";
    Lwt_unix.sleep 1.0;
    tic ()`
and tried with this command :
`ocamlfind ocamlopt exemple.ml -o exemple -linkpkg -package lwt lwt.unix`
It does not w

[2018-06-11 12:40] reihan35 commented on #598
Thank you il worked fine :)

[2018-06-12 02:44] #596 closed

[2018-06-13 17:51] aantron commented on #250
@kydos yep, `Lwt_stream` can/should be used. It remains stable and maintained. If lwt-pipe suits your needs, though, we suggest you use that.

The idea of that message is to avoid people using `Lwt_stream` so much by default, that we don't get enough feedback to develop lwt-pipe or other alternatives. Maybe the message in the docs should be adjusted.

[2018-06-13 17:53] kydos commented on #250
Thank for the prompt response @aantron. I agree that the note on the documentation should be updated as it is perhaps a bit too discouraging :-)

Keep up with the great work on Lwt!

A+

[2018-06-14 10:27] kydos commented on #250
@aantron, to give you some more context, we are using OCaml and Lwt to build a secure and high performance broker for the [zenoh](zenoh.io) protocol. If you are familiar with NDN (Named Data Networking), zenoh addresses the problem of NDN while taking into account the new requirements posed by IoT.

Anyway, I'd like to maintain the "impure" code well isolated and use channels to compose the differ

[2018-06-14 13:47] c-cube commented on #250
That's interesting. I'd be curious to know by how much `lwt_stream` is faster than `lwt-pipe`?
(Note that the goal of lwt-pipe, when I had time to work on it, was to provide a clean push-based abstraction which would play nice with resources when readers are faster than writers. The problem is that it's still very immature).

[2018-06-14 21:34] aantron commented on #250
@kydos I've done only some rudimentary experiments with Lwt on multicore. I'll be sure to get back when there is something concrete.

[2018-06-15 09:35] kydos commented on #250
@c-cube, on the in-bound processing path the writer is the transport plug-in, which may be reading data from TCP/IP, UDP/IP, raw ETH, etc., and producing protocol frames. Next is our protocol engine. Thus in this case the reader may be slower than the writer, especially on high throughput networks or with large numbers of entries on our routing tables.

In any case the test I did was synthetic. Th

[2018-06-15 15:09] avsm commented on #361
ocamllabs/ocamlot is not in active use, so I've archived that repository

[2018-06-17 11:39] gruenewa opened #599 "error installing LWT 4.0.1 on Ubuntu 18.04 with musl enabled ocaml compiler via opam"
I am using opam with compiler switch 4.06.1+musl+gcc+static+flambda on Ubuntu 18.04. (The compiler switch is based on the 4.06.1+musl+static+flambda compiler switch by replacing musl-clang with musl-gcc since musl-clang is not available for Ubuntu)

When installing lwt I get the following error:

[code]
Running jbuid for LWT gives ...

[code]
Looking further I see that there is a statically linked

[2018-06-18 20:43] gruenewa commented on #599
Not sure if the question regarding how musl+static was patched, was addressed to me... just in case my OPAM musl+static compiler configuration file is:

[code]

[2018-06-19 18:13] aantron commented on #599
@gruenewa Have you had success before with a +static switch? @rgrinberg is Jbuilder/Dune tested on those?

[2018-06-19 20:10] gruenewa commented on #599
@aantron Yes, most of my projects are fine using the +static+flambda switch with jbuilder/dune. And there are no problems installing many opam packages. Lwt is the first package where I am observing this issue.

[2018-06-19 23:17] aantron commented on #599
@gruenewa Could you post `_build/_log`, starting from a clean build, as suggested by @rgrinberg? Also, what happens if you add `no_dynlink`?

[2018-06-20 05:48] gruenewa commented on #599
the _build/log is ...

[code]

[2018-06-20 11:10] diml commented on #599
@gruenewa could you run the last command in the log but passing `-verbose` to the compiler?

[2018-06-20 19:38] aantron opened #600 "Optimize Lwt_io.establish_server(_with_client_socket)"
Found by @bluddy in https://github.com/inhabitedtype/httpaf/pull/54#issuecomment-398740281:

This results in a huge latency improvement for the HTTP server benchmark being discussed in https://github.com/inhabitedtype/httpaf/pull/54#issuecomment-398740281; see surrounding comments for details. However, it also decreases throughput.

There may be some variant of this optimization that gives both lo

[2018-06-20 20:56] gruenewa commented on #599
Sorry, my mistake. After `jbuild clean` and another build again the log contains more lines:

[code]

[2018-06-20 21:01] gruenewa commented on #599
Running the last line with `-verbose`
[code]
[code]

[2018-06-21 08:39] diml commented on #599
Thanks, however it's really the call to ocamlmklib that I'm interested in :)

On my machine it produces the following output:

[code]

I'd like to see whether it calls `gcc -shared ...` in your environment.

[2018-06-21 08:41] diml commented on #599
Could you also post the output of `ocamlc -config`?

[2018-06-21 17:55] gruenewa commented on #599
If l call  `ocamlmklib -verbose` it prints to console:

[code]

[2018-06-21 18:03] gruenewa commented on #599
I am using ocamlc provided by `opam`:
[code]
`ocamlc -config` prints to console:

[code]

[2018-06-22 05:49] rgrinberg commented on #599
@diml looks like it passes `-static` everywhere.

I wonder what's the best way to support to this in jbuild. Clearly, we don't want people to change their build scripts to work in environments without shared objects - so the `no_dynlink` option isn't really feasible. On the other hand, it's a bit hard to discover that we're in such an environment.

[2018-06-22 08:45] avsm commented on #599
This would be a good usecase to support though, since it leads to completely statically linked binaries that have no shared dependencies (very useful for cloud-esk environments and out of CI/CD pipelines).  I don't have any good recommendations on how to detect a lack of shared libraries apart from a configure test to check the output of a known-good ocamlmklib though...

[2018-06-22 10:43] diml commented on #599
It seems that we can look in the Makefile.config installed by ocaml:

[code]

@gruenewa can you try this command as well to be sure the variable is set to `false`?

[2018-06-22 17:36] gruenewa commented on #599
Yes, the variable is set to `false` on my machine:

[code]

[2018-06-23 18:04] AkihiroSuda commented on #560
Could you release 4.0.2 with the new license?

[2018-06-23 18:55] aantron commented on #560
@AkihiroSuda Yes, will do so in the coming days. I guess it will be 4.1.0, because we added a few things.

[2018-06-27 21:29] aantron opened #601 "Tell libev to use kqueue by default on macOS"
On macOS, libev seems to default, too often, to `select(2)`. Given that a major reason for using libev in the first place is to avoid `select(2)`, we should have Lwt ask libev for its `kqueue` backend explicitly.

In other words, on macOS, `new Lwt_engine.libev ()` should default to `new Lwt_engine.(libev ~backend:Ev_backend.kqueue ())`. See [class `Lwt_engine.libev`](https://github.com/ocsigen/lw

[2018-06-27 21:31] aantron commented on #601
See also #269, in which @yallop added support for choosing the backend.

[2018-06-29 15:58] ivg commented on #458
It is not that `-'a u` is unsound, it the `waiter_of_wakener` which is unsound. Basically, a variance of a datatype is not affected by the way how it is used, only how it is constructed. Thus adding a new function may not change/invalidate the variance. But of course, `waiter_of_wakener` breaks the type system, as you've shown (you can even get a segfault, by passing `int` and waiting `float`).

[2018-06-29 16:11] aantron commented on #458
@ivg, perhaps I come from a slightly different background, where variance is determined by elimination forms, of which `waiter_of_wakener` is one.

With that perspective, the full statement is "`-'a u` is unsound in the presence of `waiter_of_wakener`," i.e. "removing `waiter_of_wakener` is enough to make `-'a u` sound," which is of course what was done (by deprecating it).

[2018-06-29 16:12] aantron commented on #458
And just to clarify, when either one of us says "`-'a u`" is unsound, we are not talking about the `'a u`, but about the `-` :)

[2018-06-29 16:59] ivg commented on #458
What is unsound in `waiter_of_wakener` is that it coerces `'a t` to `'a u`. Once they were separated for the purpose of ascribing them different variances, they shouldn't be unified back again, as it defeats the whole purpose of splitting a bivariant type into two parts, one contravariant and another covariant.

So `waiter_of_wakener` is unsound if we will treat `'a t` and `'a u` as types with dif

[2018-06-29 17:15] ivg commented on #458
To clarify, the type is defined by its definitions, thus the set of eliminators is fixed:
[code]

The idea was, that only the `'a u` (the wakener) should be used to modify the `state` field. Since a mutable cell has two eliminators: getter of type `'a cell -> 'a which is covariant, and setter `'a cell -> 'a -> _` which is covariant, together they form a bivariant type. However, we can split them i

[2018-06-29 17:55] aantron commented on #458
Normally, yes, but:

1. The `.ml` file is (and always was) rife with `Obj.magic` for multiple reasons, and the type actually declared in the `.ml` is actually invariant.
2. The type is abstract in the `.mli` file, so the set of eliminators from a user's point of view is the set of functions that can take a resolver. Since the `.ml` file is using `Obj.magic` anyway, and the type, as declared, is in

[2018-06-29 17:56] aantron commented on #458
...a.k.a. the typing connection between the constructors and basic operations in `lwt.ml`, and the surface functions exposed in `lwt.mli`, is broken. `lwt.mli` is the "lowest" surface to the declaration that we can actually use for reasoning.

[2018-07-02 23:29] ivg commented on #458
Yep. magic breaks everything, I agree. What I'm trying to say, is that it is not a variance of the type variable in `'a u` that is broken, but the function `waiter_of_wakener`. If we will remove the latter, we can actually keep the variance annotations, and benefit from it in the future, once the value restriction is relaxed to the point where covariant types could be also generalized. At that tim

[2018-07-10 12:07] aantron commented on #309
[Lwt 4.1.0](https://github.com/ocsigen/lwt/releases/tag/4.1.0) was released a few weeks ago. The main change was the switch to the MIT license.

See the [announcement on Discourse](https://discuss.ocaml.org/t/lwt-4-1-0-first-release-with-mit-license/2216).

[2018-07-23 14:36] lvicentesanchez commented on #599
I having the same problem on Arch Linux but using `musl-clang`, any ideas on how to make it work?

[2018-07-23 14:37] lvicentesanchez commented on #599
Actually... I'm having this problem with lwt 4.1.0

[2018-07-23 17:43] cfcs opened #603 "Lwt.async not demanding `unit Lwt.t`"
I just bumped into a [pretty annoying bug](https://github.com/pqwy/notty/issues/22#issuecomment-407131608)

The result was ignored, which meant the callback `f` was never applied.
It seems to me that this could be a pretty common source of bugs, and that the benefit over just explicitly having `>|= fun _ -> ()` at the end if you *really* don't care about the result would be minimal.

I realize tha

[2018-07-23 18:59] aantron commented on #603
Changing it to `(unit -> unit Lwt.t) -> unit` does seem like the wisest thing to do here, in addition to maybe some doc clarifications. Factoring out the `ignore` seems smart, and people can explicitly do `>|= ignore` at the end, as you suggest.

I'll let other people comment if they would like. I'll have to look through the public code depending on `Lwt.async` to estimate how much damage breaking

[2018-07-24 17:45] aantron commented on #599
@diml, @rgrinberg, sorry to harass. Perhaps a Dune issue should be created for this?

[2018-07-25 09:51] rgrinberg commented on #599
Yeah, this should be an issue I guess, but it's not really clear what's the best way to fix this yet. One thing that's clear is that the current way of doing things isn't going to work however. Making dune infer that .so targets are available by reading `ocamlc -config` isn't feasible. So we need something that's a little smarter. I have an idea for a better way to support this. I'll jot it down i

[2018-07-25 11:06] aantron commented on #599
Opened ocaml/dune#1051 for this.

[2018-07-25 15:51] aantron commented on #603
Ok, the number of occurrences of `Lwt.async` is too large to look into each one separately. I sampled a few. Many occurrences are already being given a `unit -> unit Lwt.t` function, but some aren't, so the latter will break.

I think the most time-efficient way to find out what breaks will be to do the 5.0.0 release with `unit Lwt.t`, and let the opam CI build the reverse dependencies. We can not

[2018-07-25 15:52] hannesm commented on #603
I fully appreciate this breaking change!  Thanks!

[2018-07-25 22:20] cfcs commented on #603
@aantron Thanks for looking into this!
If you have decided to go ahead with this, we could also try to upstream some `>|= ignore` patches, referencing this future change.

[2018-07-25 22:34] aantron commented on #603
Yep, I think we will do this.

I'm in favor of upstreaming patches, but it's labor-intensive to find out which libraries need them. Probably the easiest way is to run a script that will try to install packages depending on Lwt, and see which installs fail. I used to do this locally, but I think the cheapest way to do that now is by taking advantage of the revdeps build in opam's CI. So, I recommen

[2018-07-27 09:54] cfcs commented on #603
I think triggering a revdeps CI build sounds like a great idea; since the change should be "mostly backwards compatible" it could be a relatively small set of libraries that need to be changed, and it would be nice if could prevent breakage entirely. Would it be tricky to trigger such a build with *only* this change (ie not the whole `4.x -> 5.0` patchset)?

[2018-07-27 22:35] aantron commented on #603
Ok, I did it right away :) https://github.com/ocaml/opam-repository/pull/12409

[2018-07-28 01:07] aantron commented on #603
So far, the revdeps build has found breakage in:

[`tcpip`](https://ci.ocamllabs.io/log/saved/docker-run-c213f622168782a4accca538e8cb680c/252c79e984825b2d327f13e009580582a6cded40)
[`js_of_ocaml-lwt`](https://ci.ocamllabs.io/log/saved/docker-run-994f9b656fb2a27f8c0d8102e988759f/6e78df9f252615d8591fd98ac4e6d4caea0dd081)
[`devkit`](https://ci.ocamllabs.io/log/saved/docker-run-ee60068ffcc688d87ff9203e

[2018-08-01 14:47] aantron commented on #603
Thanks, it would be welcome :)

We can notify the maintainers as well, like normal. I just haven't done this yet. Wanted to get the list of packages, and ping maintainers later.

[2018-08-16 01:46] AvniFatehpuria commented on #583
I'd like to try fixing this issue!

[2018-08-16 03:16] aantron commented on #583
Great, thanks for taking a look! Feel free to ping if needed :)

[2018-08-17 17:40] AvniFatehpuria commented on #583
I tried compiliing and running the example broken code a few times and it always printed:
0.0
1.0
2.0
which is one of the correct options.
What could be going on?

[2018-08-17 21:36] aantron commented on #583
@AvniFatehpuria Thanks again for looking. Indeed, the posted program doesn't fail anymore. I modified it into this one, which does:

[code]

This prints

[code]

The difference is that this program's `on_success` callback is registered on `p` *after* `Lwt_react.E.limit`'s `on_success` callback. It seems #566 fixed the case where the program's callback is registered *first* as a side-effect, partia

[2018-08-20 13:55] Armael opened #604 "Lwt_sequence implementation question wrt active nodes"
This is not an issue per-se, but more a question I have regarding an implementation detail in `Lwt_sequence`.

In iteration functions (`iter_*`, `fold_*`), the code checks if the nodes are active before calling the function on them (e.g. [here](https://github.com/ocsigen/lwt/blob/master/src/core/lwt_sequence.ml#L128)).
However, unless I'm mistaking, it seems to me that nodes that are linked to the

[2018-08-20 14:50] aantron commented on #604
@Armael, this is out of my brain's cache ATM, but check out these discussions on the `active` field. They may help to answer your question:

- https://github.com/ocsigen/lwt/issues/405#issuecomment-308486923
- https://github.com/ocsigen/lwt/pull/542

If not, please ping here again, and I'll be happy to re-read the code, etc. :)

[2018-08-20 14:59] Armael commented on #604
Thanks for the pointers!
I think the discussion and the code in #542 answers the question: #542 removes a check that used to be in `length` -- hence, by the same reasoning, the checks in `iter_*` and `fold_*` can be removed.

[2018-08-20 14:59] Armael commented on #604
I'll submit a PR that does that, if you don't mind.

[2018-08-20 15:34] Armael commented on #604
Actually, these checks are really needed, as illustrated by e.g. the `foldr with multiple removal` test: arbitrary nodes can be removed while iterating, including the current one. This means the current node can become inactive, and linked to an inactive node. To continue iterating, we then need to follow inactive nodes until arriving to actives nodes (or the end).

Sorry for the confusion!

[2018-08-20 15:34] #604 closed

[2018-08-20 20:42] AvniFatehpuria commented on #583
I just made a PR! The behaviour now is that the limit's on_success calback only pushes an event after ensuring that no other `Lwt.is_sleeping` is false, i.e, no other event has been pushed in the meanwhile. Please let me know if anything needs to be changed!

[2018-08-20 22:07] aantron commented on #583
Thanks. For future readers, that was #606. I suggest checking whether `Lwt_react.S.limit` also has this bug.

[2018-08-20 22:12] AvniFatehpuria commented on #583
Checking now! Should I create a separate issue if it does?

[2018-08-20 22:13] aantron commented on #583
A separate PR for merging the code, yes, but not a separate issue :) We can re-use the convo in this one :)

[2018-08-20 22:17] AvniFatehpuria commented on #583
Got it, thanks.
I'm having a llittle trouble understanding how signals are used. Do you know where I can find some example code to reference?

[2018-08-20 22:34] AvniFatehpuria commented on #583
Thanks, @aantron! I think I get ihow t works now, writing some tests.

[2018-08-21 19:58] AvniFatehpuria commented on #583
what is the expected behavior of this code? For me, it prints 5 3 1:

[code]

[2018-08-21 22:15] fare opened #607 "Lwt_main.run should fail with prejudice if already running"
[Original issue title: *Lwt_mvar.take fails to be woken up by put*]

Using lwt 3.3.0 on ocaml 4.06.1 from opam, I have one thread that does:

[code]
while the other thread does:
[code]
and a third watching thread in a loop does:
[code]
The first (server) thread hangs after it prints its message.
The second (client) thread prints and queues three messages.
The third (watcher) thread tells me that t

[2018-08-21 23:26] aantron commented on #583
I would expect 4 2 1 in this case. I don't see where the 5 would come from, any chance you edited the code right before posting it?

[2018-08-21 23:28] aantron commented on #583
My bad, missed one call to `signal`. Would expect 4 3 2 1.

[2018-08-21 23:39] aantron commented on #607
Thanks for the report.

I think the first order of business is to reduce this code as much as possible to a minimal example, but given it is working in one context and not another, I suspect that won't necessarily reveal the problem.

I'll take a close look in some hours.

Is it necessary to queue three messages to observe the problem? What happens if only one message is queued?

Keep in mind that

[2018-08-21 23:47] fare commented on #607
Dear @aantron, thanks for the prompt reply!

I'm trying to reduce the context non-trivially without making the problem disappear, but so far without success. I also tried to get to link my application to a locally modified lwt, but so far only ended in opam dependency hell, with old opam 1.2.2 refusing to build old dependencies that use jbuilder or to build lwt from source, new opam 2.0.0rc4 faili

[2018-08-22 01:33] fare commented on #607
I just managed to compile with lwt 4.1.0 from source, and the problem is still here. But at least now I can modify the source to introspect the internals and see what's broken...

[2018-08-22 13:54] aantron commented on #607
Yes, that should be easy to do. It doesn't even need to be lock-protected, as `Lwt_main.run` is basically always called from the main thread. I'll open a new easy issue about it.

Thanks for debugging it and reporting what it was!

[2018-08-22 13:57] aantron commented on #607
Actually, can you check where the other `Lwt_main.run` call is being done?

If you were calling `Lwt_main.run` under a top-level `let _ =`, it seems to me the other `Lwt_main.run` must have already returned, so the two calls shouldn't be interfering with each other. I'm probably missing some detail on what is actually happening.

[2018-08-22 14:13] aantron commented on #599
This should be resolved in ocaml/dune#1165, presumably to be released soon, so closing the issue here. Thanks @diml and @rgrinberg for looking at it :)

[2018-08-22 14:13] #599 closed

[2018-08-22 14:41] fare commented on #607
I don't explicitly call `Lwt_main.run` either directly or indirectly, but I am using the ocsigenserver infrastructure that presumably does it on its own.

It shouldn't be too expensive to grab a lock around checking the "is it running?" flag, and failing with prejudice if it's running already. Maybe also add a label argument so we can provide `__LOC__` or some other arbitrary string to `Lwt_main.r

[2018-08-22 14:51] aantron commented on #607
@fare I am just not sure of the diagnosis, as if `Lwt_main.run` had been called somewhere, it would not have returned control to you to call `Lwt_main.run` at a top-level binding again.

Was your `let _ = Lwt_main.run ...` at (non-local) module level, or inside some expression?

[2018-08-22 15:26] bobbypriambodo commented on #607
@fare to try to clarify what @aantron is saying (as I understand it, sorry if this is already obvious to you), it should not be possible for two top-level `Lwt_main.run`s to be executed at a single point of time.

`Lwt_main.run` will block the calling thread until the promise passed to it is resolved, and in case of servers, it means it is never resolved (except maybe if there's unhandled exceptio

[2018-08-22 19:05] aantron commented on #583
@AvniFatehpuria The first call to `signal` occurs before any `push` (which should probably be named `set` for a signal).

So, it doesn't unblock any waiting updates in `limit`. There haven't been any updates yet.

[2018-08-22 21:38] fare commented on #607
My current understanding is that `ocsigenserver` had already started a `Lwt_main.run` loop before it was dynamically loading my code that itself included a `let _ = Lwt_main.run ...`.

What I would like is for `Lwt_main` to have a `runner_name : string option ref` itself protected by a mutex. When `run` is called with an additional optional parameter `?(name="(Lwt_main runner)")`, it grabs the mut

[2018-08-22 22:54] aantron commented on #607
Ah.

`Lwt_main.run` always runs in the main thread (or is supposed to). Was yours running in the main thread? This is why it shouldn't be necessary to use a mutex.

@Drup Do you know enough about ocsigenserver to comment on this dynamic loading?

[2018-08-22 23:07] fare commented on #607
There is a tiny cost to check for a mutex just at the beginning of `Lwt_main.run`, and it will literally save DAYS of debugging to your users. It certainly cost me and my coworkers more than a day of despair.

[2018-08-22 23:09] aantron commented on #607
We already agree on adding a *flag*. I am saying it doesn't need mutex protection, because `Lwt_main.run` should be running in the main thread in both your code and ocsigenserver.

Is that not the case? Can you confirm the two calls to `Lwt_main.run` are in different system threads? I suspect they are in the same thread, they are just nested.

[2018-08-22 23:31] kohlivarun5 commented on #432
I think I am seeing a similar issue with streams. Following is what I am looking:

[code]

That gives stack overflow on exit. I tried a few things to use the `protected` workaround but that doesn't seem to help.

Any comments on what is a workaround ?

[2018-08-22 23:38] aantron commented on #432
Thanks for reporting, I will take a look in detail tomorrow morning (~15 hours :/).

[2018-08-23 00:40] fare commented on #607
By definition, if someone gets it wrong, he may get it very wrong. There's also no cost to a mutex to protect that flag. You run get it twice every time you run `Lwt_main.run` and twice every time you use `Lwt_pervasives.run_in_main` — I don't see on what grounds you object to that mutex.

[2018-08-23 15:13] aantron commented on #607
I don't think we actually object to the mutex, we just wanted to figure out/understand what is really going on. We will add the flag with the mutex.

[2018-08-23 18:54] aantron commented on #432
Would you be willing to prepare a PR with this change?

I think the issue is not with cancelation, but that the execution order in your example creates a "tower" of `join`s in order to resolve the final promise of `iter_p`: the first element in the stream creates a `join` that is waiting on a `join` created for the second element, and so on, down the whole tail of the stream. Once the example does

[2018-08-23 20:17] kohlivarun5 commented on #432
Sure, I can definitely create a PR. Anything specific you looking for ? Or I can just change iter_p implementation to the one I put in there

[2018-08-23 20:28] aantron commented on #432
Yep, if you just PR your implementation, I'll be happy to merge it :)

[2018-08-23 21:54] aantron commented on #432
Thanks!

[2018-08-23 21:54] #432 closed

[2018-08-23 22:54] Drup commented on #607
@aantron No. You should ask @vasilisp

[2018-08-24 08:14] hannesm opened #610 "Metrics support"
What I'd like to collect from lwt, similar to [`stat` of OCaml's GC module](http://caml.inria.fr/pub/docs/manual-ocaml/libref/Gc.html#VALstat), is some statistics about Lwt tasks (number running, created, finished, waiting).  Is this possible at the moment (I failed to find an API for doing that)?
I've seen http://www.roscidus.com/blog/blog/2014/10/27/visualising-an-asynchronous-monad/ which is gr

[2018-08-24 19:54] aantron commented on #610
I don't believe there is such an API right now. We would, however, like to merge tracing (http://www.roscidus.com/blog/blog/2014/10/27/visualising-an-asynchronous-monad/) into the main Lwt repo (#180).

[2018-08-26 21:28] #540 closed

[2018-09-11 19:51] kohlivarun5 opened #620 "Clarify docs about `Lwt_throttle`"
Looking at `Lwt_throttle`, the interface talks about the fields in seconds:

https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_throttle.mli
[code]

But the implementation makes me think it is not counting seconds or time but just the number:

https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_throttle.ml
[code]

Want to clarify, is the `rate` limited and the `max` enforced by the number

[2018-09-11 21:10] #620 closed

[2018-09-11 21:10] aantron commented on #620
It looks like `rate` is per second, and `max` is indeed the number of pending promises. I rewrote the docs in the attached commit, in part to clarify this. Please send PRs to add any more clarifications :)

[2018-09-16 14:02] aantron commented on #599
Looks like the fix was just released as part of Dune 1.2.0. Thanks to the Dune team!

[2018-09-19 15:16] aantron opened #622 "Improve performance in CPU-bound programs"
Some CPU-bound Lwt programs call `Lwt.pause ()` a lot, in order to yield to any potential I/O that may be pending.

However, doing this results in Lwt calling `select`/`kevent`/`epoll` at the rate that `Lwt.pause ()` is called. This forces the Lwt user to worry about Lwt implementation details, and to think about how often they are calling `Lwt.pause ()`.

We should probably have Lwt adapt automat

[2018-09-20 18:10] cedlemo opened #623 "Bad link to lwt manual in the description of the github repository"
This is just a detail sorry, but the first link in the description header of the github repository point to a bad address:

[code]
it should be (I guess).

[code]

[2018-09-21 06:44] aantron commented on #623
Good catch, looks like the site structure changed. Updating the link.

[2018-09-21 06:44] #623 closed

[2018-09-30 16:26] cedlemo opened #625 "about Lwt_bytes.mincore usage"
I am not able to use correctly `Lwt_bytes.mincore`, here is what I have tried:

[code]
this code throws:

[code]

I looked at the [C code but it does not help much](https://github.com/ocsigen/lwt/blob/master/src/unix/unix_c/unix_mincore.c):

[code]

any hints?

[2018-09-30 23:16] aantron commented on #625
The test is probably failing this check:

https://github.com/ocsigen/lwt/blob/ac8f7b15733bd9e3992764736d8860ca6c9fa379/src/unix/lwt_bytes.ml#L243

which *may* be too aggressive, because it checks there must be a number of *full* pages equal to the length of `states` after `offset` in the mapped buffer. This means the smallest possible buffer for which `Lwt_bytes.mincore` would usefully work has le

[2018-10-01 16:19] cedlemo commented on #625
It works when I comment the last check, I prepare you a PR that modifies the check in `mincore`.

[2018-10-08 13:39] stedolan opened #626 "Bug in Lwt_react.with_finaliser under Flambda"
The implementation of Lwt_react.with_finaliser doesn't work under Flambda, since `ignore r` gets optimised away and allows the finaliser to run too early. Replacing `ignore r` with `ignore (Sys.opaque_identity r)` fixes this.

(This was reported to the OCaml bugtracker at https://caml.inria.fr/mantis/view.php?id=7861, see the discussion there for more details)

[2018-10-09 03:07] aantron commented on #626
Thanks!

[`Sys.opaque_identity`](https://caml.inria.fr/pub/docs/manual-ocaml/libref/Sys.html#VALopaque_identity) requires OCaml 4.03, but Lwt still supports OCaml 4.02. We may need to use cppo to get this fixed.

We probably need to:

1. Rename [`lwt_react.ml`](https://github.com/ocsigen/lwt/tree/master/src/react) to `lwt_react.cppo.ml`.
2. Modify the [Lwt_react `dune` file](https://github.com/ocs

[2018-10-13 14:35] cedlemo commented on #539
Now I will work on "sleeping and timeout".

[2018-10-13 15:02] #625 closed

[2018-10-14 01:37] aantron commented on #626
This was tentatively fixed in #629, thanks to @foocraft.

[2018-10-14 01:37] #626 closed

[2018-10-17 02:19] aantron opened #631 "Improve docs of Lwt_unix.auto_yield"
Right now, [they say](http://ocsigen.org/lwt/4.1.0/api/Lwt_unix#VALauto_yield):

which is pretty obscure.

[Here's a suggestion](https://github.com/ocsigen/lwt/pull/630#discussion_r225761693) for a clearer explanation:

The file to edit is [`Lwt_unix.cppo,mli`](https://github.com/ocsigen/lwt/blob/2b825c9c551025dd12656088c061a283ce710bb9/src/unix/lwt_unix.cppo.mli#L122-L124):

https://github.com/oc

[2018-10-22 14:37] aantron opened #632 "Catch duplicate test names in the test framework"
We should edit [one of these two functions](https://github.com/ocsigen/lwt/blob/ce0b32fb1180f2b0d454b78e2ad99d456c1f4ef9/test/test.ml#L85-L109) in the test framework so that it raises an exception if two [tests](https://github.com/ocsigen/lwt/blob/ce0b32fb1180f2b0d454b78e2ad99d456c1f4ef9/test/test.ml#L6-L10) in the same suite have the same test name. Not checking this has tripped up developers dur

[2018-10-22 20:19] cedlemo commented on #539
I continue with `Lwt_throttle`.

[2018-10-25 23:53] aantron commented on #626
The linked commits also fix the bug in `Lwt_react.S.with_finaliser` and add test cases.

[2018-11-05 22:35] bryphe commented on #574
@aantron , I think we're hitting a similiar issue in `esy` in this code path:
[code]
https://github.com/esy/esy/blob/571f1c28d15752ec960550abfd25eaa7b4ec8b80/esy-lib/Fs.ml#L14

The issue seems to be that `Lwt_io.read` eventually calls `Lwt_unix.openfile` with `O_NONBLOCK`. `Lwt_unix.openfile` calls `Unix.openfile` on Windows, which _ignores the `O_NONBLOCK` setting_ (as you mentioned, files can't

[2018-11-07 02:11] bryphe commented on #574
Ah ya, thanks for the details @aantron - you're right, given that, the issue we faced with esy/esy#539  does not seem to be the same issue here.  It sounds like in this case, too, the entire thread is blocked, which is not what we're experiencing here. We still haven't been able to show conclusively that `Lwt` is to blame at the moment either - I think what would useful for us to see in our repro

[2018-11-20 14:26] NathanReb opened #636 "Lwt_io.of_bytes + position don't work"
I you run the following in utop:
[code]
you get:
[code]
which obviously is a bug as you can't `set_position` on a negative value.

I'm not familiar with `Lwt`'s internals but had a look and it appears `of_bytes` behaves inconsistently with the broader `make`.
[Here](https://github.com/ocsigen/lwt/blob/master/src/unix/lwt_io.ml#L525), in make, `max` depends on the mode while [here](https://github.c

[2018-11-20 14:37] aantron commented on #636
Confirmed. The code in `lwt_io.ml` is definitely wrong. Not sure which is the most "right" way to fix it yet, but any reasonable fix is welcome :)

[2018-11-20 15:00] NathanReb commented on #636
Good! I'll give it a shot!

[2018-11-23 03:08] #636 closed

[2018-11-26 01:39] vincentdchan opened #638 "fork() crashes on macOS mojave"
I am working on macOS majave v10.14.1, after my program call fork(), the child process crashes with error:
[code]
I suppose it's related to some security issues occur in the new macOS versions. So I think lwt should support it.

[2018-11-26 13:36] aantron opened #639 "Upgrade opam files to opam 2 format"

[2018-11-30 08:10] aantron commented on #309
GitHub has recently added a Watch mode "Releases only," so it is recommended to select that from the "Watch" drop-down to follow Lwt releases.

Monitoring this issue for release notifications is deprecated in favor of watching for "Releases only."

[2018-12-01 02:35] vincentdchan commented on #638
Sorry, I have tried my best to minimize the program but it's still large: [lwt-fork-example](https://github.com/vincentdchan/lwt-fork-example).

Build and run the program:
[code]
when the server started, run the post script:
[code]

will trigger crashing, thank you.

[2018-12-01 02:36] vincentdchan commented on #638
Error message:
[code]

[2018-12-01 12:54] aantron commented on #638
@vincentdchan You should be able to make it smaller by putting all the code in one file, then removing as many unnecessary types as you can, etc. At the least, for an example trying to be minimal, it is very helpful to have all the code in one place (unless it is many thousands of lines).

[2018-12-02 17:14] kydos opened #641 "Lwt_unix dependenciess on Lwt_bytes"
Lwt_bytes has a dependencies on Lwt_unix due to the function send, recv, read, etc. As a consequence Lwt_bytes cannot be used with js_of_ocaml which is a unfortunate as it would provide a nice way for libraries currently using it to transparently leveraging typed arrays in JS.

Has removing the dependency from unix been considered in the next major release? We could potentially introduce a Lwt_byt

[2018-12-02 17:19] kydos opened #642 "Mvar read"
In my experience at times it is useful to access the content of an Mvar w/o taking it and letting other concurrent computation consume the value in the mvar. Today one is forced to do a take/put which works out, but perhaps the read operation could be implemented in a far more efficient manner.

[2018-12-02 17:30] hcarty commented on #642
So, I thought this had been discussed previously. And it was: https://github.com/ocsigen/lwt/issues/443

At the time, the consensus was that adding such a function would be a violation of an mvar's expected behavior.

[2018-12-02 17:34] kydos opened #643 "Lwt_mvar extended functions"
I would like to suggest the following addition to Lwt_mvar (where the type io should really be read as Lwt.t) :

[code]
A potential implementation is below:

[code]

[2018-12-02 19:43] aantron commented on #641
@kydos `Lwt_bytes` without I/O is essentially [`Bigarray.Array1`](https://caml.inria.fr/pub/docs/manual-ocaml/libref/Bigarray.Array1.html) from the standard library. Indeed, `Lwt_bytes.t` is [defined](https://ocsigen.org/lwt/3.2.1/api/Lwt_bytes#TYPEt) as

[code]

and the basic functions are defined mostly in terms of that module.

In light of that, is there a need for changing `Lwt_bytes`, or is t

[2018-12-02 19:48] aantron commented on #642
Perhaps we can add a `peek` function. The argument against it was that it breaks an assumption that only one reader ever "gets" any one value from an mvar. It would be nice to keep this. However, if the user of `Lwt_mvar` wants to break it, perhaps we should allow it. We can document this under `peek`, so that the user understands that without `peek`, `Lwt_mvar` provides stronger logical guarantee

[2018-12-02 19:56] aantron commented on #643
My first impression is that these functions are complicated enough, that many users wouldn't know what to do with them. This suggests that they might not belong in the library. Can you provide some motivating examples?

Also, note that mvars aren't acquired and released.

I believe the implementation of `guarded` doesn't type-check, as I think the result type will be `'b io io`. The fix is easy, I

[2018-12-02 22:11] kydos commented on #642
Let me share our use case to motivate some of the suggested changes. Imagine you have a protocol  router that has to dispatch incoming messages. Suppose that the design relies on an immutable state that is kept in a mvar. The forwarding of data-plane messages does not require any mutation thus it would be extremely useful to have a peek. However concurrent handling of control-plane messages order

[2018-12-03 20:47] aantron commented on #642
It's still a bit abstract, but I think I see what you mean.

Would you be willing to create a PR that adds a `Lwt_mvar.peek : 'a t -> 'a Lwt.t`? (Or do you want `'a t -> 'a option`? In that case, it should probably be `peek_available` to match the existing `take_available`).

I'll add docs about the property of `Lwt_mvar` that using `peek` "violates" to it afterwards :)

[2018-12-03 20:51] aantron commented on #642
Looking at it more deeply, however, I'm not certain about the semantics of `peek`. With `take`, one reader is awakened. How many readers should be awakened with `peek`? It seems like you would have to awaken readers until one of them does a `take`. However, what if all readers are using `peek`? What if one reader is doing `peek` in a loop? It may be possible that you need `Lwt_stream` instead of `

[2018-12-03 20:56] aantron commented on #643
I suggest to keep these functions in a module of your project for now. This is because...

- They seem quite specialized, empirically suggested by them not having been requested before (AFAIK).
- It seems that they can be implemented without access to the internals of `Lwt_mvar` (unlike #642).

We will keep this issue in mind, and if someone else requests these helpers, or something similar, we ca

[2018-12-03 21:34] kydos commented on #643
Sounds good @aantron

[2018-12-03 21:34] #643 closed

[2018-12-03 21:40] kydos commented on #642
@aantron, I think we should only provide a ```peek_available : 'a t -> 'a option``` as this solves the problem of waking up -- since peek_available never leads to sleep and makes the semantics a bit simpler to implement. When peek_available returns None then there are really two approaches, resorting to a take/put couple or busy waiting with a yield statement.  In any case having an extremely effi

[2018-12-03 22:02] aantron commented on #642
`peek_available` definitely suffers from less issues than `peek` :)

However, that we need to either busy-loop in case of `None`, or use a `take`/`put` pair suggests that there is no "good" interpretation of what to do in response to `None`; I couldn't easily come up with one either. Essentially, this treatment of `None` means that `peek_available` becomes `peek`, just the user has to implement th

[2018-12-03 22:09] kydos commented on #642
@aantron when I mentioned the busy-loop or the take/put thought that this is what the client code would if in case it would get a None. In any case the user of the Lwt_mvar is in a better position to know what would make the most sense.

I am familiar with Lwt_stream and it's bounded version. In fact one could indeed emulate the MVar with a bounded Lwt_stream of length 1. The peek problem would al

[2018-12-03 22:20] aantron commented on #642
My guess is that `React.S` will be the most "right."

The fundamental difference between `Lwt_mvar` and all these other options is that `Lwt_mvar` has a *queue* of readers, and wakes up readers *sequentially*, *one* at a time, one reader in response to one write.

By contrast, all the other synchronization primitives have a *list* of leaders, and wake *all* of them up *concurrently* in response to

[2018-12-04 10:44] kydos commented on #642
@aantron I just recalled that the bounded Lwt_stream fails the when a push is tried on a full stream on which a push is already pending. This is not very convenient in our case and, know that I gather my memories, is one of the main reasons why we had picked Lwt_mvar instead of streams.

For our use case having a peek_available that may returns None if there is nothing to peek and let the caller d

[2018-12-04 10:55] kydos commented on #641
@aantron for us it is simple to resolve this issue as we have a functor IOBuf that takes a backing-buffer module as parameter. Thus we can switch easily work around this. Yet, to me if looks a bit strange that a module that is called Lwt_bytes also provides I/O operations. Those seem to belong to Lwt_unix or perhaps to Lwt_bytes_unix or something like that.

[2018-12-04 11:10] aantron commented on #642
Ok, let's add it :) Would you be willing to create the PR, or I shall I do it?

[2018-12-04 11:34] aantron commented on #641
It is indeed a bit strange, and most libraries separate some data type from I/O operations that work with it. However, in the case of `Lwt_bytes`, if one separates the I/O operations, the remaining "pure" data type is actually mostly an alias of `Bigarray.Array1`, so I suspect this is why `Lwt_bytes` is "combined" the way it is. I guess there wasn't that much value seen in having a separate pure `

[2018-12-04 17:14] kydos commented on #641
@aantron agreed. I'll close the issue. Thanks for the discussion!

[2018-12-04 17:14] #641 closed

[2018-12-04 17:19] kydos commented on #642
@aantron happy to create the PR, but I've not looked yet at how this could be implemented in the Lwt_mvar implementations.  In any case it would be fun to learn more about Lwt's internal, thus I can try to come up with a proposal if you want. Please feel free to suggest were I should be looking if you already have an idea of how to implant this.

[2018-12-04 17:40] hcarty commented on #642
@kydos You can probably start from the [take_available definition](https://github.com/ocsigen/lwt/blob/693da9de6335f8222b573f1a6e8012a5b3e86f30/src/core/lwt_mvar.ml#L83-L89).  In fact, it may be enough to have the function directly return the current [mvar_contents](https://github.com/ocsigen/lwt/blob/693da9de6335f8222b573f1a6e8012a5b3e86f30/src/core/lwt_mvar.ml#L39) value.

It's definitely worth

[2018-12-04 18:57] aantron commented on #642
@kydos, the implementation is actually really simple. I think you can basically copy/paste `take_available`, which @hcarty linked to, and delete the call to `next_writer`. Should probably add [tests](https://github.com/ocsigen/lwt/blob/master/test/core/test_lwt_mvar.ml), to make sure we are not  overlooking anything.

[2018-12-04 21:10] kydos commented on #642
@aantron and @hcarty thanks very much for the suggestions. I'll try to get the PR done by this week. I'll also let you know what -- if any --  performance improvements we see on our  broker.

[2018-12-05 07:41] raphael-proust commented on #642
In order to have a `peek` function, we could also have two distinct `readers` set:
- the `readers` queue is left as is
- a `bystander_readers` list is added

When an element is read, all the bystanders are woken up with the value and then one of the readers is woken up. If we see mvars as way to manage ownership (one writer transfers to one reader), then the new set of observers receive borrowed v

[2018-12-05 09:49] aantron commented on #642
Nice, that's a good idea.

I'm still concerned, though, about what happens when one calls `borrow` in a loop while there is a value in the mvar, that remains.

Perhaps we need a `borrow`/`peek` but also a `borrow_next`/`peek_next` function, which always "blocks" until the *next* write, even if a value is already available?

In combination with `peek_available`, this would allow a peeking reader to

[2018-12-05 09:58] aantron commented on #642
I guess one issue with `peek_available`+`peek_next` is that there is a race condition, where if a reader does `peek_available`, then some Lwt I/O, and then should want to do a `peek_next`, a writer may already have written into the mvar in the interim. The reader has no way of knowing that the writer has done this, so if the reader does `peek_next`, it will skip the latest *new* value and wait unt

[2018-12-05 23:55] raphael-proust commented on #642
How about: `peek: 'a t -> 'a option * 'a Lwt.t` which does both `peek_available` and `peek_next` at the same time? It returns a value (if there is any) and a promise for the next write. Or `borrow: 'a t -> ('a, 'a Lwt.t) either` which returns either the immediate value (if any) or a promise (otherwise).

In both case, it should be able to stall a borrower loop. There might still be race conditions

[2018-12-06 00:05] raphael-proust commented on #642
Untested proof of concept https://github.com/raphael-proust/lwt/commit/ce85143cebf1ce023f1886502a637b5b3b1278d6

[2018-12-10 16:59] rneswold commented on #642
Does a `ref` handle this use-case?

[2018-12-10 17:57] vincentdchan commented on #638
@aantron Alright, I have put all the code into `main.ml`

[2018-12-11 00:56] raphael-proust commented on #642
The issue is if you want a peeker when accessing the value from a specific part of the code but you still want the writers/readers dances of an Mvar for other accesses.

If you want only peekers, then yes, a `ref` works.

[2018-12-11 16:43] madroach opened #644 "Add Lwt_unix.​IO_vectors.length"
Add ``Lwt_unix.​IO_vectors.length`` to calculate the length of the resulting write resp. available space for read.

[2018-12-14 13:40] aantron commented on #638
Some more suggestions on minimizing it:

- Remove the dependency on `Command`, and hardcode the exact path your program will take to the bug. It looks like this only concerns a `-verbose` flag, but it is still a source of obfuscation and potential confounding factors.
- Remove loading of the config, and hardcode the values that cause the bug to the greatest extent possible. This is for the same re

[2018-12-14 14:36] vincentdchan commented on #638
@aantron No offence. I appreciate your work. But if you have looked through the code, why can't you debug? The program crashes at line 140, and you can see the call stacks, that's not so hard.

[2018-12-14 15:05] aantron commented on #638
No problem.

The issues are that:

- The bug could be caused (1) by Lwt, (2) by another library you are using, (3) by a pathological interaction between Lwt and another library you are using, so both, and (4) by neither. So, it is helpful to reduce dependencies as much as possible. I would end up doing this work anyway as part of my debugging, but I will have to learn your code in order to delete

[2018-12-14 15:19] aantron commented on #638
Another thing I was going to suggest to remove next is the dependency on Core. Here's why this is easiest for you:

Why remove Core?

A big library like Core is "difficult" to analyze. It may perform side effects at startup (`let () = foo` at the top level of a module) that affect the behavior of `fork` somehow, or the process after `fork`. We basically want to not link these side effects into the

[2018-12-14 15:35] vincentdchan commented on #638
@aantron Well. I am convinced by you just now. I have minimize the code to 141 lines, just checkout the repo. Thanks for you patience. Excellent project for excellent developer!

[2018-12-14 15:37] aantron commented on #638
Thanks :) Could you give removing Core a shot? (I think we cross-posted). I think that would be one of the most informative things to do (whether the result is the bug is still there, or not).

[2018-12-14 15:40] vincentdchan commented on #638
It's done. I have submitted a commit.

[2018-12-14 15:48] aantron commented on #638
This looks like the last bit: https://github.com/vincentdchan/lwt-fork-example/blob/6e9fecfdf58cb6a64d55bc2960621d2fd388c45f/src/main.ml#L6

[2018-12-14 15:50] vincentdchan commented on #638
Yeah. I have removed Core and preserved Core_Kernel. I suppose they are different.

[2018-12-14 15:59] aantron commented on #638
Core_kernel is part of Core, it's the platform-independent part (IIRC) :) Core_kernel is itself a large package, so it would be helpful to remove it for the information that would yield.

[2018-12-14 16:02] aantron commented on #638
Also, I recommend removing all the (now) unnecessary dependencies from the [_tags file](https://github.com/vincentdchan/lwt-fork-example/blob/6e9fecfdf58cb6a64d55bc2960621d2fd388c45f/_tags#L1), just in case something is pulling in `-linkall` somehow. I believe that should be `core_kernel`, and maybe `ppx_let` if you are not still using it after removing usage of Command. It looks like you've alrea

[2018-12-25 11:00] raphael-proust commented on #642
@kydos Are the proposed changes ok for your use case? Basically it adds

[code]

One thing that would be needed before a merge is an explanation of what happens if you call `peek` again when the promise resolves. Specifically whether you can observe the same value again (current implementation) or not.

[2019-01-05 11:30] osener opened #647 "Future of js-promises branch"
I'm using Lwt in a project which uses Native OCaml compiler & BuckleScript together with some code sharing, and having a pretty good experience with the `js-promises` branch. Are there any plans to move BuckleScript support forward?

[2019-01-05 18:32] aantron commented on #647
@osener, the `js-promises` is based on JS promises in a naive way, the same way as `Js.Promise` from BuckleScript, and is susceptible to this problem: https://aantron.github.io/repromise/docs/DesignFAQ#why-are-js-promises-not-type-safe. I recommend using [Repromise](https://github.com/aantron/repromise) instead (which I think you are already trying), because it is meant to address that issue.

The

[2019-01-05 21:33] aantron commented on #647
That should be possible, too. It would still be missing some of the other Lwt features that `js-promises` is missing, like cancellation, but most of these are "discouraged" anyway.

[2019-01-05 21:34] aantron commented on #647
Note that some of the semantics of `js-promises` are different, both now, and if built (directly) over Repromise. For example, `js-promises` always defers callback calls to the next tick, while Lwt sometimes runs callbacks immediately.

[2019-01-05 23:06] osener commented on #647
Wouldn't expect to be otherwise, wrong word choice.

[2019-01-05 23:08] #647 closed

[2019-01-05 23:11] osener commented on #647
I'll give a repromise-based Lwt a chance when I have the time!

[2019-01-06 02:07] aantron commented on #647
Ok, great :)

[2019-01-08 22:52] aantron commented on #361
This seems good to me.

[2019-01-08 22:53] aantron commented on #361
We can later add a link to lwt-dllist in the `Lwt_sequence` deprecation message.

[2019-01-14 15:45] avsm commented on #361
Released Lwt_dllist as v1.0.0 at https://github.com/ocaml/opam-repository/pull/13262

Will start doing the trivial ports of existing uses of Lwt_sequence in Mirage to this.

[2019-01-27 09:13] ORESoftware opened #655 "Looking for showcase repo"
I assume LWT is good for writing HTTP servers.
Is there a Github repo I can clone that has an example server which uses LWT to process HTTP requests concurrently?

I am looking to clone an example repo and get started using LWT with a simple HTTP server..that would be awesome.

[2019-01-28 03:30] raphael-proust commented on #655
https://github.com/mirage/ocaml-cohttp is an http server that can be used either with Lwt or with Async. To that end, the core of the code uses an abstract IO layer which can be instantiated with either Lwt or Async. It makes it a bit complicated as a starting point, but it still provides good reading material if you start with the approximation that [https://github.com/mirage/ocaml-cohttp/blob/ma

[2019-01-29 20:35] #632 closed

[2019-02-03 08:49] aantron commented on #655
There are also examples in the httpaf repo, in particular this HTTP echo server: https://github.com/inhabitedtype/httpaf/blob/8a8cae44d978a121427eed9cfc09e234639bd605/examples/lwt/lwt_echo_server.ml.

[2019-02-03 08:49] #655 closed

[2019-02-07 09:57] toolslive commented on #361
What's the plan for:
[code]
?

I do need a way to deplete/process the exit hooks, but I honestly don't care about the data structure that contains them.

[2019-02-07 17:48] aantron commented on #361
We need to add accessor-style functions for adding and removing hooks. Adding a hook will return an object of some abstract type, that can later be used to remove that hook.

We'll keep `exit_hooks` itself around in the API for long after we add these functions, however, so there should be no need to worry about this going away suddenly.

[2019-02-08 08:24] toolslive commented on #361
No worries, but a deprecation warning usually means : "we now have a better way of doing this, and the API you're using will eventually go away.". Alas, here there is no alternative yet, so there's no way to clean up the warning.

[2019-02-11 15:29] anmonteiro opened #658 "4.08 compilation errors"
I was trying out the 4.08+beta1 release today and ran into the following errors trying to compile Lwt:

[code]

[2019-02-11 15:33] anmonteiro commented on #658
This failure is related to https://github.com/ocaml/ocaml/pull/1685

[2019-02-12 18:00] c-cube commented on #250
@kydos I updated [lwt-pipe](https://github.com/c-cube/lwt-pipe) recently and changed some internals (along with a user contributing `read_with_timeout`). Would you be interested in taking another look? :)

[2019-02-13 16:42] kydos commented on #250
@c-cube I'll run the test and will let you know what I get.

A+

[2019-02-14 16:17] aantron commented on #658
The current status is:

- We already depend on `bigarray`. I opened https://github.com/ocaml/dune/issues/1845 about why that is not working.
- I fixed some new warnings. See the attached commit.
- The PPX and Lwt development depend on ocaml-migrate-parsetree, which needs to be updated. See https://github.com/ocaml-ppx/ocaml-migrate-parsetree/issues/50.
- Lwt_react indirectly depends on Ocamlbuild,

[2019-02-15 17:42] #639 closed

[2019-02-15 17:47] aantron opened #662 "Remove conflict with old versions of ocamlfind from lwt.opam"
Namely,

https://github.com/ocsigen/lwt/blob/a66ac8ad02ac9d6ba4e1bdea8096ab0bab706d47/lwt.opam#L40-L43

Released Lwt doesn't use ocamlfind. This conflict is for the benefit of packages that link with Lwt using ocamlfind.

The conflict should be added as a contraint on those packages instead.

[2019-02-15 23:01] #662 closed

[2019-02-17 12:40] krwesterback opened #663 "OpenBSD -current has removed mincore syscall -- lwt no longer builds"
To quote from the OpenBSD commit message:

"mincore() is a relic from the past, exposing physical machine information about shared resources which no program should see."

As a result lwt no longer builds on OpenBSD -current, and thus the upcoming 6.5.

I don't see any use of mincore(), so perhaps it is just included in unix stubs in pursuit of
completeness. I doubt if OpenBSD will be the last OS

[2019-02-17 13:51] aantron commented on #663
@krwesterback Expanding this check should indeed be sufficient. If you could try it and submit a PR, it would be appreciated, as most of us don't have immediate access to an OpenBSD machine, though we could, of course, set it up if necessary :)

If you can check for the OpenBSD version, I think that would be best. That might make the whole check slightly complicated. You may have to resort to some

[2019-02-18 16:33] aantron commented on #658
The Bigarray issue is now tracked in https://github.com/ocaml/ocaml/pull/2256.

[2019-02-19 08:27] rom38 opened #664 "Error on dynamically loaded library: dlllwt_unix_stubs.so"
Than i try install utop on android termux. I get the following:

[code]

[code]

[code]
[code]

In linux ubuntu 18.06 and in windows 7 cygwin all OK

When I do simple thing, I get following:

[code]

[code]

[code]

Looking at the Lwt code, there indeed seems to be an inconsistency between the `.c` and `.h` files regarding `socket_type_table` and `defined(LWT_ON_WINDOWS)` in file ```src/unix/lwt_u

[2019-02-19 17:30] aantron opened #665 "Release Lwt 3.3.1 to make Lwt 3.x compatible with Dune 1.7"
See https://github.com/ocaml/dune/issues/1847.

[2019-02-19 19:16] aantron commented on #664
Try creating this file, `has_sockets.c`:

[code]

then

[code]

What output does it print?

[2019-02-19 23:25] rom38 commented on #664
Thanks for help. I think this problem is related with

https://github.com/android-ndk/ndk/issues/201

and

https://github.com/coq/coq/pull/6020

and need some changes in make files

[2019-02-20 03:09] rom38 commented on #664
[code]

[2019-02-20 04:28] rom38 commented on #664
[code]

[2019-02-20 17:58] aantron commented on #664
What about this?

[code]

then

[code]

Making sure this is on termux, of course.

[2019-02-20 17:59] aantron commented on #664
And please let me know if you are making progress using the other issues or not.

[2019-02-20 18:58] andreas opened #666 "Lwt_main.run hanging (threads and integration with external event loop)"
I'm working on OCaml client bindings for [FoundationDB](http://foundationdb.org/), [`ocaml-fdb`](https://github.com/andreas/ocaml-fdb). As detailed below, I've run into a case where `Lwt_main.run` hangs, presumably due to some bad interaction Lwt, threads and `libfdb`. I haven't been able to pinpoint the issue, and it might not even be a bug in Lwt, but about the my assumptions on Lwt and threads.

[2019-02-20 20:45] cfcs commented on #603
Fixed in `notty` as of https://github.com/pqwy/notty/commit/132358915fe18cc97cf5f06764c60eab2130bf03

[2019-02-21 00:32] aantron commented on #603
Thanks!

[2019-02-21 00:52] raphael-proust commented on #666
I don't know exactly what's happening in your case, but here are a few things to consider.

- `Lwt` provides its own `at_exit` in the `Lwt_main` module. I don't know if it'd fix your specific problem because I don't understand exactly what it is doing. Note that it was introduced to fix a dead-lock so maybe it's useful.

- `Lwt` lets you make custom engines. This might be a cleaner approach to bin

[2019-02-21 01:12] aantron commented on #666
I'd need instructions for setting up the code to debug this and say what is really happening. However, some general notes follow:

They should be equivalent, unless you are using extra functions from `Lwt_preemptive`. I suggest to use `Thread`, however, since you don't need to represent the event loop thread as a promise.

`p` can't use an event loop, it's a promise, so roughly an

[code]

i.e. an

[2019-02-21 01:24] aantron commented on #666
IIRC Lwt uses something similar to this pipe internally for the same purpose, for notifying the main thread when events occur, in case those events aren't tied to a timeout or to an fd that is passed to `select`. An example would be running `stat` in a worker thread. There is no way to directly connect this `stat` or the worker thread to the `select` that is called by `Lwt_main.run` and blocking t

[2019-02-21 02:33] krwesterback commented on #663
Pin'ing lwt 4.1.0 and expanding the #ifdef in unix_mincore.c with

 #ifdef __CYGWIN__
 LWT_NOT_AVAILABLE4(unix_mincore)
+#elif defined __OpenBSD__
+LWT_NOT_AVAILABLE4(unix_mincore)
 #else

allows lwt to compile. But, no matter how much I hack at every copy of unix_mincore.c (and there seem to be many in ~/.opam) things that use lwt (e.g. lambda-term) won't build because they insist unix_mincore.c

[2019-02-21 05:04] aantron commented on #663
This looks like a problem with how you're editing Lwt. If your patch had been picked up in your opam switch, the line number would have been 35 (I believe), not 33. What commands are you using to install the patched Lwt?

It should be something like

[code]

This gets you the source of Lwt `master`, not 4.1.0. The PR should be against `master` anyway, and no breaking changes have been applied sinc

[2019-02-21 05:05] aantron commented on #663
You shouldn't have to directly edit anything in `.opam`, by the way.

[2019-02-21 10:25] andreas commented on #666
@aantron, thanks a lot for the quick and detailed response! 💯

I guess what I was trying to was is that resolving `p` depends on the FDB event loop, i.e. happens in a FDB callback.

I'll construct and share a minimal, but complete reproduction example. I tried to omit unnecessary detail, but it's always a balance 😄

Given that `1` is being printed on stdout in the given example, it seems to me tha

[2019-02-21 10:42] andreas commented on #666
Here's a gist with a quite small repro case:

https://gist.github.com/andreas/f8c5eeb278d866e528f1b261c84eb535

To run this, you need to download and install `libfdb`: https://www.foundationdb.org/download/

For convenience:

[code]

When running the above on my machine, I get the following output:

[code]

[2019-02-21 13:46] rom38 commented on #664
[code]

[2019-02-21 14:17] aantron commented on #666
Try using [`Lwt.poll`](https://github.com/ocsigen/lwt/blob/2fbc9982d05470e3c4905aaad8d984258ec88be4/src/core/lwt.mli#L1840) or [`Lwt.on_success`](https://github.com/ocsigen/lwt/blob/2fbc9982d05470e3c4905aaad8d984258ec88be4/src/core/lwt.mli#L1189) to examine the true state of `p`. `on_success` will tell you if callbacks are also called.

Also, I suggest pinning Lwt and inserting a print before this

[2019-02-21 14:18] krwesterback commented on #663
Bingo! Following your steps lets lwt and lambda-term build without complaint.

What I did was follow the steps I spotted in the opam manual,

opam source <package> --dev-repo --pin
cd <package>; hack hack hack;
opam upgrade .

Although looking at it now, I suspect I was *not* including that "." in the opam upgrade statement.

I was aware that changing files inside .opam is not the way to go. I was

[2019-02-21 14:26] aantron commented on #663
Great :)

The only thing I'd ask, is that in the PR, instead of only

[code]

for the check, we have the condition check for `OpenBSD` *and* that the version is at least whatever version will remove `mincore`. We don't want to break Lwt's `mincore` on existing versions of OpenBSD, where it was working, and someone may actually be using it (however unlikely).

Could you also provide a link to the O

[2019-02-21 15:22] krwesterback commented on #663
I will look into the version question as I investigate PR creation. It is likely to be complicated by the fact that the change takes place in -current and not yet in a release.

I will include a link.

I would also argue that mincore() has been determined to be a security problem with no counterbalancing advantage, and the OpenBSD community would probably prefer (or at least not be upset) that it

[2019-02-21 16:12] aantron commented on #663
Thanks.

This should remain between the OpenBSD developers and the OpenBSD users. Lwt shouldn't implicitly insert its own judgment here by eagerly disallowing it, especially if that would be a breaking change.

[2019-02-21 17:47] brendanlong opened #667 "Include Let_syntax module for ppx_let"
I'm trying to convert some code from Async to Lwt and it would be convenient if I could easily keep using ppx_let. ppx_let is nice because it works with other monad modules, and has syntax for both `map` and `bind`.

I could add the module myself but it gets messy.

I think all you need to do is add this module somewhere to `Lwt.Infix`:

[code]

(Ideally `Lwt.both` would exist too and then this co

[2019-02-21 19:29] andreas commented on #666
I pinned Lwt and inserted print statements as suggested. The output indicated that Lwt is blocked on this line: https://github.com/ocsigen/lwt/blob/2fbc9982d05470e3c4905aaad8d984258ec88be4/src/unix/lwt_main.ml#L33

The expression `Lwt.paused_count () = 0 && Lwt_sequence.is_empty yielded` is `true`, which fits the picture that `Lwt_engine.iter` ends up blocking the thread.

Inspecting the promise `

[2019-02-21 19:35] aantron commented on #667
This seems like a good idea.

If we add this to `Lwt.Infix`, is it correct that it will be used as:

[code]

Since `Lwt.Infix` will be already open to bring `Lwt.Infix.Let_syntax` into scope, do we still need the line

[code]

?

[2019-02-21 19:39] Drup commented on #667
Note that the need for ppx_let will be greatly reduced starting next version, with let operators.

On the other hand, with let operators, we will implement something that look exactly like that module *anyway*, so ...

[2019-02-21 19:41] brendanlong commented on #667
Yeah, it should make ppx_let just automatically work if `Lwt.Infix` is open.

I think you're right that Open_on_rhs isn't necessary. I'm slightly confused about what that piece of the definition is for, but I think you're fine without it.

[2019-02-21 19:47] aantron commented on #667
@brendanlong would you be willing to make a quick PR for this that suits your needs? I'll be happy to review, test, and merge it.

[2019-02-22 19:20] aantron commented on #666
That sounds reasonable, and the notifications APIs should work if the problem is what I/we think it is (right now).

[2019-02-22 22:26] brendanlong commented on #667
@aantron I created #668 for this. Let me know if I didn't approach this right or something.

[2019-02-23 14:38] #663 closed

[2019-02-24 13:51] andreas commented on #666
I implemented the suggested fix and saw some progress, but then another hang appeared. As such, I wasn't sure whether using notifications had really helped or not. It turns out the new hang is due to something else (more at the bottom). In case it's helpful to anyone else, the new code looks something like this (simplified, again):

[code]

Thanks a lot for you help, @aantron!!

(I think the new h

[2019-02-24 13:51] #666 closed

[2019-02-24 19:12] aantron commented on #666
Great :)

The only notes I have are:

1. I imagined multiplexing all the completions into one notification, and using a queue of some kind. That would probably require more code from you, but I'm not sure if it has any other implications, such as improved performance. Not saying you should do this, just something to consider.
2. I didn't look at the deadlock issue in detail, but it seems like you

[2019-02-24 20:37] andreas commented on #666
Ah, I see -- I'll give that approach a try.

Oh man... I feel stupid that the solution was so simple and right in front of me. It works! Now I owe you two beers! 😉💯

[2019-02-25 13:43] aantron commented on #658
We'll fix the Bigarray issue using conditional compilation. Still waiting on OMP.

[2019-02-26 17:06] ryanslade opened #670 "High memory usage when using Lwt_unix.with_timeout"
I've noticed that when using `Lwt_unix.with_timeout` I see a massive increase in the amount of memory used by my program. My assumption is that the timeout promises are not being cancelled properly.

I'm using Lwt version 4.1.0

The issue can be reproduced in the following way:

Start a nc session using `nc -l 8080`

Run the following program

[code]

Notice that the amount of memory used by the p

[2019-02-26 23:31] aantron commented on #670
It's possible that the timeout promises are being canceled, just a garbage collection cycle hasn't yet occurred. What happens if you insert a call to `Gc.full_major ()` every N iterations for some N?

[2019-02-26 23:42] aantron commented on #670
Confirmed. Inserting `Gc.full_major` fixed the problem here. So, the promises are indeed being canceled, but the program allocates a very large number of them, and they are not being deallocated because the program does not need to reclaim the memory yet.

I recommend either manually inserting a `Gc.full_major` call every N iterations, or wrapping much larger operations (sequences of them) in `Lwt

[2019-02-27 08:21] ryanslade commented on #670
I tried inserting `Gc.full_major ()` every 100,000 iterations and all it did was slow down the program but memory usage continued to grow (at a slower rate).

I grabbed `Gc.counters` before and after each GC run and this is what I saw:
[code]

[2019-02-27 15:49] db4 opened #671 "read_int incorrectly reads (-1)"
This function

https://github.com/ocsigen/lwt/blob/d791b9bd3e0ec3035796122e002d9e85408304d0/src/unix/lwt_io.ml#L1058-L1069

reads `-1` as `-2` in 32-bit OCaml distribution. Isn't it a bug?

[2019-02-27 22:13] hcarty commented on #570
I ran into this recently.  I wonder if it would be reasonable to make `flags` a required argument in a future, major release.  That way the user is forced to decide which behavior they want.

[2019-02-28 02:07] aantron commented on #570
I just searched packages that depend on Lwt in opam. At least the following packages would be affected by making this change: `biocaml`, `cohttp`, `csv`, `csvprovider`, `dns-forward`, `flow`, `future`, `imap`, `imaplet-lwt`, `lambda-term`, `markup`, `mechaml`, `message-switch`, `mirror`, `plotkicadsch`, `pvem_lwt_unix`.

I'm not certain if its worth doing, but I would like to do it.

[2019-02-28 02:24] aantron commented on #671
Yes. On a 32-bit platform, `Sys.int_size` is 31.  The result of `n lsl m` is "unspecified," since m > 31 here (https://caml.inria.fr/pub/docs/manual-ocaml/libref/Pervasives.html#VAL(lsl)). It happens that `1 lsl 32` is `1`, hence the result.

[2019-02-28 04:44] db4 commented on #671
Why not just use OCaml compiler approach:
[code]

[2019-02-28 15:59] aantron commented on #665
Not doing this for now. See https://github.com/ocaml/dune/issues/1847#issuecomment-466597760.

[2019-02-28 15:59] #665 closed

[2019-03-03 00:41] aantron commented on #658
The fix for the Bigarray issue now depends on a release of [mirage/mmap](https://github.com/mirage/mmap).

[2019-03-03 04:29] #671 closed

[2019-03-03 04:31] aantron commented on #671
Thanks. I adapted this code, and the bug should be fixed by the attached commit.

We are waiting on #658 (4.08 compatibility) for a release. In the meantime, would you mind testing whether Lwt `master` works for you? You should be able to install it with

[code]

[2019-03-04 08:19] db4 commented on #671
@aantron Dev lwt doesn't compile in my environment:
[code]
BTW, It would be great if you apply the following small fix needed for the recent Microsoft compilers:
[code]

[2019-03-06 16:55] aantron commented on #671
Thanks for all that info, @db4! I committed what I think is a fix for the S-expression problem, and also applied your patch (I double-checked `-Fo:` is valid for MSVC all the way back to VS2005). See the commits linked above. Could you try Lwt `master` again?

[2019-03-06 17:28] aantron commented on #670
It looks like you may instead need to insert a call to `Lwt.pause ()` (with a bind on its result) every N iterations. That seems to have solved it for me.

Here is a description of what is (most likely) happening:

1. When Lwt is asked to do a `write`, it first tries to do the `write` immediately. If that succeeds, the `write` promise is resolved, and its callbacks are called immediately. If the `

[2019-03-06 17:31] aantron commented on #670
I think the reason I "saw" `Gc.full_major` "solve" the problem before is that I was doing collections too frequently (N too small), so that the program was running slowly enough to hide the heap growth.

[2019-03-07 12:13] db4 commented on #671
@aantron Lwt `master` works for me. Thanks a lot!

[2019-03-07 15:25] ryanslade commented on #670
Thanks for your detailed response, appreciate it.

I can confirm that this has indeed fixed the issue in the example program above.

Unfortunately it doesn't seem to have fixed the issue I'm seeing in my "real world" program so I'll need to try and find another example that more clearly reproduces the issue. Strangely in my program I'm seeing a positive correlation between the timeout value I use

[2019-03-15 02:56] anuragsoni commented on #539
@aantron i've added some tests for unix `Users`

[2019-03-19 17:31] Lupus opened #674 "Is ;%lwt deprecated?"
Docs on 3.x PPX include [Sequence](https://ocsigen.org/lwt/3.3.0/api/Ppx_lwt#2_Sequence) section which describes `;%lwt`. It also includes information about the now deprecated `>>` operator.

In ReasonML syntax `;%lwt` should look like the following:
[code]

I'm trying to understand if `;%lwt` is also deprecated. It seems to work with the following code:

[code]

But a bunch of warnings appear whi

[2019-03-19 19:35] hcarty commented on #674
Reason doesn't have proper `;%lwt` support in its parser, so it ends up mis-applied to the surrounding code.  So while `;%lwt` works properly in OCaml code, it doesn't do what you'd expect in Reason.

[2019-03-19 21:45] Lupus commented on #674
Is there an issue somewhere in reason repo for that? If not, probably it makes sense to file one. Code block with `%lwt { ... }` seems to work as expected, aside of warnings.

[2019-03-19 21:56] hcarty commented on #674
I thought that there was an issue for it somewhere but I haven't found it with a few quick searches.  It's probably worth creating a new one!

Just FYI, `%{ ... }` doesn't do the same thing.  For example:
[code]
`Hello` and `world` will be printed immediately, rather than having a one second delay between them.  Compare that with the working OCaml version which will print `Hello`, sleep for one se

[2019-03-19 22:02] Lupus commented on #674
Cool, thanks for details! Do you mind if I cross post your explanation into the issue (I'll make one tomorrow)?

[2019-03-19 22:05] hcarty commented on #674
You're very welcome, and I don't mind at all!

[2019-03-19 22:30] aantron opened #675 "Release 4.2.0 around 25 March 2019"

[2019-03-19 22:37] aantron commented on #658
The Bigarray issue is now resolved by the new `mmap` compatibility package. See the commit linked above.

At this point, it's possible to release the main package `lwt`, which I will do soon (#675). It's the only package that needs to be updated for 4.08, anyway.

`lwt_ppx` is still not working on 4.08 due to `ocaml-migrate-parsetree` not being available.

Lwt development on 4.08 is also still ann

[2019-03-20 16:15] #674 closed

[2019-03-21 17:32] aantron opened #676 "Fix some of the new user and group tests on WSL"
Due to:

[code]

We may want to add a WSL-detection function to `Lwt_sys`.

See #673.

[2019-03-21 22:18] #667 closed

[2019-03-21 22:19] aantron commented on #325
`<&>` has just been added under the name `Lwt.both` in #668 . See https://github.com/ocsigen/lwt/pull/668#issuecomment-475424431.

[2019-03-21 22:28] aantron opened #677 "Add ppx_let integration test to run in Travis"
Testing Lwt with ppx_let is probably not suitable for ordinary unit tests, because it will greatly bloat the dependencies for ordinary development. We should, however, test that the new `Lwt.Infix.Let_syntax` module works correctly with ppx_let in an optional additional test suite, which can run in Travis.

EDIT: follow-on to #668.

[2019-03-21 22:36] yallop commented on #325
Thanks, @aantron!

[2019-03-21 22:40] aantron commented on #325
We can also add the actual `<&&>` operator, if there is still demand for it, or when there is again. As for `<??>`, I think we need a good choice of an `either` type. I think the constructors of `result` are too opinionated in naming. Perhaps `` [ `Left of 'a | `Right of 'b ] `` would work. Again, though, if there is no immediate demand for it at this point, I'd like to just leave this as a note f

[2019-03-21 22:54] Drup commented on #325
I don't think having the `either` version is useful. You almost never actually want to use either: a specific datatype is almost always better, and once you have the appropriate constructor, you can just do
[code]
which is much better.

[2019-03-21 23:11] aantron commented on #325
I agree with that. E.g., when considering the `either` type, I was wondering about choosing `` [ `Left | `Right ] `` forcing extra allocations and syntax from mapping if one actually *does* want `result`.

If we all agree on this, I suggest to close this issue. Now that `both` exists, we can add `<&&>` in a quick PR on demand at any time.

[2019-03-21 23:12] yallop commented on #325
Closing this is fine with me.

[2019-03-21 23:14] #325 closed

[2019-03-24 03:17] #677 closed

[2019-03-26 01:55] aantron commented on #658
Lwt 4.2.0 is compatible with 4.08 and is now installable from opam, so I'm closing this issue. Thanks for reporting!

The PPX and Lwt development still don't work on 4.08, but this is tracked in ocaml-ppx/ocaml-migrate-parsetree#50.

[2019-03-26 01:55] #658 closed

[2019-03-26 01:56] aantron commented on #675
Done in ocaml/opam-repository#13743. Changelog is here: https://github.com/ocsigen/lwt/releases/tag/4.2.0.

[2019-03-26 01:56] #675 closed

[2019-03-27 01:48] anmonteiro opened #680 "Add esy + libev to the CI build matrix"
Would make catching regressions like #679 easily

[2019-03-27 01:49] aantron commented on #680
Thanks! (prompted by #679)

[2019-03-27 01:56] aantron opened #681 "Try out CircleCI"
Suggested by @anmonteiro. Link for an OCaml config example: https://github.com/facebook/reason/blob/master/.circleci/config.yml

[2019-03-27 02:41] anuragsoni commented on #676
I didn't think about WSL when adding these tests! Is checking for `Microsoft` in `/proc/version` the recommended way to detect WSL?

[2019-03-27 05:19] aantron commented on #676
I didn't either, even though I'm on WSL :) I think a check like that is what's needed, but I can take care of it here, since I'm on the system, unless you really would like to :)

I don't think this issue is affecting anyone besides me right now, so no rush.

[2019-03-27 05:20] aantron commented on #676
Also, rather than a check, we might just need a slightly different sequence of calls that works on WSL, Ubuntu, and macOS.

[2019-03-27 13:28] anuragsoni commented on #676
Since i don't have Windows I wouldn't be able to test my changes. Not sure if there is a CI platform that can test things on WSL. On a related note, i'll try and find some documentation about what are the gaps in the implementation on WSL when compared to a regular linux distribution. Also the link for apple's documentation in #539 seems broken. Not sure what is their more current documentation re

[2019-03-30 05:56] aantron commented on #676
It looks like Apple made their man pages difficult to find online. I edited a note into #539 about that. Thanks for telling.

[2019-04-03 06:56] aantron opened #682 "Debug AppVeyor build"

[2019-04-03 07:16] aantron commented on #681
Looks like CircleCI requires payment for macOS builds, so we'll stick with Travis for now.

[2019-04-03 07:16] #681 closed

[2019-04-03 08:37] #682 closed

[2019-04-03 08:42] aantron opened #683 "utimes now raises EUNKNOWNERR instead of ENOENT on missing file on Win32"
See https://ci.appveyor.com/project/aantron/lwt/builds/23560442#L309. The test was temporarily patched here:

https://github.com/ocsigen/lwt/blob/5446d81fa1000317818346d230eb5ece4e78c962/test/unix/test_lwt_unix.cppo.ml#L86

This should be undone.

[2019-04-03 08:44] aantron opened #684 "Lwt_bytes.map_file now raising "not supported" on Win32"
See https://ci.appveyor.com/project/aantron/lwt/builds/23560678#L471. The corresponding test was skipped here:

https://github.com/ocsigen/lwt/blob/5446d81fa1000317818346d230eb5ece4e78c962/test/unix/test_lwt_bytes.ml#L720

This should be undone.

[2019-04-03 08:48] aantron commented on #670
Going to close this until further info, please reopen if you are able to pinpoint this more closely :)

[2019-04-03 08:48] #670 closed

[2019-04-03 08:49] aantron commented on #664
Closing for now; please reopen if there is more information.

[2019-04-03 08:49] #664 closed

[2019-04-03 08:50] aantron commented on #638
Closing; please reopen if you've been able to narrow this further.

[2019-04-03 08:50] #638 closed

[2019-04-03 08:51] aantron commented on #610
Closing in favor of #180 for now.

[2019-04-03 08:51] #610 closed

[2019-04-03 09:00] aantron commented on #573
This was also noted in https://github.com/ocsigen/lwt/issues/361#issuecomment-461354553 (after this issue was opened), and non-`Lwt_sequence`-based APIs were added in #660, which was [released](https://github.com/ocsigen/lwt/tree/4.2.0) as part of Lwt 4.2.0. The new API is:

https://github.com/ocsigen/lwt/blob/e78f955574a136fea7659369560372c74f24f1e6/src/unix/lwt_main.mli#L49-L91

[2019-04-03 09:00] #573 closed

[2019-04-03 09:03] aantron opened #685 "Post 4.2.0 docs on ocsigen.org, and update dev docs"

[2019-04-03 09:04] aantron commented on #576
This has indeed been fixed.

[2019-04-03 09:04] #576 closed

[2019-04-03 09:22] aantron opened #686 "Clear Travis cache and try testing on 4.08 with OMP 1.3.0"

[2019-04-03 10:32] aantron commented on #658
Development on 4.08 now blocked on ppx_tools_versioned:

- [ ] https://github.com/ocaml-ppx/ppx_tools_versioned/pull/15
- [ ] https://github.com/ocaml-ppx/ocaml-migrate-parsetree/issues/50#issuecomment-479431592

[2019-04-03 12:23] aantron commented on #684
This is a problem with the [`mirage/mmap`](https://github.com/mirage/mmap) compatibility shim, because `Unix.map_file` [works](https://ci.appveyor.com/project/aantron/lwt/builds/23566580), and `Bigarray` `map_file` always worked as well.

[2019-04-03 12:55] aantron opened #687 "Consider Azure Pipelines for CI"

[2019-04-03 13:15] aantron commented on #684
https://github.com/mirage/mmap/pull/4

[2019-04-10 08:04] Lupus opened #689 "Is resolving promise from another thread safe?"
I'm binding some C library via Ctypes, and it expects me to pass a callback that it will call from some background thread. Ctypes can help me register this thread to ocaml runtime and acquire runtime lock, so that I can pass ocaml function there and have it safely executed (at least I hope so, have not tried it yet).

Is it safe to resolve a promise from such callback, running in another (ocaml-re

[2019-04-10 13:10] aantron commented on #689
It's not safe to do that. The reason is that resolving a promise immediately updates Lwt data structures, and can immediately trigger callbacks attached to that promise, and this will all be done in the other thread.

This is problematic in two ways: Lwt assumes that all updates to its data structures are done in the main thread, and so is not internally thread-safe. However, even if it were, the

[2019-04-10 14:39] Lupus commented on #689
Cool, thanks for the info! Looks like [Lwt notifications](https://ocsigen.org/lwt/4.1.0/api/Lwt_unix#2_Notifications) are the recommended way of sending events to the event loop from other threads. I'll give it a go!

[2019-04-12 17:24] #684 closed

[2019-04-12 17:27] Lupus commented on #689
For the reference: Lwt notifications work just fine for sending events from other thread. Along with ctypes thread registration and runtime lock features I'm able to pass ocaml callback to C library which invokes it on some random background thread of its own. That's awesome!

[2019-04-12 17:29] aantron commented on #689
Great, glad you have it working :)

[2019-04-24 08:21] cmkarlsson opened #690 "lwt opam package > 4.1.0 shows version of "dev""
When installing the latest lwt packages the version given by `ocamlfind query` shows version: `dev`

Tested with Ocaml 4.06.1 and 4.07.1.

How to reproduce:
[code]

Having the version as `dev` prevents certain packages from installing correctly (stog).

Looking at the previous releases the lwt.opam file is usually change to show the correct version. Perhaps this was missed in the latest releases?

[2019-04-24 13:37] FardaleM opened #691 "The library Lwt raise CamlinternalLazy.Undefined"
I wrote a piece of code to run computation on multiple machines. A node receive a computation and run it with a call to `Lwt.async`. Some node crash with this error:
[code]

The code can be found [here](https://gitlab.crans.org/arrighi/ocluster)
I don't know if there is a link with this, but the computation running on the node output a lot to stderr.

[2019-04-25 02:10] raphael-proust commented on #691
Are you sure `Lwt.async` is what you want? The documentation of `async` specifically states “[Lwt.async] is misleadingly named. Itself, it has nothing to do with asynchronous execution.”
Are you looking for `Lwt_preemptive.detach` or something of the sort?

Anyway, that doesn't address the exception… Line 796 is about recovering “promise-local” values. These values would not travel across your clu

[2019-04-25 08:26] FardaleM commented on #691
Yes I know, I added `Lwt.async` as a quick patch to an other problem. I need to look at it.

What is a "promise-local" value ?
What run on the cluster is the following:
the node run a server with `Lwt_io.establish_server_with_client_address` that receive computation. A computation is a bash script that will run on the machine. Once the script has been received, the computation is run in the `Lwt.a

[2019-04-25 17:06] aantron commented on #691
Tells us what version of Lwt is installed when this is happening.

If you want us to help you further, please give detailed instructions for how to run whatever test you are running, so we can run it ourselves.

[2019-04-25 17:24] aantron commented on #690
I stopped adding the `version:` field for newer releases, because I vaguely remember an opam maintainer objecting to it, due to redundancy with the opam directory structure. However, that's clearly not fully compatible with Dune's `META` file generation, so I'm adding them back in in ocaml/opam-repository#14043. Thanks.

[2019-04-26 09:37] FardaleM commented on #691
- ocaml : 4.07.1
 - lwt: 4.2.1

I run experiment on 7 nodes + 1 master. This bug appear quite often when I run some computation. The following computation run for 20min. I did not have time to find a smaller and easier example yet.
To reproduce this, you need to compile [this](https://github.com/goderik01/PACE2018) on each node, this will be the main program of the computation. You need to downloa

[2019-04-26 09:48] FardaleM commented on #691
I have two new error. The program was the same but with TL in batch_steiner.sh to 10. Which means the program run for only 10s.
[code]
and
[code]

[2019-04-26 23:10] raphael-proust commented on #691
That second one is a system error that's too many file descriptors open I think. The most likely cause is that you don't close the file descriptors when the program crashes/ends. It's probably unrelated to Lwt.

[2019-05-04 21:12] mseri commented on #690
@aantron I think you should reopen this for now, the submitted fix does not seem to be the correct fix

[2019-05-05 19:04] kit-ty-kate commented on #690
i agree. This should be reopened

[2019-06-12 13:01] kumarharsh commented on #676
@anuragsoni - yup, seems like testing that is the recommended way (as per their core team: https://github.com/microsoft/WSL/issues/423#issuecomment-221627364)

[2019-06-18 00:46] aantron commented on #690
@mseri, @kit-ty-kate, thanks for correcting me. So, what should the `version:` field be set in release sources? I understand that `version: the-actual-version` will work, but I also saw the suggestion to leave it out entirely, and it looks like Dune code you linked does something intelligent in that case.

Is it best to simply delete `version:` fields from the `.opam` files in the repo?

[2019-06-18 01:07] aantron commented on #691
Closing this for now, please re-open if you have more info.

The `CamlinternalLazy.Undefined` error is strange, because what is raised at that line in `map.ml` (part of the compiler standard library) is `Not_found`. This makes me wonder if the exception printer is printing the exception correctly. I wonder if you are marshalling values or exceptions in a strange way.

However, that `Not_found` sho

[2019-06-18 01:07] #691 closed

[2019-06-18 01:08] aantron commented on #691
(however, I think fds are closed automatically by the OS when a process is terminated, so that's not likely to be the underlying issue, at least not in a simple way. the other end of pipes may be holding on to descriptors of dead peers, though)

[2019-06-18 07:19] mseri commented on #690
If you drop the version field altogether, opam will infer it from the environment (you would need to pin it as lwt.dev to make sure you get the dev version installed). I think that that would also be the version used by `dune` if the field is not present.

Otherwise you may need to add a dune profile for the dev environment. I think it would be better to ask one of the dune developers to figure ou

[2019-06-18 13:18] FardaleM commented on #691
Ok, I will try to reduce the code to have a smaller exemple. I was not able to reproduce the error with node and master on the same computer.

I do not use any marshalling. I use json to pass value between node and master.

[2019-07-04 04:44] XVilka opened #695 "Add the missing flags for madvise"
For example:
[code]
Currently there are only:
[code]

There are others as well: https://linux.die.net/man/2/madvise

[2019-07-10 14:59] aantron commented on #690
I propose to simply return to my former practice starting with the next release, which is creating a little release branch with the correct version numbers, and tagging that branch. Hopefully, after a while, almost nobody will be installing 4.2.0 and 4.2.1 anymore.

[2019-07-26 08:32] aantron commented on #686
4.08 testing was restored in Travis in d9810797072d8b493c4494640018407758092efd.

[2019-07-26 08:32] #686 closed

[2019-07-26 08:34] aantron commented on #687
Travis builds seem [decently fast](https://travis-ci.org/ocsigen/lwt/builds/557928186) for now, with speedups in b4b9a3a184f003b2483b35277b92b79c1ceb55a0 and 90c8a2a664ebe6dfc943c4de8b5f69240a3b9a51.

[2019-07-26 08:34] #687 closed

[2019-07-26 08:57] aantron opened #697 "Update the PPX to use the 4.08 ASTs"
- [x] Update constraints in `lwt_ppx.opam`.

[2019-07-26 09:00] aantron opened #698 "Try Lwt with the let* syntax, document it, deprecate the PPX?"

[2019-07-26 09:24] #676 closed

[2019-07-26 10:51] Drup commented on #697
Does it actually need updates ? omp should take care of everything.

[2019-07-26 10:52] Drup commented on #698
The ppx still provides quite a lot more than the let operators: better backtraces (this is still relevant right ?), match, try, ....

[2019-07-26 13:00] aantron commented on #697
This is what I get with the current `lwt_ppx`...

Source:

[code]

[code]

[code]

I guess that's raised [here](https://github.com/ocaml-ppx/ocaml-migrate-parsetree/blob/b7f1862433e598aa9f91f9b96a5639f1caa301e7/src/migrate_parsetree_408_407_migrate.ml#L216-L217).

I think we are supposed to keep up with the latest AST.

[2019-07-26 15:20] #697 closed

[2019-07-26 15:21] aantron commented on #697
The commit does fix the errors showed above.

[2019-07-27 03:29] #689 closed

[2019-07-27 06:35] #631 closed

[2019-07-27 07:01] aantron commented on #570
If we only make `~flags` required, the interface becomes a bit awkward. In

[code]

the user would have to specify both `~flags:[O_RDONLY]` and `~mode:Input`, which seems redundant. Perhaps we should then have the `~mode` argument add `O_RDONLY` to the list, if it or `O_RDWR` is not already present?

Another option might be to switch from using the `Unix` flags to a GADT, where the constructors `O

[2019-07-27 07:06] aantron commented on #477
The version check was removed in 88c745745e27681958cd48ccebf9cd7e179be7bb.

[2019-07-27 07:06] #477 closed

[2019-08-02 14:09] aantron commented on #455
I think the important things here were done by @smithjessk in #544, so closing.

[2019-08-02 14:09] #455 closed

[2019-08-03 03:39] aantron commented on #327
I'm closing this issue for now, because:

- The issue with multiple threads is probably less likely in typical Lwt programs, than even in programs using only `Unix`.
- We haven't had any reports of a problem due to this.

We can reopen and fix later, if necessary.

Here's a link to text about the issue in module `Unix`: https://caml.inria.fr/pub/docs/manual-ocaml/libref/Unix.html#VALset_close_on_e

[2019-08-03 03:39] #327 closed

[2019-08-03 05:49] #698 closed

[2019-08-03 05:51] aantron commented on #690
Closing this. It will be addressed for Lwt > 4.2.1 by the next release.

[2019-08-03 05:51] #690 closed

[2019-08-03 07:16] #466 closed

[2019-08-03 07:17] aantron commented on #153
Addressed in #466.

[2019-08-03 07:17] #153 closed

[2019-08-03 07:20] aantron commented on #485
Closing this for now. We can return to it later.

[2019-08-03 07:20] #485 closed

[2019-08-03 07:52] aantron commented on #141
`Lwt_log` was moved to [another repo](https://github.com/ocsigen/lwt_log) in #511, and is deprecated in favor of [`Logs_lwt`](https://erratique.ch/software/logs/doc/Logs_lwt.html).

[2019-08-03 07:52] #141 closed

[2019-08-03 07:54] aantron commented on #184
`Lwt_unix.with_async_switch` will be deprecated by #572, and probably removed in Lwt 5.0.0.

[2019-08-03 07:54] #184 closed

[2019-08-03 08:07] aantron commented on #29
Closing in favor of the [documentation project](https://github.com/ocsigen/lwt/projects/2).

[2019-08-03 08:07] #29 closed

[2019-08-03 08:23] aantron commented on #360
Closing this, as we've made it an implementation detail, deprecated using it, and can factor it out later as needed.

Also found [psq](https://github.com/pqwy/psq).

[2019-08-03 08:23] #360 closed

[2019-08-03 08:25] aantron commented on #324
Closing this for now due to staleness, please feel free to reopen if needed, or create new issues.

[2019-08-03 08:25] #324 closed

[2019-08-03 08:27] #163 closed

[2019-08-03 09:01] aantron commented on #580
An [example](https://github.com/mirage/alcotest/blob/4c37892065cc829be10bcdd9a7249689f7a68b85/examples/lwt/test.ml) has been added to Alcotest in https://github.com/mirage/alcotest/pull/165 by @CraigFe (thanks!).

[2019-08-03 09:01] #580 closed

[2019-08-04 12:06] aantron commented on #680
@anmonteiro, how does `package.json` typically look for an esy project that's depending on Lwt and libev?

[2019-08-04 15:12] aantron opened #700 "Remove configure.ml"
In favor of passing options directly to the new `discover.ml`. See #699.

[2019-08-04 15:51] aantron commented on #283
I'm closing this issue. Thanks for all the discussion.

- All variants of `cancel` I know of, including the Lwt one, complicate programming. Users rarely understand what `cancel` really does. Library authors have to put in effort to make sure `cancel` semantics are preserved for users across library function calls. Readers and contributors are burdened with understanding `cancel` semantics, if a c

[2019-08-04 15:51] #283 closed

[2019-08-04 15:52] aantron commented on #415
Closing with the explanation in https://github.com/ocsigen/lwt/issues/283#issuecomment-518014539.

[2019-08-04 15:52] #415 closed

[2019-08-04 19:00] aantron commented on #361
Closing this until there is a doubly-linked list in the standard library, or in another library that is likely to be published to system package managers.

I originally wanted to make Lwt depend on [lwt-dllist](https://github.com/mirage/lwt-dllist), which is `Lwt_sequence` factored out of this repo. However, adding more little dependencies seems like a bad idea in light of this comment: https://gi

[2019-08-04 19:00] #361 closed

[2019-08-04 19:04] aantron commented on #343
Closing this. We're more likely to use libuv for Lwt first (#328). In the meantime, we can handle missing functions on an as-needed basis.

[2019-08-04 19:04] #343 closed

[2019-08-04 19:09] aantron commented on #445
Closing this. In light of https://github.com/ocsigen/lwt/issues/283#issuecomment-518014539, I think it's better not to add new helpers that do cancellation to the Lwt API itself (they can remain as helpers in projects that use Lwt, though).

We may still want a `join` that fails as soon as the first promise fails, but we can open a separate issue for that.

[2019-08-04 19:09] #445 closed

[2019-08-04 19:14] aantron commented on #642
Closing due to lack of feedback. Please reopen if needed.

[2019-08-04 19:14] #642 closed

[2019-08-04 19:30] aantron commented on #250
Closing, as there are no plans to do anything with/about `Lwt_stream` for now.

[2019-08-04 19:30] #250 closed

[2019-08-05 06:29] aantron commented on #310
The biggest part of this was done by @Drup in #548.

[2019-08-05 06:29] #310 closed

[2019-08-05 06:33] aantron commented on #570
We decided to close this again. A better API can be made than the existing `openfile`, but it's difficult to gradually change `openfile` into it:

- Making `~flags` required breaks only some users, but the result is an awkward API, perhaps not worth the breakage.
- Changing `openfile` more thoroughly breaks all users.

So, it seems best to keep the flaws of `openfile` in mind if/when designing a r

[2019-08-05 06:33] #570 closed

[2019-08-05 07:42] #58 closed

[2019-08-05 13:53] hcarty commented on #570
From an separate discussion with @aantron - A useful longer term plan could be to create a Lwt equivalent of [bos](https://erratique.ch/software/bos).  Specifically the [Bos.OS](https://erratique.ch/software/bos/doc/Bos.OS.html) portion of the library.

That work could be done separately from core Lwt.  If there's demand the code could be proposed for inclusion in Lwt itself.

[2019-08-06 00:04] #583 closed

[2019-08-06 00:59] aantron commented on #594
I searched opam and GitHub, and found the following repos using [`Lwt_unix.send_msg`][send_msg] and/or [`Lwt_unix.recv_msg`][recv_msg]:

- [avsm/ocaml-workflow](https://github.com/avsm/ocaml-workflow). I think this is abandoned.
- [isakmp/ike](https://github.com/isakmp/ike)
- [let-def/ocamp](https://github.com/let-def/ocamp)
- [ocaml-community/obus](https://github.com/ocaml-community/obus)
- [xapi

[2019-08-06 01:57] aantron commented on #685
Done.

[2019-08-06 01:57] #685 closed

[2019-08-06 05:28] #178 closed

[2019-08-06 06:19] aantron commented on #683
This is a bug in `Unix` on Windows. See https://github.com/ocaml/ocaml/issues/8857.

[2019-08-06 06:19] #683 closed

[2019-08-06 07:08] hannesm commented on #594
fine with me, haven't worked on ike for quite some time (and will adapt once i find time to work on it again)..

[2019-08-06 08:02] Freyr666 commented on #594
@aantron Regarding `obus` I think it's not hard to fix, so there should be no problems, I suppose.

[2019-08-06 08:22] aantron opened #701 "Try using Alcotest"
Now that https://github.com/mirage/alcotest/issues/119 is solved by https://github.com/mirage/alcotest/pull/167 (thanks @CraigFe!), we should be able to use Alcotest for the test suite.

We probably can't use `alcotest-lwt` itself, because of dependencies during its installation. However, we can duplicate [this simple code](https://github.com/mirage/alcotest/blob/5176781845aee272a3d71a7dca50a24f82

[2019-08-06 08:33] CraigFe commented on #701
Cool; good to see Alcotest getting another user. Let us know if we can make any improvements on the Alcotest side :slightly_smiling_face:

My next thoughts for an Lwt-related improvement would be https://github.com/mirage/alcotest/issues/166, which would likely allow backends to pass something like an `Lwt.catch` handler.

[2019-08-06 09:03] aantron commented on #701
Thanks.

https://github.com/mirage/alcotest/issues/166 would indeed be nice.

In the long term, https://github.com/mirage/alcotest/issues/120 could be useful, in case we resurrect the Lwt BuckleScript/JS branch (https://github.com/aantron/lwt-branches/blob/js-promises/src/core/lwt.ml#L32).

[2019-08-06 09:03] #311 closed

[2019-08-06 11:19] mseri commented on #594
@aantron for xapi it should not be a problem (ping also @lindig)

[2019-08-06 11:20] let-def commented on #594
@aantron fine with me too.

[2019-08-06 11:45] lindig commented on #594
The exposure in xapi-project to this function is minimal. I would support changing the API and to fix the clients. (ping @edwintorok)

[2019-08-06 16:46] edwintorok commented on #594
I'd be happy to update the xapi related repos to the new API, thanks for the heads up.

On 6 August 2019 12:45:20 BST, Christian Lindig <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-08-06 17:25] pmetzger commented on #594
I assume you're asking me about obus because it's in ocaml-community. I've not hacked on it before but it seems doable. @Freyr666 might have an opinion on that.

[2019-08-06 18:10] aantron commented on #594
Thanks, all! I'll ping here again when there is some action that can be taken on this issue, with information. It will be after the 4.3.0 release (which you can ignore), and again after 5.0.0, so you don't have to track Lwt closely on your end :)

[2019-08-13 07:08] aantron opened #703 "Release 4.3.0 around 20 August 2019"
See https://github.com/ocsigen/lwt/compare/4.2.1...master.

[2019-08-20 12:11] aantron commented on #700
Usage information for the new `discover.ml` is found in its code:

https://github.com/ocsigen/lwt/blob/294b72acd3717b1678dd2667db9eb604ef6ffe81/src/unix/config/discover.ml#L27-L49

[2019-08-20 18:29] aantron commented on #603
This message is to notify of an upcoming breaking change in Lwt. Around November of this year (2019), Lwt 5.0.0 will be released, and the signature of [`Lwt.async`](https://github.com/ocsigen/lwt/blob/705a206ad64149be6cc93bb1447ce22fd14017ca/src/core/lwt.mli#L792) will change from

[code]

to

[code]

See this very issue, https://github.com/ocsigen/lwt/issues/603, for discussion.

A build of rever

[2019-08-20 20:00] aantron commented on #703
- Changelog: https://github.com/ocsigen/lwt/releases/tag/4.3.0
- opam PR: https://github.com/ocaml/opam-repository/pull/14711

[2019-08-21 06:34] aantron commented on #700
`configure.ml` will be deleted in Lwt 5.0.0, which is to be released around November 2019. It is subsumed by the newly improved `discover.ml`, which was released just now in Lwt 4.3.0.

If you are using `configure.ml`, see the new `discover.ml` usage for how to pass arguments to the configuration process:

https://github.com/ocsigen/lwt/blob/294b72acd3717b1678dd2667db9eb604ef6ffe81/src/unix/config

[2019-08-21 06:39] aantron commented on #594
4.3.0 has just been released, preparing for making this breaking change in Lwt 5.0.0 in November 2019 (in three months). If you'd like a soft upgrade path, you can replace calls to `Lwt_unix.recv_msg`

https://github.com/ocsigen/lwt/blob/705a206ad64149be6cc93bb1447ce22fd14017ca/src/unix/lwt_unix.cppo.mli#L930-L933

now by calls to `Lwt_unix.Versioned.recv_msg_2`:

https://github.com/ocsigen/lwt/bl

[2019-08-21 06:42] aantron commented on #584
Additional breaking changes were announced by [Lwt 4.3.0](https://github.com/ocsigen/lwt/releases/tag/4.3.0):

- The signature of [`Lwt.async`](https://github.com/ocsigen/lwt/blob/705a206ad64149be6cc93bb1447ce22fd14017ca/src/core/lwt.mli#L792) will change to `(unit -> unit Lwt.t) -> unit` (https://github.com/ocsigen/lwt/issues/603#issuecomment-523139684). Maintainers have been notified in that iss

[2019-08-21 06:53] #703 closed

[2019-08-22 22:13] toots commented on #700
Hi! Thanks for the heads up. As far as I can tell we are compiling using the dune mechanism without much change except passing `-x windows` so, so far, it looks fine on my end (windows cross-compilation).

[2019-08-30 21:19] chambart commented on #572
I'm all for removing Async_switch. It was a neat trick, but is a too brittle to seriously consider keeping. But Async_none has its uses. There are not that many system call that are completely blocking for an unbounded time. Most of the things that doesn't have a usable non-blocking equivalent are disk IO, which are often fast enough not to care. In particular, if the disk cache has a good hit-rat

[2019-08-30 21:25] aantron commented on #572
Thanks. I'll see about keeping `Async_none` somehow, maybe through a simpler API, or just the environment variable.

[2019-09-02 16:16] chambart commented on #572
Thanks, I would be happy with only the environment variable

[2019-09-03 14:00] ygrek opened #704 "Lwt_unix calls get stuck after Lwt_unix.fork"
Consider
[code]

with lwt from git master and glibc 2.28 (current debian stable, problem doesn't reproduce on glibc 2.24 from previous stable) the process gets stuck in the middle of the loop :
[code]

[code]

The following diff fixes it :
[code]

PS the only commit in glibc that touches condition variables between those two versions is https://github.com/lattera/glibc/commit/ed19993b5b0d05d62cc88

[2019-09-03 14:05] aantron commented on #704
Thanks for the report!

[2019-09-05 09:10] aantron opened #705 "Speed up the Travis builds (again)"

[2019-09-05 09:11] aantron opened #706 "Build development docs in Travis"
We already have the `wikidoc` branch. We just need commits to `master` to generate the `.wiki` docs and commit back from Travis into the `wikidoc` branch.

- [x] Limit to branch `master`.
- [x] Limit to one build row.
- [x] Limit to non-cron jobs.

[2019-09-05 19:00] aantron opened #708 "Run tests concurrently and/or parallelize the test suite"

[2019-09-05 19:19] #705 closed

[2019-09-05 19:20] aantron opened #709 "Fix AppVeyor caching"
AppVeyor builds currently take 9 minutes, due to broken caching setup.

[2019-09-06 05:49] Lupus opened #710 "Lack of location information in match%lwt"
I've ran across unpleasant type error from OCaml 4.06.1 when working on ReasonML/Lwt application:

[code]

After some guessing I was able to find the root cause and fix it, and identified a code pattern that triggers this issue. The following Reason code works as a repro in my environment (lwt_ppx 1.2.2):

[code]

[2019-09-06 05:57] aantron commented on #710
Thanks for the report! I will take a look soon. I'm currently speeding up the CI and testing (#709, #708, #707) to make working on Lwt easier, then I will look at this in detail.

[2019-09-06 06:48] Lupus commented on #710
CI is important. I wouldn't call this bug critical, more of annoying, so it can wait :) Thanks!

[2019-09-06 07:40] #709 closed

[2019-09-06 16:25] #708 closed

[2019-09-06 17:31] aantron opened #713 "Use caching to speed up the build in branch wikidoc"
..aargh.

- [x] Use `opam clean`?
- [x] Set up cron?

[2019-09-06 17:39] aantron commented on #706
9f025438e511889525b2134be69d43d9e0f3b436

Building on 4.07 for now because of https://github.com/ocsigen/wikidoc/issues/10.

[2019-09-06 17:39] #706 closed

[2019-09-06 18:23] aantron commented on #713
4664aa5c5ba1e9831d8bfe1cabf690afb211b386

[2019-09-06 18:23] #713 closed

[2019-09-06 20:36] aantron commented on #710
This looks like a problem with Reason. Compare the files and outputs below. I opened https://github.com/facebook/reason/issues/2446 about it. I'm closing this issue, but please do reopen if I've made a mistake here :)

1. `foo.re`:

[code]

    `dune build ./foo.exe`:

[code]

    `refmt foo.re --print=ast`:

[code]

2. `bar.re`:

[code]

    `dune build ./bar.exe`:

[code]

    `refmt bar.re --pr

[2019-09-06 20:36] #710 closed

[2019-09-06 21:03] aantron commented on #701
Closing for now, in favor of watching the Alcotest repo.

[2019-09-06 21:03] #701 closed

[2019-09-08 02:51] aantron commented on #704
@ygrek, I haven't been able to reproduce this so far.

I created a fresh VM, installed Debian stable, and have

[code]

I checked out this repo and installed packages `lwt` and `lwt_ppx` from `master` (9f02543). I pasted the code you have provided and built it with `ocamlfind opt`. I ran it many times, and it always runs to completion, until `loop 10 of 10`, and the exit status is zero.

[2019-09-08 03:08] aantron commented on #572
I looked in more detail, and I am now leaning towards making `Async_switch` be effectively a synonym for `Async_detach` in 5.0.0, and leaving `Async_none` working as now. I'll experiment with `Async_none` some more, and perhaps un-deprecate it. Once the code implementing `Async_switch` is gone, it should also be much clearer what to do next (probably nothing :)).

[2019-09-08 11:25] aantron commented on #704
This was with opam 2.0.5 from the GitHub release binaries, and OCaml 4.08.1 compiled by opam. I didn't use the system packages.

[2019-09-18 07:26] vog opened #714 "Broken Backtraces"
The following Lwt program produces the expected backtrace:

[code]
[code]

However, when switching the order of lines 2 and 3, the backtrace is broken:

[code]
[code]

The expected output would have been:

[code]

**Is this a bug in Lwt? If not, what am I doing wrong?**

I was able to reproduce this issue with `lwt` 4.3.0 and `lwt_ppx` 1.2.3 on vanilla `ocaml` 4.08.1 and used the following `dune`

[2019-09-18 09:41] aantron commented on #714
Thanks for the report. I'm looking into this. It might take more than a few hours, because the solution might be to fundamentally improve Lwt's backtrace handling, not sure yet :)

[2019-09-18 17:04] ygrek commented on #704
ftr this was reproduced with ocaml 4.08.1 independently. I will try to find more deterministic repro

[2019-09-18 18:58] aantron commented on #704
If it can help find the difference, I had

[code]

[2019-09-18 19:00] aantron commented on #704
Ah, the `SMP` in the output made me check the processor count. I can reproduce it with multiple CPUs (4). I had only 1 CPU allocated to the VM.

[2019-09-19 10:10] #704 closed

[2019-09-19 10:10] aantron commented on #704
I've applied your patch to fix this (confirmed in VM). I'll include it in a release after also addressing #714.

I tried bisecting glibc to figure out exactly what is causing this, but it seems that this will take more time than I have available, including because I have to do it in a VM due to my setup [not supporting glibc development](https://stackoverflow.com/questions/55355885/error-trying-to

[2019-09-19 10:10] aantron commented on #704
Again, thanks!

[2019-09-19 13:58] ygrek commented on #704
iiuc what happens the condition variables are in undefined state after fork. I would not claim this is incorrect in face of all the fork+pthreads interaction caveats and guidelines.

[2019-09-20 12:08] aantron commented on #714
To address the particular problem in the issue, try this change:

[code]

This gives me the output:

[code]

The issue is that `Lwt.fail_with` (and `Lwt.fail`) do not themselves capture a backtrace. I updated the docs in the second attached commit to recommend against using them, and to raise exceptions using `raise` or other functions that call `raise`, such as `failwith`.

While debugging this,

[2019-09-20 13:42] vog commented on #714
I replaced `Lwt.fail_with` with `failwith`, using the original Lwt version, but the backtrace is still broken.

Is there a simple way to test against the latest `master` of Lwt? (I'm using OPAM with a project-local OPAM switch `_opam`, as well as Dune.)

Or, does it make more sense for you to release Lwt 4.3.1 first, so I'll against the new release?

[2019-09-20 13:57] aantron commented on #714
Yes, in your switch (in the project directory), run

[code]

[2019-09-20 13:59] aantron commented on #714
Once testing with `master`, would you check if the minimal example you originally provided in this issue is fixed? If so, could you find a new minimal example? It's likely that there are multiple underlying causes, and each has to be eliminated to improve the backtrace. Each will need a new minimal example.

[2019-09-20 14:03] aantron commented on #695
Closing; see https://github.com/ocsigen/lwt/pull/696#issuecomment-533567188.

[2019-09-20 14:03] #695 closed

[2019-09-20 14:09] vog commented on #714
It still fails after pinning Lwt to master. I'll provide a new minimal example.

[2019-09-20 18:28] lebotlan opened #715 "Lwt_io.eprintf blocks forever (used with ocsigen and eliom)"
Hi,

(Sequel to a discussion on gitter)
Here is a short program which uses lwt and ocsigen/eliom (see README in attached tgz).

In short:

make
./ocsigen    (it launches ocsigen with the expected config file)

On my computer, it hangs forever on the first Lwt_io.eprintf line.
Curiously, if I lift all the Lwt_io.printf to top-level let%lwt lets, then it hangs earlier, on Lwt_io.printf (so it seems

[2019-09-20 18:40] aantron commented on #715
@lebotlan I haven't looked at the dependencies of the project, but generally you would create a directory with this structure:

[code]

The `dune-workspace` file turns `root_directory/` into a Dune workspace. When linking, Dune will favor sibling projects in the workspace over anything installed in opam, and it will do the minimum recompilation needed to satisfy whatever command you are using to b

[2019-09-20 18:42] aantron commented on #715
Also, the easiest way to get the Lwt commit you are using, is to `cd` into `lwt`, and do `git log`. Look at the hash on the first line. I'm not familiar with `2.4.3-1208-gf1fe076`, where did that string come from?

[2019-09-20 19:59] lebotlan commented on #715
2.4.3-1208-gf1fe076  comes from git describe --tags

I am using commit f1fe076202eff1cd27de478b20939a0ef8a710fc

OK to include lwt in the dune workspace. I had tried it earlier, but the code used to depend on many libraries and dune complained about inconsistent modules... It should be easier now that the code is minimal.

By the way, I could reproduce the bug on glibc 2.27, lwt 4.3.0.

[2019-09-20 21:13] vog commented on #714
Minimal example:

[code]

Dune file:

[code]

Output:

[code]

Alas I was unable to get rid of the Caqti dependency. Every further simplification or replacement of the Caqti calls made the bug disappear.

[2019-09-20 21:17] aantron commented on #714
Have you tried simplifying Caqti as well? If you are doing this in a Dune workspace, it should be fairly easy to undo most of Caqti (if you haven't done so yet).

This is what I ended up doing earlier to find the `Lwt_pqueue` bug. I basically progressively inlined bits of Lwt into the repro case, deleting irrelevant parts as I went.

[2019-09-21 21:07] vog commented on #714
Sorry for asking again perhaps simple questions about Opam and Dune, but:

Which steps are needed to edit Caqti?

I tried to edit some file in `_opam/lib/caqti-lwt/*.ml` and `_opam/lib/caqti/*.ml` and rebuild with `dune build`, but the modified Caqti wasn't rebuilt ... which doesn't surprise me, as Caqti is managed by Opam and not by my Dune file. What's the correct way to build with a locally mod

[2019-09-21 23:17] aantron commented on #714
Since the code is already pretty simplified, you could just put the repro case directly into a clone of the Caqti repo as a new executable, and build it there, while simplifying Caqti (and the case, hopefully).

For a more complex case, you should be able to make a Dune workspace that looks like this:

[code]

`dune build` should then prefer the copy of Caqti in `workspace/caqti/`.

This structure

[2019-09-21 23:19] aantron commented on #714
You can also build modified Caqti with opam, using an opam pin of the Caqti repo, but this is a much slower workflow, because you will have to fully compile and reinstall Caqti after each change. With a Dune workspace, you get incremental builds.

[2019-09-23 07:42] vog commented on #714
Uh-oh, it seems that `caqti-lwt` (which is the part of Caqti I chose to inline first) won't build with OCaml 4.08.1:

[code]

I wonder how OPAM managed to install Caqti in my 4.08.1 switch, where it successfully compiled and worked flawlessly (except for the backtraces).

I'll retry with a 4.07 and 4.06 switch, but there must be a better way, as it obviously *is* possible to compile it with 4.08,

[2019-09-23 08:13] Lupus commented on #710
Sorry for late reply, some troubles with email -- missed the notification. Thanks for looking into this! Results you presented look quite convincing that there's an issue with Reason.

[2019-09-23 08:49] XVilka commented on #714
I met this problem before, see: https://discuss.ocaml.org/t/ocaml-and-backtraces/3542/7

[2019-09-23 09:02] vog commented on #714
I'm now using an OCaml 4.07.0 switch. The issue is still reproducible, and I can test with a custom Caqti build. However, simplifying and reducing Caqti is not straight forward ...

[2019-09-23 09:47] avsm opened #717 "build: quieten the Lwt configure pass"
When embedding Lwt in larger dune workspaces, the configure script output is one of the few pieces of information emitted to stdout.  The convention in dune is to only output warnings to the standard output/error, and to document the target which can be manually read in order to debug/check.

In Lwt's case, we could quieten this output:

[code]

and document in the README the `_build/<config file>

[2019-09-23 10:31] #717 closed

[2019-09-23 10:31] aantron commented on #717
I silenced the configure script unconditionally for now. The printing code is still there, but it depends on a flag. I haven't exposed this flag in any way (such as through an environment variable), because I doubt anyone uses this output. If that's wrong, we can easily expose it on request.

The emitted config files are not so useful at the moment. I think the current configure script only emits

[2019-09-23 10:40] aantron commented on #714
@vog the difference is that when opam installs a package, it is installed in release mode, where most warnings remain warnings. So, those deprecation warnings are written to a log file, which you never see. When you build a package locally, it is built in development mode by default, in which deprecation warnings are errors.

[2019-09-23 10:45] aantron commented on #714
I opened https://github.com/paurkedal/ocaml-caqti/issues/29 on Caqti about that.

[2019-09-23 15:14] aantron commented on #714
`Lwt.fail` is probably correct here, and `try%lwt` will expand to similar code anyway. What I suspect is most likely happening, is that, in this code, or code similar to it, by the time `exn` is being handled, another exception has already been raised, and has clobbered the backtrace that was recorded when `exn` was originally handled.

If that turns out to be the case, then we need to do the full

[2019-09-23 16:02] vog commented on #714
That poll function turned out not to be actually used by my minimal example.

The current state is that I fully inlined Caqti, removed a lot of code, and I'm down to 722 lines. Due to dynamic stuff, as well as OCaml not checking unused parts of module types (just of modules), going further down is a bit tricky.

[2019-09-23 16:09] aantron commented on #714
That's a lot of minification :) If you get really stuck, please upload your remaining case to a gist, with clear instructions on how to reproduce the environment in which it is built, and I can take over.

[2019-09-23 16:35] vog commented on #714
Thanks! I'm down to 677 lines. This is the Gist:

https://gist.github.com/vog/c0ee4cff2aeff4840b4e6c947f7a7ec2

The "run" shell script contains the instructions.

[2019-09-23 22:08] copy opened #718 "Lwt 4.3 breaks compilation with musl"
To reproduce:

[code]

Looks like `lwt_unix.cmxa` adds `/usr/lib` to the search path:

[code]

In 4.2.1 it works fine:

[code]

This switch uses musl-gcc, which uses its own search path. It isn't compatible with objects from `/usr/lib` which were compiled with glibc.

<hr>

Relatedly, when installing conf-libev, I need to pass `C_INCLUDE_PATH` and `LIBRARY_PATH` even though my compiler already has

[2019-09-23 23:16] aantron commented on #718
This is probably related to the new discover.ml (#699). Perhaps the new code is clean enough that you may be able to eyeball the problem...

https://github.com/ocsigen/lwt/blob/1f97720338b6cd65657f5c07ac0792fdf659d8fe/src/unix/config/discover.ml#L170-L178

The whole surrounding module is responsible for search paths.

[2019-09-24 14:27] aantron commented on #714
I was able to reduce the case to:

[code]

It can probably be reduced even further, but by this point, I already knew that the culprit is `Lwt.get`, because it uses an exception (from stdlib's `Map`) internally for control flow:

https://github.com/ocsigen/lwt/blob/25d31d62d2dcfb19d26cd79432918b3f3595a525/src/core/lwt.ml#L794-L802

A fix is attached, above.

Before the fix, the above code results

[2019-09-24 19:00] copy commented on #718
I'm no expert in these configuration scripts, but what would work best for musl-gcc is if the configure script first compiled the test code without `-L` or `-I` flags, only with `-llibrary`. The compiler then uses its own baked-in library and header paths and the entire configuration is controlled through the CC variable.

[2019-09-25 10:47] aantron commented on #718
@copy, am I right in guessing that the `conf-libev` problem is a long-standing issue, that was present also before Lwt 4.3.x? Regardless, I will make a PR to fix that, too.

[2019-09-25 10:57] aantron commented on #718
Where is `ev.h` installed on your system, or for musl-gcc?

I get:

[code]

This is under Ubuntu, with no libev installed specifically for musl-gcc to use, so it's what I'd expect.

[2019-09-25 11:42] aantron commented on #718
I can't reproduce the `conf-libev` issue. I removed my system libev (prefix `/usr`) to be sure it can't be found, and built and installed a musl libev (``CC=musl-gcc ./configure --prefix=`pwd`/install``, checked output to be sure, and moved headers to `/usr/include/x86_64-linux-musl`, libraries to `/usr/lib/x86_64-linux-musl`). Then, in a clone of `opam-repository`, in `packages/conf-libev/conf-li

[2019-09-25 12:13] vog commented on #714
I just re-tested with my real code and can confirm that the latest Lwt master is a huge improvement!

Although there are still missing parts in the backtrace (as you described yourself), the backtrace is now good enough to find most errors immediately. No more guessing around. Thanks!

For further analysis of the remaining issues, I propose the following additional minimal test case which produces

[2019-09-25 12:20] aantron opened #720 "Explicit backtrace handling"
This issue is about looking into storing backtraces explicitly in rejected promises and explicitly extending them during rejection propagation by `bind`, etc. If this can work, it amounts to a rewrite of Lwt's backtrace handling, and may make the PPX unnecessary for backtraces.

See https://github.com/ocsigen/lwt/issues/714#issuecomment-534992522 for a starting test case.

[2019-09-25 12:23] aantron commented on #714
Good :) I opened #720 about "true" backtrace handling by Lwt, which is probably needed to solve remaining issues. That will be a medium-sized project for this repo, and I'm not sure yet if it can be made to work. So, I'm going to put that off for a 4.4.0 release, close this issue, and release the patches from this issue in Lwt 4.3.1 soon. I linked your test case from #720. Thanks for reporting thi

[2019-09-25 12:23] #714 closed

[2019-09-25 14:36] copy commented on #718
That's correct.

Right, in my case I do have a system libev (since I also use non-musl switches), which the current conf-libev discover script tries to compile with musl-gcc, fails and then gives up.

[2019-09-25 18:35] aantron commented on #718
@copy, can you get `discover.ml` from [this gist](https://gist.github.com/aantron/bf68582c94bc681e23b6a1dd5e2b6379), run `ocaml discover.ml`, and tell me if it detects your musl libev correctly? It is my proposed fix to `conf-libev`. If you're curious, the actual diff is included at the bottom of the gist as `patch.diff`.

[2019-09-25 21:01] aantron commented on #715
I see several extensions in your `site.conf`, like dbm. Can you remove them and still reproduce the bug? This should greatly reduce the amount of code we are searching.

You should be able to proceed efficiently by moving your code right into ocsigenserver. Begin by doing `git clone https://github.com/ocsigen/ocsigenserver`, then put your site right into the `ocsigenserver` directory. Working dire

[2019-09-25 21:16] aantron commented on #715
If you can inline this example into ocsigenserver, and then simplify ocsigenserver + your example until ocsigenserver is no longer using a command pipe, pid files, or reading an external config, I should be able to take over from there. Right now, I am having trouble running the example on my system, because ocsigenserver is having some permissions issue with the command pipe. Once ocsigenserver i

[2019-09-26 09:39] copy commented on #718
@aantron Yes, this discover script detects my libev correctly, cheers!

[2019-09-26 09:57] aantron commented on #718
Thanks!

The conf-libev patch is in https://github.com/ocaml/opam-repository/pull/14913, and I will release the Lwt changes in 4.3.1 shortly.

[2019-09-26 09:57] #718 closed

[2019-09-27 08:11] olafhering opened #721 "tests fail in getlogin"
Pull request #673 added three tests. But they fail in an automated, isolated environment. While there is a user `abuild`, the tests expect something that is not present:

[code]

There are no error messages that give hints what might go wrong, also an strace does not give hints what might be missing.

This is with ocaml 4.05 in openSUSE Build Service.
[devel:languages:ocaml/ocaml-lwt](https://buil

[2019-09-27 09:42] aantron commented on #721
Thanks! These messages do tell what's wrong; the `getlogin` call in the tests resulted in `ENOENT`. These tests need to be skipped in some environments. We already had code for doing that; I just generalized it in `master` to skip the tests in more cases. See the linked commit, above.

Are you able to easily test Lwt `master` in your environment? Do you need a speedy 4.3.2 release?